
ALTER PROCEDURE [dbo].[spGetAllUsersActive]
AS
BEGIN
	SELECT
		users.nDirKey AS id,
		-- Inline fxn_getStatus: nStatus != 1 always qualifies; nStatus = 1 requires date range check
		CASE
			WHEN audit.nStatus != 1 THEN audit.nStatus
			WHEN (
				(audit.dPublishDate IS NULL OR audit.dPublishDate = 0 OR audit.dPublishDate <= GETDATE())
				AND (audit.dExpireDate IS NULL OR audit.dExpireDate = 0 OR audit.dExpireDate >= GETDATE())
			) THEN audit.nStatus
			ELSE 7
		END AS Status,
		users.cDirName AS Username,
		users.cDirXml AS UserXml,
		-- Inline fxn_getUserCompanies: set-based string aggregation replacing cursor
		ISNULL(STUFF((
			SELECT ', ' + c.cDirName
			FROM (
				SELECT DISTINCT dc.cDirName
				FROM dbo.tblDirectoryRelation r
				INNER JOIN dbo.tblDirectory dc
					ON r.nDirChildId = users.nDirKey
					AND r.nDirParentId = dc.nDirKey
					AND dc.cDirSchema = 'Company'
			) c
			ORDER BY c.cDirName
			FOR XML PATH(''), TYPE
		).value('.', 'nvarchar(max)'), 1, 2, ''), '') AS Companies,
		-- Inline fxn_getUserDepts (@showCompany=0): set-based string aggregation replacing cursor
		REPLACE(
			ISNULL(STUFF((
				SELECT ', ' + d.DeptName
				FROM (
					SELECT DISTINCT dc.cDirName AS CompanyName, dd.cDirName AS DeptName
					FROM dbo.tblDirectoryRelation ud
					INNER JOIN dbo.tblDirectory dd
						ON ud.nDirChildId = users.nDirKey
						AND ud.nDirParentId = dd.nDirKey
						AND dd.cDirSchema = 'Department'
					INNER JOIN dbo.tblDirectoryRelation dc2c
						ON dc2c.nDirChildId = dd.nDirKey
					INNER JOIN dbo.tblDirectory dc
						ON dc2c.nDirParentId = dc.nDirKey
						AND dc.cDirSchema = 'Company'
				) d
				ORDER BY d.CompanyName, d.DeptName
				FOR XML PATH(''), TYPE
			).value('.', 'nvarchar(max)'), 1, 2, ''), ''),
		'&amp;', '&') AS Departments
	FROM dbo.tblDirectory users
		INNER JOIN dbo.tblAudit audit
			ON users.nAuditId = audit.nAuditKey
			AND users.cDirSchema = 'User'
			AND (audit.nStatus = 1 OR audit.nStatus = -1)
	ORDER BY users.cDirName
END