<?xml version="1.0"?>
<mailinglist>
  <add key="MessagingProvider" value="" />
  <add key="RootPageId" value="13" />
  <add key="MailingXsl" value="" />
  <add key="SenderEmail" value="trevor@eonic.co.uk" />
  <add key="SenderName" value="Eonic Web Design" />
  <add key="BCCLimit" value="20" />
  <add key="PickupHost" value="127.0.0.1" />
  <add key="PickupLocation" value="C:\Inetpub\mailroot\Pickup" />
  <add key="Pop3Server" value="64.85.1.8" />
  <add key="Pop3Acct" value="test@eonic.co.uk" />
  <add key="Pop3Pwd" value="barrytest" />
  <add key="ApiKey" value="5fa4fdbe9d1ca52d8b86b64f9fd15194" />
  <add key="ClientID" value="2c796ad367318c26da9143476f341d93" />
  <add key="CMUsername" value="trevor@eonic.co.uk" />
  <add key="ReplyEmail" value="trevor@eonic.co.uk" />
  <add key="CMP" value="" />
</mailinglist>

    