/*############### SLIDE CAROUSEL #################*/
.normalMode .module-SwiperCarousel {
    .swiper-slide .ptn-edit {
        position: absolute !important;
        top: 0px;
        right: 0;
    }

    .ptn-edit {
        z-index: 10;
    }

    .over-content {
        margin: 0;
    }
}

.module-SwiperCarousel {
    //slides
    .swiper-slide-padding {
        @include media-breakpoint-up(sm) {
            padding: 50px 50px;
        }

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
    }

    .swiper-slide > a {
        text-decoration: none;

        .swiper-caption.plain-slide,
        .swiper-caption.nobg-slide {
            color: #fff;
        }
    }

    .swiper-caption {
        &.plain-slide,
        &.nobg-slide {
            color: #fff;
            text-shadow: 1px 1px #000;
        }

        .swiper-btn-left {
            float: left;
        }

        .swiper-btn-centre {
            margin: 0 auto;
            display: inline-block;
        }

        .swiper-btn-right {
            float: right;
        }
    }

    [class*="bg-"] {
        padding: 15px 20px;
        //color: color-contrast(#fff);

        *:first-child {
            margin-top: 0;
        }

        *:last-child {
            margin-bottom: 0;
        }
    }
    //controls
    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: 30px;
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        color: #fff;
    }

    .swiper-pagination-bullet-active {
        background-color: #fff;
    }
    //general
    .swiper-container {
        padding: 0;
    }

    div[class*='tint'] {
        &:before {
            z-index: 1;
            background: rgba(0, 0, 0, 0.7);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .swiper-caption-inner {
            color: color-contrast($dark);
            z-index: 2;
            position: relative;
        }
    }

    div[class*='light-tint'] {
        &:before {
            background: rgba($light, 0.7);
        }

        .swiper-caption-inner {
            color: color-contrast($light);
        }
    }

    div[class*='primary-tint'] {
        &:before {
            background: rgba($primary, 0.7);
        }

        .swiper-caption-inner {
            color: color-contrast($primary);
        }
    }

    div[class*='secondary-tint'] {
        &:before {
            background: rgba($secondary, 0.7);
        }

        .swiper-caption-inner {
            color: color-contrast($secondary);
        }
    }

    div[class*='info-tint'] {
        &:before {
            background: rgba($info, 0.7);
        }

        .swiper-caption-inner {
            color: color-contrast($info);
        }
    }
}
