.lightbox-link {
    position: relative;
    display: block;
    cursor: pointer;
}

.align-items-center figure {
    text-align: center;
}

.align-items-right figure {
    text-align: right;
}

.align-items-left figure {
    text-align: left;
}