//Sticky footer
html, body {
    height:100%!important;
}
body {
    justify-content: space-between;
    flex-direction: column !important;
    height: 100% !important;
    display: flex !important;
}
//end sticky footer
.hidden {
    display:none;
}
@mixin btn-spacing($space:4px) {
    margin-left: -$space;
    margin-right: -$space;

    .btn {
        margin-left: $space;
        margin-right: $space;
        margin-bottom: $space*2;
    }
}
.btn-spacing {
    @include btn-spacing();
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

form.xform {


    legend {
        font-size: 1.25rem;
    }

    .principle {
        float: right;
    }

    .popoverContent {
        display: none;
    }

    .form-margin {
        margin-bottom: 1rem;
    }

    label {
        font-weight: 300;
    }

    label.form-label {
        font-weight: 400;
    }

    .readonlyvalue {
        margin-left: 5px;
    }

    .inline-select > legend {
        font-size: 1rem;
    }
    //ACCORDION FORM
    .accordion {
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
        margin-top: 8px;

        > .form-label {
            display: none;
        }

        .accordion-button {
            background: $admin-primary;
            color: #fff;
            border-bottom: 1px solid #0089a7;
            border-bottom: 1px solid darken($admin-primary,5%);

            i {
                min-width: 1.5rem;
            }

            label {
                margin-bottom: 0;
                font-weight: 400;
                font-size: 1.1rem;
            }
        }

        .accordion-item {
            border: 0;
        }
    }
    //TABBED FORM
    .tab-nav {
        button {
            text-align: left;

            @include media-breakpoint-down(md) {
                padding: 5px;
            }

            label {
                margin-bottom: 0;

                i {
                    @include media-breakpoint-up(sm) {
                        min-width: 1rem;
                    }
                }

                @include media-breakpoint-down(lg) {
                    span {
                        @include visually-hidden;
                    }
                }
            }
        }
    }

    .form-tab-wrapper {
        box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.3);
        margin: 0;
    }

    .form-tab-content-wrapper {
        padding: 0;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
    }

    .form-tab-nav-wrapper {
        padding: 0;

        .nav-pills .nav-link.active {
            border-radius: 0;
        }
    }

    .tab-content {
        margin-top: -38px;
    }

    .tab-pane {
        //box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
        border-radius: 3px;

        i {
            padding-right: 6px;
        }

        > label:first-child {
            background: $admin-primary;
            color: #fff;
            font-weight: 400;
            font-size: 1.1rem;
            width: 100%;
            padding: 13px 20px;
            border-radius: 3px 3px 0 0;
        }

        > fieldset {
            padding: 0 20px 20px;
        }
    }
}
.ewXform > div:first-child > h3 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 23px;
    font-weight: 400;

    @include media-breakpoint-up(sm) {
        margin-top: -38px;
    }
    display:none;
}

.ui-datepicker {
    @extend .popover;
    button {
        @extend .btn;
        @extend .btn-primary;
    }
    .ui-state-default {
        @extend .badge;
        color: #000;
        font-size: 1em;
        font-weight: 500;
        text-align: right;
        display: block;
    }
    button.ui-state-default {
       color: #fff;
    }
    .ui-state-hover {
        @extend .bg-primary;
    }
}

.ewAdmin #adminLayout {
    padding-bottom: 28px;
    flex-grow: 1;

    .form-2-col {
        @include make-row();

        > div {
            @include make-col-ready();

            @include media-breakpoint-up(sm) {
                @include make-col(6);
            }
        }
    }

    a.form-tip {
        color: lighten($admin-header-font-color,10%);
        padding-left: 3px;
    }

    .form-check-input:checked {
        // background-color: lighten($admin-header-font-color,10%);
        // border-color: lighten($admin-header-font-color,10%);
    }

    .btn-secondary {
        background: $secondary;
        border-color: $secondary;
    }
    //hide extra headers
    .adminTemplate > form > .card-header,
    .admin-page > .card > .card-header {
        display: none;
    }
    //icon dropdown
    .bfh-selectbox-options {
        right: 0;
        padding: 0;
    }

    .bfh-selectbox-toggle {
        height: 38px;

        .bfh-selectbox-option {
            height: 23px;
        }
        /*&:after {
            content: '';
            display: inline-block;
            margin-left: 0.3em;
            vertical-align: 0.15em;
            border-top: 0.3em solid #666;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            position: absolute;
            top: 17px;
        }*/
        &:after {
            content: '\f078';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            position: absolute;
            top: 11px;
            right: 13px;
            color: #3e4246;
            font-size: 13px;
        }
    }
    // FAUX DROPDOWN
    .bfh-selectbox .bfh-selectbox-options ul {
        height: 140px;
        max-height: 140px;
        background: #e3e1e1;
        margin: 0;
        width: 100%;
        max-width: none;
    }

    .bfh-selectbox.pickIcon .bfh-selectbox-options ul {
        li {
            float: left;

            > a {
                margin: 2px;
                width: 38px;
                text-align: center;
                background: #fff;
                display: block;
                padding: 5px;
                border-radius: 4px;

                i {
                    display: inline-block;
                }
            }
        }
    }

    

    .principle {
        //@extend .btn-info;
        &:before {
            content: '\f0c7';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            margin-right: 8px;
        }
    }
}
// MODULE PICKER 
#pick-by-image {
    .accordion-collapse {
        padding: 20px 20px 0 20px;

        .col-sm-6 {
            padding-bottom: 20px;
        }

        button {
            //border: 0;
            border: 2px solid $admin-primary;
            border-radius: 4px;
            color: $admin-primary;
            background: none;
            width: 100%;
            padding: 10px;
            font-size: 0.8rem;
            height: 100%;
            margin-bottom: 10px;
            line-height: 1.2;

            h5 {
                font-size: 1.1rem;
                margin-bottom: 3px;
            }

            i {
                margin-bottom: 5px;
            }

            &:hover {
                border-color: lighten($admin-primary,10%);
                color: $admin-primary;
            }
        }
    }
}
.membership-user-list {
    .col-sm-1 {
        width: 70px;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    .membership-controls {
        a {
            padding: 0px 5px
        }
    }

    .faux-row {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid rgba(0, 0, 0, 0.125);

        .btn-group {
            padding-top:5px;
            padding-bottom:5px;
        }
    }
}
.navbar-fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    padding: 7px;
    //border-top: 1px solid #ccc;
    z-index: 10;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
//buttons and colour overrides
.ewAdmin #adminLayout {
    .btn-info {
        @include button-variant($admin-info,$admin-info);
    }
}
.accordion-body > label:first-child {
    display:none;
}
.inline-select .form-margin {
    min-width: 120px;
    max-width: 161px;
}
.footer-status {
    margin-top:7px;
    float:left;
}
//resource library
.ewAdmin #files .popover-content {
    width: 500px;

    img {
        max-width:100%;
        width:400px;
    }
}
.pick-image-responsive-popover {
    width:400px;
}
.admin-body {
    padding:0 15px;
}
.btn-group-spaced {
    display: inline-block;

    button {
        margin-left:10px;
    }
}
.switch-form-wrapper {
    padding: 10px 15px 0;
    background: #f4f6f7;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 1px solid #b3d2d9;
}