
form.xform,
form.ewXform {
    .principle {
        float: right;
    }

    .popoverContent {
        display: none;
    }

    .form-margin {
        margin-bottom: 1rem;
    }

    label {
        font-weight:300;
    }
}
.ewAdmin #adminLayout {
    .form-2-col {
        @include make-row();

        > div {
            @include make-col-ready();

            @include media-breakpoint-up(sm) {
                @include make-col(6);
            }
        }
    }

    a.form-tip {
        color: lighten($admin-header-font-color,10%);
        padding-left: 3px;
    }

    .form-check-input:checked {
        background-color: lighten($admin-header-font-color,10%);
        border-color: lighten($admin-header-font-color,10%);
    }

    .btn-secondary {
        background: $secondary;
        border-color: $secondary;
    }
    //hide extra headers
    .adminTemplate > form > .card-header,
    .admin-page > .card > .card-header {
        display: none;
    }
    //icon dropdown
    .bfh-selectbox-options {
        right: 0;
        padding: 0;
    }

    .bfh-selectbox-toggle {
        height: 38px;

        .bfh-selectbox-option {
            height: 23px;
        }
        /*&:after {
            content: '';
            display: inline-block;
            margin-left: 0.3em;
            vertical-align: 0.15em;
            border-top: 0.3em solid #666;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            position: absolute;
            top: 17px;
        }*/
        &:after {
            content: '\f078';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            position: absolute;
            top: 11px;
            right: 13px;
            color: #3e4246;
            font-size: 13px;
        }
    }

    .bfh-selectbox .bfh-selectbox-options ul {
        height: 140px;
        max-height: 140px;
        background: #e3e1e1;
        margin: 0;

        li {
            float: left;

            > a {
                margin: 2px;
                width: 38px;
                text-align: center;
                background: #fff;
                display: block;
                padding: 5px;
                border-radius: 4px;

                i {
                    display: inline-block;
                }
            }
        }
    }

    .alert-info {
        color:#fff;
    }
}
#pick-by-image {
    .accordion-button:not(.collapsed) {
        background: #fff;
    }

    .accordion-collapse {
        padding: 20px 20px 0 20px;

        .col-md-2 {
            padding-bottom: 20px;
        }

        button {
            //border: 0;
            border: 2px solid $admin-primary;
            border-radius: 4px;
            color: darken($admin-primary,10%);
            background: none;
            width: 100%;
            padding: 10px;
            font-size: 0.8rem;
            height: 100%;
            margin-bottom: 10px;
            line-height: 1.2;

            h5 {
                font-size: 1.1rem;
                margin-bottom: 3px;
            }

            i {
                margin-bottom: 5px;
            }

            &:hover {
                border-color: lighten($admin-primary,10%);
                color: $admin-primary;
            }
        }
    }
}