.ewAdmin .open,
#mainTable .ewAdmin,
#pagefooter .ewAdmin {
    .dropdown {
        width: auto;

        a.btn-primary,
        a:visited.btn-primary {
            color: #fff !important;
            letter-spacing: normal;
        }

        a.btn:focus,
        a.btn:hover {
            outline: none;
            text-decoration: none;
        }
    }

    .dropdown-menu {
        text-align: left;
        background: $admin-header-bg-light;
        letter-spacing: normal;

        li {
            width: 100%;
        }

        li a {
            color: $admin-header-color !important;

            &:hover {
                color: $admin-header-color-link !important;
                background: transparent;
            }

            padding: 3px 20px !important;
            background-image: none !important;
            background: none !important;
            text-transform: none !important;
            height: auto !important;
            letter-spacing: normal;
            text-decoration: none !important;
            font-size: 13px !important;
            font-weight: 400 !important;
        }

        li.mansonary-size a.btn {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background-image: -moz-linear-gradient(center top, #FFFFFF, #E6E6E6);
            border-image: none;
            border-style: solid;
            border-width: 1px;
            box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 2px rgba(0,0,0,0.05);
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0px;
            padding: 4px 8px;
            text-align: center;
            text-shadow: 0px 1px 1px rgba(255,255,255,0.75);
            vertical-align: middle;
        }

        li.updown a {
            padding: 0 !important;
        }

        li.mansonary-size a {
            padding: 3px 5px !important;
        }

        li.title {
            font-size: 12px;
            color: darken($admin-header-color, 30%) !important;
        }

        .divider {
        }
    }
}
.normalMode {
    a:hover {
        text-decoration: none;
    }

    .slick-list .ewAdmin .btn-primary {
        z-index: 10;
    }

    .ewAdmin > .btn-default,
    .ewAdmin > .btn-primary,
    .ewAdmin > .dropdown > .btn-primary,
    .ewAdmin > .dropdown .dropdown-menu a {
        font-family: $admin-header-font;

        i {
            font-size: 13px !important;
            color: $admin-header-color !important;
            width: auto !important;
            height: auto !important;
            display: inline-block !important;

            &:before {
                display: inline !important;
            }
        }
    }

    .ewAdmin > .btn-primary,
    .ewAdmin > .dropdown .btn-primary {
        margin-left: 3px;
    }

    .ewAdmin > .dropdown .dropdown-menu li {
        display: block;
        text-align: left;

        a {
            border: 0;
            text-align: left;
        }
    }

    .grid-item > .ewAdmin {
        margin-top: 3px;
    }

    span.editable {
        .ewAdmin {
            display: inline-block;
            float: right;
        }
    }

    .ewAdmin > .dropdown .dropdown-menu {
        a {
            margin: 0 !important;
        }

        .updown,
        .divider {
            clear: both
        }
    }

    .ewAdmin > .btn-default i {
        color: $admin-header-color-link !important;
    }

    .ewAdmin > .btn-default,
    .ewAdmin > .btn-primary,
    .ewAdmin > .dropdown > .btn-primary,
    .ewAdmin > .dropdown > .btn-default {
        //padding: 0px 3px 3px 5px !important;
        font-weight: 400;
        border-radius: 4px;
        border:1px solid #fff;
    }

    .ewAdmin > .ui-draggable-handle i {
        top: 2px;
        position: relative;
    }

    .ewAdmin > .btn-primary,
    .ewAdmin > .dropdown > .btn-primary {
        background: $admin-header-color-link !important;
        color: #fff !important;
    }

    .ewAdmin > .btn-default,
    .ewAdmin > .dropdown > .btn-default {
        background: lighten($admin-header-color-link, 45%);
        border: 1px !important;
        color: $admin-header-color-link !important;

        &:hover {
            background: lighten($admin-header-color-link, 32%);
        }

        font-family: $admin-header-font;
        text-shadow: none;
        border-width: 1px;
        letter-spacing: 0;
        text-transform: none !important;
        letter-spacing: normal !important;

        i {
            margin: 0;
        }
    }

    a.arrowbutton span, a.drag span {
        display: none;
    }

    .btn-primary,
    .btn-info,
    .btn-default {
        &:after {
            content: none !important
        }

        &:before {
            content: none !important
        }
    }

    .editable > div.ewAdmin.options {
        position: relative
    }
}
.ewAdmin .open .dropdown-menu {
    background-color: $admin-header-bg-light;
    font-size: 1em !important;
    margin-top: -1px;
    min-width: 160px !important;

    &:before,
    &:after {
        display: none !important
    }

    > li > a {
        color: $admin-header-color;

        &:hover,
        &:focus {
            color: $admin-header-color-link;
            background-color: transparent;
        }
    }

    li {
        list-style: none !important;
        margin-left: 0 !important;
        background: none !important;
        padding: 0px;
        float: none !important;
    }

    > .active > a {
        &,
        &:hover,
        &:focus {
            color: $admin-header-color;
            background-color: transparent;
        }
    }
}
// - In site edit button styling
.Site, .Email {
    .addmodule {
     //   @include clearfix();
    }

    .ewAdmin.options.addmodule {
        border-color: lighten($admin-header-color-link, 10%) !important;
    }

    .conditional-block {
        border-color: lighten($admin-header-color-warning, 10%) !important;
    }

    .conditional-note {
        color: lighten($admin-header-color-warning, 10%) !important;
        font-size: 11px;
        font-weight: 400;
        padding: 3px;
        letter-spacing: normal;
    }

    .ewAdmin {
        .dropdown-menu a:hover {
            background: $admin-header-color-link;
            color: $admin-header-color;
        }

        .addHere {
            color: lighten($admin-header-color-link, 10%);
        }
    }

    .dragging {
        padding: 3px;
        margin-bottom: 3px;
        border: dashed 1px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        border-color: lighten($admin-header-color-link, 10%) !important;
        z-index: 10000;
    }

    .ewAdmin .dropdown-menu li.title {
        margin: 3px 5px 2px 20px !important;
        color: rgba(0,0,0,0.4);
        padding: 0;
    }

    #mainTitle .ewAdmin .dropdown-menu {
        li a,
        li.title {
            font-size: 14px;
        }
    }

    .ewAdmin.options.addmodule, .conditional-block {
        padding: 3px;
        margin-bottom: 3px;
        border: dashed 1px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .ewAdmin.options.addmodule a.btn {
        margin-right: 0;
        margin-left: 4px;
    }

    .ewAdmin .dropdown {
        font-weight: normal;
        font-size: 13px !important;
        line-height: 20px !important;
        text-decoration: none;
        -moz-border-radius: 0px;
        border-radius: 0px;
        height: auto !important;
    }
}
//ACCORDIONS
.normalMode .panel-group .panel {
    overflow: visible;
}




.ewAdmin .dropdown-menu li.updown {
    margin: 9px 5px 4px 20px !important;
    min-width: 133px;
    @include clearfix();
}

.ewAdmin .dropdown-menu li.updown a {
    display: block;
    margin: 0;
    background: none !important;
    border: 0;
    float: left;
    clear: none;
    padding: 0 !important;
}

.ewAdmin .dropdown-menu li.updown a i {
    vertical-align: middle;
    text-align: center;
    width: 10px;
    display: block;
    float: left;
    margin-right: 27px;
}

.ewAdmin .dropdown-menu li.updown a i.fa-step-backward,
.ewAdmin .dropdown-menu li.updown a i.fa-step-forward {
    padding-top: 2px;
}

.ewAdmin .dropdown-menu li.updown a i.fa-step-forward {
    margin-right: 0;
}

.Site, .Email {
    .ewAdmin .btn, .ewAdmin .dropdown {
        font-weight: normal;
        font-size: 13px !important;
        line-height: 20px !important;
        text-decoration: none;
        height: auto !important;
        text-decoration: none !important;
    }

    .ewAdmin .btn-xs {
        padding: 1px 5px;
    }

    .ewAdmin .addHere {
        font-size: 11px;
        font-weight: 400;
        padding: 3px;
        letter-spacing: normal;
    }

    #isotope-module .editable {
        position: relative;
        display: block;
    }

    #isotope-module div.options {
        position: relative;
        display: block;
    }

    .ewAdmin .masonary-size .dropdown-menu li a {
        padding: 3px 5px !important;
    }
}
.normalMode {
    .editable {
        width:100%;
    }

    .ewAdmin.options {
        display: flex;
        justify-content: right;

        .btn {
            margin-right: 3px;
        }
    }

    .ewAdmin.options.addmodule {
        justify-content: space-between;
    }
}
