CREATE PROCEDURE [dbo].[spCleanDatabase]

AS
Begin

Begin Transaction

Declare @transactionDate as datetime
set @transactionDate=DATEADD(m, -1, getdate())

while exists(select top 1 nCartOrderKey, nAuditId from tblCartOrder inner join tblAudit on nAuditId=nAuditKey and dInsertDate<=@transactionDate)
Begin
	exec spCleaningOldOrder
end

Commit Transaction

end
