CREATE PROCEDURE [dbo].[spCleaningOldOrder]

AS
Begin

--Begin Transaction

Declare @transactionDate as datetime
set @transactionDate=DATEADD(m, -1, getdate())


Create table #TempCartOrder (nCartOrderId int,nAuditId int)
Create table #TempCartItem (nCartItemId int,nAuditId int)
--Create table #TempCartDiscount (nDiscountId int,nAuditId int)

Insert into #TempCartOrder
select top 100 nCartOrderKey, nAuditId from tblCartOrder inner join tblAudit on nAuditId=nAuditKey and dInsertDate<=@transactionDate
where nCartStatus=1 order by nCartOrderKey asc


Insert into #TempCartItem
select nCartItemKey, nAuditId from tblCartItem where nCartOrderId in (select nCartOrderId from #TempCartOrder)


-- Deleting order data
delete from tblCartItem where nCartItemKey in (select nCartItemId from #TempCartItem);
delete from tblCartOrder where nCartOrderKey in (select nCartOrderId from #TempCartOrder);
delete from tblAudit where nAuditKey in (select nAuditId from #TempCartOrder);
delete from tblAudit where nAuditKey in (select nAuditId from #TempCartItem);

Drop table #TempCartOrder
Drop table #TempCartItem



end
