/*
   28 August 202410:01:04
   User: ewadmin
   Server: sql01.eonichost.co.uk
   Database: ew_goodnewsuk_com
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/

ALTER TABLE dbo.tblEmailActivityLog ADD
	cSubject nvarchar(800) NULL

ALTER TABLE dbo.tblEmailActivityLog SET (LOCK_ESCALATION = TABLE)


