
.bg-video-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;

    .bg-video {
        z-index: -1;
        width: 100%;
        height: auto;
    }

    .container, .fullwidthContainer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 2;
        display: flex;
        height: 100%;
        align-items: center;

        .module {
            margin-bottom: 0;
        }
    }

    video {
        display: block
    }
}

.parallax__container {
    clip: rect(0, auto, auto, 0);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    //z-index: -100;
}

.parallax {
    position: fixed;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    /* BG behaviour */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-wrapper {
    .content {
        position: relative;
    }
}

// 1/5 column
.col-xs-5th {
    width: 20%;
}

.col-sm-5th {
    @include media-breakpoint-up(sm) {
        width: 20%;
    }
}

.col-md-5th {
    @include media-breakpoint-up(md) {
        width: 20%;
    }
}

.col-lg-5th {
    @include media-breakpoint-up(lg) {
        width: 20%;
    }
}

.col-xl-5th {
    @include media-breakpoint-up(xl) {
        width: 20%;
    }
}

.col-xxl-5th {
    @include media-breakpoint-up(xxl) {
        width: 20%;
    }
}
// 2/5 column
.col-2-5th {
    width: 40%;
}

.col-xs-2-5th {
    @include media-breakpoint-only(xs) {
        width: 40%;
    }
}

.col-sm-2-5th {
    @include media-breakpoint-only(sm) {
        width: 40%;
    }
}

.col-md-2-5th {
    @include media-breakpoint-only(md) {
        width: 40%;
    }
}

.col-lg-2-5th {
    @include media-breakpoint-only(lg) {
        width: 40%;
    }
}

.col-xl-2-5th {
    @include media-breakpoint-only(xl) {
        width: 40%;
    }
}

.col-xxl-2-5th {
    @include media-breakpoint-only(xxl) {
        width: 40%;
    }
}
// 3/5 column
.col-3-5th {
    width: 60%;
}

.col-xs-3-5th {
    @include media-breakpoint-only(xs) {
        width: 60%;
    }
}

.col-sm-3-5th {
    @include media-breakpoint-only(sm) {
        width: 60%;
    }
}

.col-md-3-5th {
    @include media-breakpoint-only(md) {
        width: 60%;
    }
}

.col-lg-3-5th {
    @include media-breakpoint-only(lg) {
        width: 60%;
    }
}

.col-xl-3-5th {
    @include media-breakpoint-only(xl) {
        width: 60%;
    }
}

.col-xxl-3-5th {
    @include media-breakpoint-only(xxl) {
        width: 60%;
    }
}
// 4/5 column
.col-4-5th {
    width: 80%;
}

.col-xs-4-5th {
    @include media-breakpoint-only(xs) {
        width: 80%;
    }
}

.col-sm-4-5th {
    @include media-breakpoint-only(sm) {
        width: 80%;
    }
}

.col-md-4-5th {
    @include media-breakpoint-only(md) {
        width: 80%;
    }
}

.col-lg-4-5th {
    @include media-breakpoint-only(lg) {
        width: 80%;
    }
}

.col-xl-4-5th {
    @include media-breakpoint-only(xl) {
        width: 80%;
    }
}

.col-xxl-4-5th {
    @include media-breakpoint-only(xxl) {
        width: 80%;
    }
}
