################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EonicWeb5CMS/v15
/.vs/ProteanCMS/v15
