
CREATE PROCEDURE [dbo].[spRecordDiscountUsage] 
	-- Add the parameters for the stored procedure here
	@OrderId int=null,
	@PromoCode nVARCHAR(200) = null,
	@DiscountId int = null	

AS
BEGIN	

     Declare @Count int = 0, @nAuditKey INT 

	 INSERT INTO [dbo].[tblAudit]  ([dPublishDate],[dExpireDate] ,[dInsertDate] ,[nInsertDirId] ,[dUpdateDate] ,[nUpdateDirId],[nStatus],[cDescription])
     VALUES (getdate() ,null ,getDate() ,1,getDate() ,1 ,1 ,null)
 
     SELECT @nAuditKey = SCOPE_IDENTITY()

	 Insert into tblSingleUsePromoCode (OrderId, PromoCode, DiscountId, [nAuditId]) 
	 values (@OrderId, @PromoCode, @DiscountId, @nAuditKey)

	 SET @Count = (Select count(*) from tblSingleUsePromoCode where PromoCode = @PromoCode and DiscountId = @DiscountId)

	 -- here we update useCount in tblCartDiscountRules table  against that promocode

	 UPDATE tblCartDiscountRules set nUseCount  = @Count where nDiscountKey = @DiscountId
	
END


