
CREATE PROCEDURE  [dbo].[spUpdateExchangeVoucherStatus]                          
@promoCode varchar(100)                    
              
  AS                       
Begin                          
                     
 Update tblAudit set nStatus=0
 where nAuditKey in (select nAuditId from tblCartDiscountRules where cDiscountCode=@promoCode)               
                  
end