@mixin link-color($color: $link-color,$percentage: $link-hover-percentage) {
    color: $color;

    &:hover,
    &:focus {
        color: darken($color,$percentage)
    }
}

@mixin link-color-lighten($color: $link-color,$percentage: $link-hover-percentage) {
    color: $color;

    &:hover,
    &:focus {
        color: lighten($color,$percentage)
    }
}
//------------------------
//BUTTONS
//------------------------
@mixin btn-icon($_, $size: inherit, $offset: 7px, $indent: 5px) {
    &:after {
        padding-left: $offset;
        font-size: $size;
        margin-right: -$indent;
        display: inline-block;
    }
}

//@mixin btn-icon(angle, $size: inherit, $offset: 7px, $indent: 5px ) {
@mixin btn-icon($size: inherit, $offset: 7px, $indent: 5px ) {
    &:after {
        @include angle-right();
    }
}

//@mixin btn-icon(chevron, $offset: 7px, $size: 0.8em, $indent: 5px ) {
@mixin btn-icon($offset: 7px, $size: 0.8em, $indent: 5px ) {
    &:after {
        @include chevron-right();
    }
}
//link style button
@mixin btn-clean($color: $link-color) {
    //@include pill-clean;
    @include clear-shadow;
    border: 0;
    background: none;
    padding: 0 !important;
    border-radius: 0;
    font-size: 1em;
    line-height: $line-height-base;
    @include link-color($color);
}
//solid button
@mixin btn-mixin($background: $btn-default-bg, $color: #fff, $percentage: $btn-hover-percentage, $radius: $btn-radius-base, $size: $btn-font-size, $padding: $btn-padding ) {
    background: $background;
    border-color: $background;
    color: $color;
    border-radius: $radius;
    font-size: $size;
    line-height: $line-height-base;
    padding: $padding;
    font-weight: $btn-weight;

    a {
        color: $color;
    }

    &:hover,
    &:focus {
        color: $color;
        background: darken($btn-default-bg,$percentage);
        border-color: darken($btn-default-bg,$percentage);

        a {
            color: $color;
        }
    }
}
//border button
@mixin btn-border($color: $btn-default-bg, $border-width: 2px, $percentage: $btn-hover-percentage, $radius: $btn-radius-base, $size: $btn-font-size, $padding: $btn-padding ) {
    @include clear-shadow;
    background: transparent;
    border: $border-width solid $color;
    color: $color;
    border-radius: $radius;
    font-size: $size;
    line-height: $line-height-base;
    padding: $padding;
    font-weight: $btn-weight;

    &:hover,
    &:focus {
        background: transparent;
        color: darken($color,$percentage);
        border-color: darken($color,$percentage);
    }
}
//------------------------
//CONTENT CAROUSEL ARROWS
//------------------------
//icon options
//@mixin content-carousel-icon(angle, $offset: 3px, $size: 20px ) {
@mixin content-carousel-icon($offset: 3px, $size: 20px ) {
    button.slick-prev:before {
        @include angle-left;
        padding-right: $offset;
        font-size: $size;
    }

    button.slick-next:before {
        @include angle-right;
        padding-left: $offset;
        font-size: $size;
    }
}
//@mixin content-carousel-icon(chevron, $offset: 4px, $size: 24px ){
@mixin content-carousel-icon($offset: 4px, $size: 24px ) {
    button.slick-prev:before {
        @include chevron-left;
        padding-right: $offset;
        font-size: $size;
    }

    button.slick-next:before {
        @include chevron-right;
        padding-left: $offset;
        font-size: $size;
    }
}
//round/square arrow buttons with background
@mixin content-carousel-buttons($background: $btn-default-bg,$color: $btn-default-color,$radius: 100px,$hover: darken($background,$btn-hover-percentage),$width: 40px,$height: $width) {
    .slick-prev,
    .slick-next {
        width: $width;
        height: $height;
        color: $btn-default-color;
        background: $background;
        border-radius: $radius;
        text-align: center;
        @include flex-display;
        @include align-items(center);
        @include justify-content(center);
    }

    .slick-prev:before,
    .slick-next:before {
        opacity: 1;
        //padding: 8px 8px 8px 4px;
        padding: 0;
        color: $btn-default-color;
    }
    //.slick-next:before{padding: 8px 4px 8px 8px;}
    button:hover.slick-prev,
    button:hover.slick-next {
        color: $btn-default-color;
        background: $hover;
    }
    //layout
    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    @media(min-width:($screen-sm-min + $width + $grid-gutter-width)) and (max-width:$screen-sm-max) {
        .slick-prev {
            left: -$width;
        }

        .slick-next {
            right: -$width;
        }
    }

    @media(min-width:($screen-md-min + $width + $grid-gutter-width)) and (max-width:$screen-md-max) {
        .slick-prev {
            left: -$width;
        }

        .slick-next {
            right: -$width;
        }
    }

    @media(min-width:($screen-lg-min + $width + $grid-gutter-width)) {
        .slick-prev {
            left: -$width;
        }

        .slick-next {
            right: -$width;
        }
    }
}
//arrow no background
.content-carousel-clean-buttons {
    .slick-prev:before,
    .slick-next:before {
        color: fade($text-color,30%);
    }

    button:hover.slick-prev:before,
    button:hover.slick-next:before {
        color: $text-color;
    }
}
