CREATE PROCEDURE [dbo].[spCleaningOldOrder]

 --spCleaningDIcount

AS
Begin

Begin Transaction

Declare @transactionDate as datetime
set @transactionDate=DATEADD(m, -1, getdate())


Create table #TempCartOrder (nCartOrderId int,nAuditId int)
Create table #TempCartItem (nCartItemId int,nAuditId int)
--Create table #TempCartDiscount (nDiscountId int,nAuditId int)

Insert into #TempCartOrder
select top 2000 nCartOrderKey, nAuditId from tblCartOrder inner join tblAudit on nAuditId=nAuditKey and dInsertDate<=@transactionDate
where nCartStatus=1 order by nCartOrderKey asc


Insert into #TempCartItem
select nCartItemKey, nAuditId from tblCartItem where nCartOrderId in (select nCartOrderId from #TempCartOrder)

--Insert into #TempCartDiscount
--select top 500 nDiscountKey, nAuditId from tblCartDiscountRules where cDiscountCode like '%voucher' 


--truncating log table
--truncate table tblActivityLog
--truncate table tblEmailActivityLog

-- Deleting order data
delete from tblCartItem where nCartItemKey in (select nCartItemId from #TempCartItem);
delete from tblCartOrder where nCartOrderKey in (select nCartOrderId from #TempCartOrder);
delete from tblAudit where nAuditKey in (select nAuditId from #TempCartOrder);
delete from tblAudit where nAuditKey in (select nAuditId from #TempCartItem);


--deleting data from promo code
--delete from tblAudit where nAuditKey in (select nAuditId from tblCartDiscountProdCatRelations where nDiscountId in (select nDiscountId from #TempCartDiscount))
--delete from tblCartDiscountProdCatRelations where nDiscountId in (select nDiscountId from #TempCartDiscount )


--delete from tblAudit where nAuditKey in (select nAuditId from tblCartDiscountDirRelations where nDiscountId in (select nDiscountId from #TempCartDiscount))
--delete from tblCartDiscountDirRelations where nDiscountId in (select nDiscountId from #TempCartDiscount)

--delete from tblAudit where nAuditKey in (select nAuditId from #TempCartOrder);
--delete from tblCartDiscountRules where nDiscountKey  in (select nDiscountId from #TempCartDiscount);

Drop table #TempCartOrder
Drop table #TempCartItem
--Drop table #TempCartDiscount

Commit Transaction

end
