/*
   09 May 201909:38:34
   User: sa
   Server: 77.75.120.75
   Database: demo2019_intotheblue_co_uk
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblCartContact ADD
	cContactForeignRef nvarchar(255) NULL
GO
ALTER TABLE dbo.tblCartContact SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
