body.ewAdmin{background:@admin-bg;}

.popoverContent
{
    display:none;
}

#fileupload{
	ul{
		padding-left:0;
	}
}
.pickByImage button.imageSelect{
	&:hover{
		background-color:lighten(@admin-header-color-link, 30%);
		border-color:lighten(@admin-header-color-link, 20%);
		outline:none;
	}
	&:focus{outline:none;}
		
}
.pickByImage button.active{
	background:#eee;
	&:hover{background:#eee;}
}


// - FORMS
.ewAdmin .popover-content,
.ewAdmin .popover-title,
.relatedContent-group {
    color: #333;
    font-family: @admin-body-font;
    padding: 8px 14px;
    font-size: 14px;
}
#adminLayout {
    .list-group-item {
        background: transparent;
        border: 0;
        padding-left: 0;
    }

    select.form-control, a.form-control, input.form-control {
        //  height:@admin-field-height;
        font-size: @admin-font-size-base;

    }

    a.form-control, input.form-control, select.form-control{
    	height:40px;
    }

    select#cGroups.form-control {
        min-height: 1200px;
    }

    .btn {
        font-size: @admin-font-size-base
    }

    h1.page-header {
        margin: 40px 0 20px;
        border-bottom: 1px solid #cccccc;
        font-family: @admin-body-font;
        font-weight: 500;
        line-height: 1.1;
        color: #333333;
    }

    .alert-success {
        background: lighten(@admin-success,40%);
        border-color: lighten(@admin-success,20%);
        color: @admin-success;
    }

    .alert-warning {
        background: lighten(@admin-warning,40%);
        border-color: lighten(@admin-warning,20%)
    }

    .alert-danger {
        background: @admin-danger;
        border-color: @admin-danger;
        color: #fff;
    }

    span.alert-danger {
        display: block;
        border-radius: 4px;
        margin-top: 5px;
    }

    .alert-info {
        background: lighten(@admin-header-color-link,30%);
        border-color: lighten(@admin-header-color-link,20%);
        color: @admin-header-color-link;
    }

    form.panel,
    .modal .panel {
        border: 0px;

        > .panel-heading {
            background-color: lighten(@admin-header-bg,75%);
            color: #333333;
            border-color: lighten(@admin-header-bg,50%);
            border-bottom: 4px solid lighten(@admin-header-bg,50%);

            h3,
            h4 {
                font-family: @admin-body-font;
                font-weight: 400;
                font-size: 21px;
                color: #333333;
            }
        }

        > .panel-body {
            background: #fff;
        }

        > .panel-footer {
            border-top: 4px solid lighten(@admin-header-bg,50%);
            background-color: lighten(@admin-header-bg,70%);

            button {
                border-radius: 4px;
                color: #ffffff;
                background-color: #47a447;
                border-color: #398439;

                &:hover {
                    background-color: lighten(#47a447, 10%);
                }
            }
        }

        button,
        .appearance-full .input-group-btn .btn,
        .btn {
            border-radius: 4px;
            background-image: none;
        }

        .input-group-btn .btn,
        .input-group-addon.btn,
        .input-group-btn .btn-primary {
            border-radius: 0 4px 4px 0;
            display: table-cell;
        }

        .input-group input {
            border-radius: 3px 0 0 3px !important
        }

        legend,
        label,
        input,
        .btn,
        .bfh-selectbox-option,
        button,
        .readonlyvalue {
            font-family: @admin-body-font;
        }

        legend,
        a .bfh-selectbox-option,
        .readonlyvalue {
            color: #333;
        }

        input.slider,
        .select1-wrapper.appearance-full {
            display: table;
            font-size: 13px;
            line-height: 18px;
            color: #808080;
        }

        .input-group-btn .btn {
            margin-right: 0px;
            height: 42px;
        }
    }
}

.ewAdmin #adminLayout #tpltAdvancedMode{
	#accordion a i,
	#accordion a.open i
	{
		.rotate(0deg);
	}
	#accordion a.accordion-load i.fa-chevron-down,
	#accordion .panel:first-child a.collapsed i.fa-chevron-down,
	#accordion a.collapsed i.fa-chevron-down,
    #accordion a.accordion-load i.fa-angle-down,
	#accordion .panel:first-child a.collapsed i.fa-angle-down,
	#accordion a.collapsed i.fa-angle-down{
		.rotate(-90deg);
	}
}
.ewAdmin #adminLayout .ewXform {
    .PermissionButton {
        width: 100%;
        margin-bottom: 5px;
    }

    .checkbox-group input, .select1-group input {
        margin-right: 5px;
    }

    #accordion a i.fa-chevron-down,
    #accordion .panel:first-child a i.fa-chevron-down,
    #accordion a.open i.fa-chevron-down,
    .panel-group .panel-heading a i.fa-chevron-down,
    #accordion a i.fa-angle-down,
    #accordion .panel:first-child a i.fa-angle-down,
    #accordion a.open i.fa-angle-down,
    .panel-group .panel-heading a i.fa-angle-down {
        .rotate(0deg);
    }

    #accordion a.accordion-load i.fa-chevron-down,
    #accordion .panel:first-child a.collapsed i.fa-chevron-down,
    #accordion a.collapsed i.fa-chevron-down,
    .panel-group a.accordion-toggle i.fa-chevron-down,
    .panel-group a.collapsed i.fa-chevron-down,
    #accordion a.accordion-load i.fa-angle-down,
    #accordion .panel:first-child a.collapsed i.fa-angle-down,
    #accordion a.collapsed i.fa-angle-down,
    .panel-group a.accordion-toggle i.fa-angle-down,
    .panel-group a.collapsed i.fa-angle-down {
        .rotate(-90deg);
    }

    .control-wrapper .form-inline {
        margin-bottom: 6px;

        .radiocheckbox label,
        label.radio-inline {
            margin-right: 15px;
            margin-bottom: 6px;
            margin-left: 0px !important;
        }
    }

    .ItemThumbnail input {
        outline: none !important;
        border: 0 !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        float: left;
        padding-right: 10px;
    }

    legend {
        font-size: 18px;
        padding-bottom: 5px;
        margin-top: 15px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .alert-wrapper{
        width:100%;
    }

    label {
        font-weight: 400;
        text-transform: uppercase;
        color: @admin-gray;
        //font-size:0.9em;
        margin-top: 5px;
    }

    label.list-group-item {
        margin-top: 0px;
    }

    .form-control {
        color: @admin-header-font-color;
    }

    .input-group label,
    .form-group .multiline .control-wrapper label,
    .radiocheckbox label,
    label.radio-inline {
        text-transform: none;
        color: @admin-header-font-color;
        font-size: 1em;
    }

    .form-group {
        .row.repeated {
            padding-bottom: 0px;

            label {
                display: none;
            }

            .form-group {
                margin-bottom: 0px;
            }
        }

        .row.rpt-0 {
            .btn-delete {
                margin-top: 22px;
            }

            label {
                display: inline-block;
            }
        }
    }

    .radio-inline input,
    .radiocheckbox input {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .CodeMirror-wrapping {
        border: 1px solid #ccc;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    /*.bold-label{
		font-weight:700;
	}
	.label-heading{
		color:@admin-gray;
		text-transform:uppercase;
		width:100%;
	}*/
    div.label-border-top {
        padding-top: 15px;
        border-top: @admin-border;
        width: 100%;
    }

    .label-border-bottom,
    .form-border-bottom {
        border-bottom: @admin-border;
        padding-bottom: 15px;
        width: 100%;
    }

    .no-margin {
        margin-bottom: 0;
    }
    /*.admin-space-below{
		margin-bottom:15px;
	}
	.admin-space-above{
		margin-top:15px;
	}*/
    .col-md-4 {
        border-right: @admin-border;
    }

    .choices .col-md-4 {
        border: none;
    }

    label.required {
        color: @brand-danger !important;
        font-weight: 700;
    }

    label.readonly {
        color: @admin-gray;
    }

    fieldset fieldset fieldset fieldset {
        padding-bottom: 20px;
    }

    .checkbox-group + fieldset {
        margin-left: 22px !important;
        padding-bottom: 0px !important;
    }

    .checkbox-group {
        margin-bottom: 5px;
    }

    .horizontal .selectAll label {
        display: block;
    }

    .boxStyle .bfh-selectbox-toggle, .cssStyle .bfh-selectbox-toggle {
        height: 85px;
        background-color: #fff;
    }

    .boxStyle .bfh-selectbox-option, .cssStyle .bfh-selectbox-option {
        height: 75px;
    }

    .cssStyle .bfh-selectbox .bfh-selectbox-toggle .bfh-selectbox-option {
        height: 85px;
    }

    .boxStyle .bfh-selectbox-toggle .bfh-selectbox-option, .cssStyle .bfh-selectbox-toggle .bfh-selectbox-option {
        max-height: 100px;
    }

    .boxStyle .bfh-selectbox-options li {
        display: inline-block;
        width: 320px;
    }

    .cssStyle .bfh-selectbox-options li {
        display: inline-block;
        width: 100%;
    }

    .cssStyle .bfh-selectbox-options li a {
        overflow-y: hidden;
    }

    .pickIcon .bfh-selectbox-options li {
        display: inline-block;
        width: 35px;
        height: 35px;
    }

    .pickIcon.bfh-selectbox .bfh-selectbox-options ul li > a {
        padding: 3px 10px;
        overflow-x: inherit;
    }

    .pickByImage button.imageSelect {
        width: 100%;
        padding: 5px;
        text-align: left;

        img {
            padding-right: 10px;
        }
    }

    .pickByImage button.imageSelect.selected {
        padding: 2px;
        border: 4px solid @brand-primary;
    }

    .previewImage {
        padding-top: 10px;
    }

    .pickImageInput,
    .pickImageFile .input-wrapper,
    input.pickImageFile {
        height: @admin-field-height;
    }

    #editImage_thumbnail,
    #editImage_cContentImage,
    #editImage_cContentFullSizePicture,
    #editImage_cContentThumbnail,
    #editImage_cContentDisplay,
    #editImage_cContentDetail,
    #editImage_cOrganizationLogo,
    #editImage_cContentDetailPicture,
    #editImage_cContentPicture {
        .input-group-btn a {
            height: @admin-field-height;
            border-radius: 4px 0 0 4px;
        }

        .editpick .btn {
            height: @admin-field-height;
            border-radius: 0 4px 4px 0;
        }

        .pickImageInput {
            border-radius: 0 !important;
        }
    }

    #editImageFile_ThemeBackgroundImage {
        .input-group-btn a {
            height: @admin-field-height;
        }
    }

    span.input-group-btn {
        vertical-align: top;
    }

    #editImageFile_uploadIcon {
        .btn {
            height: @admin-field-height;
            border-radius: 0 4px 4px 0;
        }
    }

    input.colorPicker {
        height: 36px;
    }

    .inline .form-group {
        float: left;
        display: inline-block;
        width: 49%;
        padding-right: 15px;
    }

    .inline-4col .form-group {
        float: left;
        display: inline-block;
        width: 24%;
        padding-right: 15px;

        select {
            height: 38px;
        }
    }

    .inline .inline-4col {
        @media(min-width:@screen-lg-min) {
            width: 49%;
            padding-bottom: 0;
            float: left;
        }

        legend {
            border-bottom: 0;
            color: #999;
            font-size: 15px;
            margin: 5px 0 0;
            padding: 0;
        }

        .form-group {
            margin-bottom: 0;

            label {
                text-transform: capitalize;
                font-size: 13px;
                color: #333;
                margin-bottom: 0;
            }

            .btn-info {
                height: 28px;
                padding: 4px 9px;
            }

            .form-control {
                height: 28px;
                padding: 2px;
            }
        }
    }

    table {
        width: 100%;

        .relatedOptionsButton {
            text-align: right;
        }

        th {
            font-weight: normal;
        }
    }

    input.slider {
        width: 40px;
    }

    .slider .max {
        display: none;
    }

    .slider .min {
        display: none;
    }

    .slider .step {
        display: none;
    }

    .slider .val {
        display: none;
    }

    .slider .ref {
        display: none;
    }

    div.slider {
        margin-left: 50px;
        top: -25px;
    }

    .DOBcalendar .input-group-btn label.input-group-addon,
    .calendar .input-group-btn label.input-group-addon {
        border-right: 1px solid;

        i {
            font-size: 14px;
            padding: 3px 0;
        }
    }

    div.advancedModeRow, div.rowOver {
        padding: 3px;
        padding-top: 6px;
        border-bottom: 1px solid #e5e5e5;
        font-family: @admin-body-font;

        .buttons {
            text-align: right;
        }
    }

    div.rowOver {
        background-color: #e5e5e5;
    }
}
.mce-edit-area{
	border-right:1px solid!important;
}

#gccolor-color,
#gccolor-color div{margin:14px;}
.modal-backdrop{
	background-image: url(/ewcommon/images/icons/loading.gif);
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
}
// FROM ADMIN CSS




// Popup
#popupWindow
{
    padding: 0px;
    width: 770px;
}

#popupWindow form.ewXform
{
    width: 760px;
}

#popupWindow #template_FileSystem
{
    width: 780px;
}
#popupWindow #template_FileSystem #column1
{
    width: 220px !important;
}
#popupWindow #template_FileSystem #column2
{
    width: 500px !important;
}
.ewAdmin form .choices div.selected
{
    background: #aaa;
}
.ewAdmin form .choices .description, .ewAdmin #template_FileSystem div.item .description
{
    font-size: .8em;
}
.ewAdmin #template_FileSystem .pickByImage div.item .ItemThumbnail
{
    float: none;
    text-align: center;
    min-height:90px;
}
.ewAdmin form .choices
{
    clear: both;
}
.ewAdmin .pageControlButtons li
{
    display: inline;
}
/* ########################## Tree View - EditStructure ########################## */
.ewAdmin #column2 .tree, .ewAdmin #column1 .tree
{
    font-size: .9em;
}
     #tpltShippingLocations a.status{
            top:13px;
            position:absolute;
     }
.ewAdmin #MenuTree {
    
     .list-group-item{padding-left:50px;}
     .level-2 {padding-left:70px}
     .level-3 {padding-left:80px}
     .level-4 {padding-left:90px}
     .level-5 {padding-left:100px}
     .level-6 {padding-left:110px}
     .level-7 {padding-left:120px}
     .level-8 {padding-left:130px}
     .level-9 {padding-left:140px}
     .level-10 {padding-left:150px}
     .level-11 {padding-left:160px}
     .level-12 {padding-left:170px}
     .level-13 {padding-left:180px}
     .level-14 {padding-left:190px}
     .level-15 {padding-left:200px}
     i.hitarea{
            top:13px;
        position:absolute;
        margin-left:-15px;
                    cursor: pointer;
     }
     i.hitarea.fa-chevron-down{
         margin-left:-18px;
     }

    div.pageCell
    {
        i{
            top:17px;
            position:absolute;
        }
        .status i{
            position:inherit;
        }
        display: inline-block;
        width: 230px;
        max-width:100%;
        margin: 0px;
        .pageName{
            display: inline-block;
            padding-left:25px;
        }
    }
        div.optionButtons
    {
        display: inline-block;
        margin: 0px;
    }
}
.ewAdmin ul.sideNav
{
    line-height: 1.2em;
    vertical-align: top;
	padding-left:0;
}
.ewAdmin ul.sideNav li A
{
    display:inline-block;
    padding:0 0 5px 0;
}
.ewAdmin ul.sideNav ul
{
    padding-left: .5em !important;
}
.ewAdmin ul.sideNav SPAN.treeNode .pageName
{
    width: auto !important;
}
.ewAdmin #files {
    .item.item-image{
        .panel{
            position:relative;
           // @media(min-width:@screen-sm-min){min-height:200px;}
            margin-bottom:10px;
            //border:1px solid #ddd;
            background-color: #ddd;
            img{
                display:block;
                margin:auto;
                max-width:100%;
                height:auto;
            }
        }
        .description{
            padding:5px;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;   
	        word-break: break-word;
            background-color:rgba(255,255,255,0.5);
            text-align:right;
            display:none;
        }
    }
    .popoverContent{
        width:500px;
        img{
            border:1px solid #ddd;
            background-color: #ddd;
        }
    }
   .image-thumbnail{
       // min-height:127px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:165px;
        @media(min-width:@screen-sm-min){height:120px;}
        overflow:hidden;
        .img-overflow{
            //width:120px;
            //height:120px;
            overflow:hidden;
            display:flex;
            align-items:center;
            justify-content:center;
            img{
                vertical-align: middle;
            }
        }
      
    }
     .img-description{
        .image-description-name{
            display:block;
            width:120px;
            height:13px;
            overflow:hidden;
        }
        font-size:10px;
        padding:5px;
    }
   .item-image{
        padding-left:5px;
        padding-right:5px;
    }
    margin-left:-5px;
    margin-right:-5px;
}
.ewAdmin .modal-content #files{
    .panel{
        overflow:hidden;
        @media(min-width:@screen-sm-min){height:128px;}
        @media(min-width:@screen-lg-min){height:154px;}
        @media(min-width:1760px){height:203px;}
    }
    .image-thumbnail{
        height:160px;
        @media(min-width:@screen-sm-min){height:90px;}
        @media(min-width:@screen-lg-min){height: 115px;}
        @media(min-width:1760px){height:165px;}
        overflow:hidden;
        .img-overflow{
            //width:160px;
            //@media(min-width:@screen-sm-min){height:160px;}
            max-width:100%;
            img{
                max-width:100%;
                height:auto;
            }
        }
    }
    .popup-description{
        word-break:break-all;
        font-size:11px;
        padding-top:8px;
        .image-description-name{
            font-size:13px;
            line-height: 0.9;
        }
    }
}




.ewAdmin #MenuTree LI
{
    vertical-align: top;
    list-style: none;
}

.ewAdmin #MenuTree{
     LI TABLE {
    width: auto;
    background: transparent;
    TD
    {
        padding: 3px;
        line-height: 1.2em;
    }
    td.status a.status
    {
        width: 17px !important;
        height: 15px !important;
        display: block !important;
    }
    tr.pageName
    {
        width: 200px;
        border-bottom: dashed 1px #ddd;
        padding-bottom: 1px;
    }
    td.pageHits
    {
        border-bottom: dashed 1px #ddd;
        padding-bottom: 1px;
    }
     td.pageCell
    {
        display:inline-block;
        padding: 8px 0px;
        .fa{
            display:inline-block;
            float:left;
        }
        span.pageName{
             display:inline-block;
        }
    } 
    
    }
}

.ewAdmin #MenuTree div.pageVersions div
{
    padding: 2px 0px 2px 22px;
}
.ewAdmin #MenuTree div.pageVersions a.vtext
{
    padding-left: 25px;
}
.ewAdmin #MenuTree a.status
{
    margin: 2px 2px 6px 0;
}
.pickImageModal .modal-dialog{
    width:600px;
    .modal-body{
        padding:0px
    }
}
.pickImageModal .modal-dialog{
    width:85%;
    .modal-body{
        padding:0px;
        margin-bottom:0px;
        #template_FileSystem{
            .row{margin:0px;}
            .panel-body{padding:0px}
            .col-md-3{padding:0px}
        }
    }
}
.pickImageModal .modal-dialog.loading{
    width:300px;
}
 #template_FileSystem{
     .panel-body.row{padding-top:0px}
     padding:0px;
     .level-2{padding-left:20px}
     .level-3{padding-left:30px}
     .level-4{padding-left:40px}
     .level-5{padding-left:50px}
     padding-right:0px;
       .list-group-item{border-radius:0!important;} 
       .panel-heading-buttons{
           display:inline-block;
           float:right;
       }

 }
.ewAdmin a.status
{
    display: inline-block;
    width: 17px;
    height: 15px;
    margin: 5px;
}
// - file uploader
.ewAdmin #adminLayout .pageControlButtons{
    padding-left:0;
    @media(max-width:@screen-xs-max){.btn{margin-bottom:5px}}
}
.ewAdmin #adminLayout .modal-body .pageControlButtons{
    padding-left:0;
    @media(max-width:@screen-xs-max){.btn{font-size:12px;}}
}
.ewAdmin #fileupload #uploadFiles .drophere 
{
    border: 2px dashed #C0CFD8;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 75px;
    line-height: 1;
    padding-top:27px;
    text-align:center;
    margin-bottom:5px;
    background:white;
}
.ewAdmin #fileupload #uploadFiles 
{
    padding-top:5px;
}
.ewAdmin #fileupload td
{
    height:20px;
    padding:3px;
}
.ewAdmin #fileupload td div.ui-progressbar
{
    height:18px;
    width:100px;
}
.ewAdmin #fileupload #uploadFiles input
{
    float:left;
}
.ewAdmin #fileupload .fileupload-progressbar
{
    float:right;
    width:600px;
    height:27px;
}



.ewAdmin .fileinput-button {
  position: relative;
  overflow: hidden;
}
.ewAdmin .fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.ewAdmin .fileupload-buttonbar .btn,
.ewAdmin .fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.ewAdmin .progress-animated .bar {
  background: url(/ewcommon/js/jQuery/fileUploader/8.2.1/img/progressbar.gif) !important;
  filter: none;
}
.ewAdmin .fileupload-loading {
  float: right;
  width: 32px;
  height: 32px;
  background: url(/ewcommon/js/jQuery/fileUploader/8.2.1/img/loading.gif) center no-repeat;
  background-size: contain;
  display: none;
}
.ewAdmin .fileupload-processing .fileupload-loading {
  display: block;
}

.ewAdmin .listLookups .listButtons
{
    width:130px;
    text-align:right;
}

.progress {
    background-color: #F7F7F7;
    background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.progress .bar {
    -moz-box-sizing: border-box;
    background-color: #0E90D2;
    background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 100%;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: width 0.6s ease 0s;
    width: 0;
}

.progress-striped .bar {
    background-color: #149BDF;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.progress-success.progress-striped .bar, .progress-striped .bar-success {
    background-color: #62C462;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.fileinput-button {
    overflow: hidden;
    position: relative;
}

// - edit menu file images

	.ewAdmin #MenuTree div.pageVersions a.vtext
	{
		background: url(/ewcommon/images/menutree/page-file-v.gif) top left no-repeat;
	}
	.ewAdmin #MenuTree tr.treeNode a.active, .ewAdmin #MenuTree .treeNode a.active
	{
		background: url(/ewcommon/images/menutree/page-file.gif) top left no-repeat;
	}
	.ewAdmin #MenuTree tr.treeNode a.folder, .ewAdmin #MenuTree .treeNode a.folder
	{
		background: url(/ewcommon/images/menutree/page-foldericon.gif) top left no-repeat;
	}
	.ewAdmin #MenuTree span.a.children tr.treeNode a.hidden, .ewAdmin #MenuTree tr.a.children tr.treeNode a.hidden
	{
		background: url(/ewcommon/images/menutree/page-openfoldericon-hidden.gif) 0 0 no-repeat !important;
	}
	.ewAdmin #MenuTree tr.treeNode a.hidden, .ewAdmin #MenuTree .treeNode a.hidden
	{
		background: url(/ewcommon/images/menutree/page-file-hidden.gif) 0 0 no-repeat !important;
	}

	.ewAdmin #MenuTree tr.treeNode a.activeParent, .ewAdmin #MenuTree .treeNode a.activeParent
	{
		background: url(/ewcommon/images/menutree/page-openfoldericon.gif) 0 0 no-repeat;
	}
	.ewAdmin #MenuTreeold tr.treeNode a.active, .ewAdmin #MenuTreeold .treeNode a.active
	{
		background: url(/ewcommon/images/menutree/page-foldericon.gif) 0 0 no-repeat;
	}
	.ewAdmin #MenuTree tr.treeNode a.hiddenParent, .ewAdmin #MenuTree .treeNode a.hiddenParent
	{
		background: url(/ewcommon/images/menutree/page-foldericon-hidden.gif) 0 0 no-repeat !important;
	}

// - end edit menu file images


// BUTTONS
#adminLayout .ewXform {
    .btn {
        background-image: none;
        text-shadow: none;

        &:focus {
            outline: none;
        }
    }

    .principle {
        float: right;
    }

   .getGeocodeButton {
       Width: 47%;
       margin: 25px 0px 8px 0px; 
    
    }


    label.input-group-addon {
        float: none;
        border-radius: 0px;
    }
}
#adminLayout .relatedContent-group .btn-xs{margin-bottom:3px;}
#adminLayout .btn .btnNotes{white-space: normal;}
#template_AdminXForm{.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{padding:0 15px;}}
#template_AdminXForm .row{margin-left:-15px;margin-right:-15px;}

// LMS
.edit-question-wrapper .panel-body > fieldset > fieldset{
	position:relative;
	margin-top:15px;
	> legend{margin-bottom:10px}
	.screen-options-btn{
		position:absolute;
		top:0;
		right:0
	}
	> .form-group{
		border-bottom:1px solid #e5e5e5;
		padding-top:15px;
		padding-bottom:15px;
		> .recReadLabel > .recRead{
			float:left;
			padding-right:5px;
		}
	}
}
#AddModule > .panel-body > .control-wrapper{width:100%}


.ace-editor{
    height:500px !important;
}