/*-----------------------------------------------------

OLD STYLES (OF UNKNOWN PURPOSE)

---------------------------------------------------------*/


BODY.ewAdmin 
{
	background: #eee !important
}
.Site .ewAdmin li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	list-style-type:none !important;
	color:#000000;
}
.Site #mainLayout .ewAdmin li a{color:#000000;}



.Site #mainLayout .ewAdmin li a.btn-arrow{display:inline-block}
.Site #mainLayout .ewAdmin li.moduleType{font-size:.8em;padding-left:10px;padding-top:0px}
.ewAdmin .navbar .navbar-inner{background-color:#4c4c4c}
.ewAdmin #ewAdminMenu2 .nav{padding-left:143px;}
.Site #mainLayout .ewAdmin li.updown{font-size:.8em;}
.Site #mainLayout .ewAdmin li.updown a.btn-arrow{padding:3px 8px 3px 8px}

.ewAdmin .treeview table{margin:3px 3px 0 3px;}
.ewAdmin .treeview table td{padding:3px 3px 0 3px;}
.ewAdmin .treeview table td.pageName{width:200px}
.ewAdmin .treeview table td{background-color:rgb(245, 245, 245)}

.tree:before{margin-left:6px}
.tree{padding-left:20px}
.tree .hitarea{display:inline-block;float:left;}
.tree .tree-folder table{margin-left:12px}
.tree .tree-folder ul{margin-left: 0px;}
.tree .tree-folder ul.tree-folder-content{margin-left: 36px;}

.tree .hitarea:first-child,
.tree .hitarea:first-child {
  border: 1px solid #DDD;
  vertical-align: middle;
  height: 11px;
  width: 11px;
  text-align: center;
  border: 1px solid #8BAEBF;
  line-height: 10px;
  background-color: #FFF;
  position: relative;
  left:-21px;
  top:8px;
  z-index: 100;
}
.tree .expandable-hitarea:first-child:before {
  display: block;
  content: "+";
  font-family: "Open Sans";
  font-size: 16px;
  position: relative;
  z-index: 101;
}
.tree .collapsable-hitarea:first-child:before {
  content: "";
  display: block;
  width: 7px;
  height: 0;
  border-top: 1px solid #4D6878;
  position: absolute;
  top: 5px;
  left: 2px;
}
/* ============================= ADMIN FOOTER ========================= */
.ewAdmin #adminFooter a
{
	color: #575757;
	text-decoration: none;
}
.ewAdmin #adminFooter a:hover
{
	color: #ef3e35;
	text-decoration: underline;
}

