/*---------------------------------------------------------

THIS FILE CONTAINS THE PRE BOOTSTRAP HEADER STYLING

--------------------------------------------------------------*/

.ewAdmin #adminHeader
{
	background: #000;
}
.ewAdmin #adminHeader #previewBack
{

    background-color: #18bc9c;

}

    .ewAdmin #adminHeader .btn {
        border-radius: 4px;
        color: #ffffff;
        padding: 8px 12px;
        text-decoration: none;
        background-image: none !important;
    }
.ewAdmin #adminHeader #adminLogo
{
	/*background: url(/ewcommon/images/admin/skin/eonic_web4.png) top left no-repeat;
	background: url(/ewcommon/images/admin/skin/eonic_web5.png) top left no-repeat;*/
}
.ewAdmin #adminHeader #topRight
{
	color: #FFF;
}
/* =========== SECTION HEADER ICONS ================ */
.ewAdmin #adminHeader #sectionIcon
{
}
.ewAdmin #adminHeader .sectionIcon-Content
{
	background: url(/ewcommon/images/admin/skin/icon_Content.png) top right no-repeat;	
}
.ewAdmin #adminHeader .sectionIcon-Ecommerce
{
	background: url(/ewcommon/images/admin/skin/icon_eCommerce.png) top right no-repeat;	
}
.ewAdmin #adminHeader .sectionIcon-Membership
{
	background: url(/ewcommon/images/admin/skin/icon_membership.png) top right no-repeat;	
}
.ewAdmin #adminHeader .sectionIcon-Reports
{
	background: url(/ewcommon/images/admin/skin/icon_reports.png) top right no-repeat;	
}
.ewAdmin #adminHeader .sectionIcon-MailingList
{
	background: url(/ewcommon/images/admin/skin/icon_mailmanager.png) top right no-repeat;	
}
.ewAdmin #adminHeader .sectionIcon-Settings
{
	background: url(/ewcommon/images/admin/skin/icon_settings.png) top right no-repeat;	
}
/* =========== BREADCRUMB AND HELP ================ */
.ewAdmin #adminHeader #breadcrumb
{
	color: #FFF;
	font-size: 0.9em;	
}
.ewAdmin #adminHeader #breadcrumb a
{
	color: #FFF;
	text-decoration: none;
}
.ewAdmin #adminHeader #breadcrumb a:hover
{
	color: #cdcdcd;
	text-decoration: underline;
}
.ewAdmin #adminHeader #getHelp
{
	background: Transparent url(/ewcommon/images/admin/skin/getHelp.gif) left top no-repeat;
	text-decoration: none;
	color: #333;
	font-size: 10px;
}
.ewAdmin #adminHeader #getHelp:hover
{
	color: #2991ba;	
}
/* ============================= MAIN ADMIN MENU ========================= */

.ewAdmin #adminHeader #mainAdminMenu a .adminSubMenu1TL
{
	background: url(/ewcommon/images/admin/skin/mainMenu_tl.png) left top no-repeat; 	
}
.ewAdmin #adminHeader #mainAdminMenu a
{
	background: url(/ewcommon/images/admin/skin/mainMenu_tr.png) right top no-repeat;
	text-decoration: none; 
	color: #000;	
}

.ewAdmin #adminHeader #mainAdminMenu a.on .adminSubMenu1TL,
.ewAdmin #adminHeader #mainAdminMenu a.active .adminSubMenu1TL,
.ewAdmin #adminHeader #mainAdminMenu a:hover .adminSubMenu1TL
{
	background: url(/ewcommon/images/admin/skin/mainMenu_tl_hover.png) left top no-repeat; 	
}
.ewAdmin #adminHeader #mainAdminMenu a.on,
.ewAdmin #adminHeader #mainAdminMenu a.active,
.ewAdmin #adminHeader #mainAdminMenu a:hover
{
	background: url(/ewcommon/images/admin/skin/mainMenu_tr_hover.png) right top no-repeat; 
}
.ewAdmin #adminHeader #mainAdminMenu a:hover
{
	color: #a60800;
	/*color: #632D8A;*/
}
/* ====== ICON PSD KEPT WITH ADMIN ARTWORK ======= */
.ewAdmin #adminHeader #mainAdminMenu a .adminSubMenu1Icon
{
	background: url(/ewcommon/images/admin/skin/32x32-Icons.png) left top no-repeat;
}
/* ============================= ADMIN MENU ICON SPECIFICS ========================= */
/* == Page ==*/
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconBy_Page				{background-position: 0 0}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconEdit_Menu				{background-position: -32px 0}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconResource_Library		{background-position: -64px 0}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconSite_Theme			    {background-position: -96px 0}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconAwaiting_Approval		{background-position: -64px -96px}
/* == Membership ==*/
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconGroups					{background-position: 0 -32px}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconAll_Users				{background-position: -32px -32px}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconRoles					{background-position: -32px -64px}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconAccess_Permission		{background-position: -96px -32px}
/* == eCommerce ==*/
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconQuotes					{background-position: 0 -64px}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconOrders					{background-position: -128px -32px}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconShipping_Locations		{background-position: -32px -64px}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconDelivery_Methods		{background-position: -64px -64px}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconDiscounts				{background-position: -96px -64px}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconSettings				{background-position: -128px 0}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconReports				{background-position: 0 -96px}
/* == MailManager ==*/
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconHistory				{background-position: -64px -96px}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconOpt-Out				{background-position: -128px -64px}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconCampaign_Monitor		{background-position: -96px -96px}
/* == Settings ==*/
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconSite_Settings          {background-position: -96px 0}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconScheduled_Items        {background-position: -128px 0}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconSystem_Pages           {background-position: 0 0}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconIndex_Site             {background-position: -32px -64px}
.ewAdmin #adminHeader #mainAdminMenu a #adminSubMenu1IconManage_Lookups        {background-position: -64px -96px}

/* ============================= SUB ADMIN MENU ========================= */
.ewAdmin #adminHeader #subAdminMenu a
{

	text-decoration:none;
	color: #000;
	letter-spacing: -1px;
}
.ewAdmin #adminHeader #subAdminMenu a:hover,
.ewAdmin #adminHeader #subAdminMenu a.active,
.ewAdmin #adminHeader #subAdminMenu a.on
{
	background: url(/ewcommon/images/admin/skin/subMenu_bg.png) right top no-repeat;
}
.ewAdmin #adminHeader #subAdminMenu a .adminSubMenu2TL
{
	background: url(/ewcommon/images/admin/skin/subMenuTL.png) left top no-repeat;
}
.ewAdmin #adminHeader #subAdminMenu a:hover .adminSubMenu2TL,
.ewAdmin #adminHeader #subAdminMenu a.active .adminSubMenu2TL,
.ewAdmin #adminHeader #subAdminMenu a.on .adminSubMenu2TL
{
	background-position: left -21px;	
}
/* ====================================================================== */
.ewAdmin #adminHeader .bar
{
	background: #eaeef0 url(/ewcommon/images/admin/skin/header_bar.png) bottom left repeat-x;
}
.ewAdmin #adminHeader .bar #mainMenuButton
{
	 background: url(/ewcommon/images/admin/skin/button_main_menu.gif) left top no-repeat;
}
.ewAdmin #adminHeader .bar #mainMenuButton:hover
{
	 background-position: left -30px;
}
.ewAdmin #adminHeader .bar #logoff
{
	background: url(/ewcommon/images/admin/skin/logoff.gif) left top no-repeat;
}
.ewAdmin #adminHeader .bar #logoff:hover
{
	background-position: left -30px;
}
/* ============================= ADMIN MODE OPTIONS ========================= */
#adminOptions, .ewModal
{
	background: #d2d1d5;
	border: 2px solid #FFF;	
	/*border-right-width: 4px;
	border-bottom-width: 4px;  */
	border-radius: 5px;
	-moz-border-radius: 5px;
	
}
.ewModal span img
{
	float:left;
	padding:0 5px 0 0;
}

.ewModal span
{
	text-align:left;
}

.ui-widget-overlay
{
	background: #333;
}




.ewAdmin #adminHeader
{
}
.ewAdmin #adminHeader .preview
{
padding-top:10px;
}
.ewAdmin #adminHeader .preview #breadcrumb
{
padding-right:20px;
}
.ewAdmin #adminHeader #topRight
{
    width: 175px;
    float: left;
    margin-left: 10px;
    height: 70px;
}
.ewAdmin #adminHeader #adminLogo
{
    width: 200px;
    height: 33px;
    float: left;
    margin-top: 10px;
    margin-bottom: 6px;
}
.ewAdmin #adminHeader #sectionIcon
{
    width: 60px;
    height: 51px;
    float: right;
    margin-right: 5px;
    margin-top: 7px;
}
.ewAdmin #adminHeader .sectionName
{
    padding-left: 5px;
}
.ewAdmin #adminHeader #headers
{
    margin-left: 220px;
}
.ewAdmin #adminHeader #breadcrumb
{
    padding-top: 6px;
}
.ewAdmin #adminHeader .preview #breadcrumb {
        padding-top: 6px;
}
.ewAdmin #adminHeader #getHelp
{
    float: right;
    margin: 0 65px 0 0;
    padding: 7px 36px 7px 8px;
}
/* ============================= MAIN ADMIN MENU ========================= */
.ewAdmin #adminHeader #mainAdminMenu
{
    padding-top: 10px;
}
.ewAdmin #adminHeader #mainAdminMenu ul, .ewAdmin #adminHeader #mainAdminMenu li
{
    display: inline;
}
.ewAdmin #adminHeader #mainAdminMenu a
{
    float: left;
    display: block;
    width: 130px;
    height: 40px;
    margin-left: 5px;
    padding: 0;
    line-height: 1.0em;
    font-size: 1.2em;
    letter-spacing: -1px;
    position: relative;
}

.setup #adminHeader #mainAdminMenu a
{
    width: 125px !important;
}
.ewAdmin #adminHeader #mainAdminMenu a .adminSubMenu1TL
{
    float: left;
    width: 3px;
    height: 40px;
    cursor: pointer;
}
.ewAdmin #adminHeader #mainAdminMenu a .adminSubMenuText
{
    display: block;
    margin-left: 40px;
    margin-top: 4px;
}
.ewAdmin #adminHeader #mainAdminMenu a .adminSubMenu1Icon
{
    display: block;
    width: 33px;
    height: 32px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
}


/* ============================= SUB ADMIN MENU ========================= */
.ewAdmin #adminHeader #subAdminMenu
{
    padding-left: 55px;
    margin-top: 6px;
    float: left;
}
.ewAdmin #adminHeader #subAdminMenu ul, .ewAdmin #adminHeader #subAdminMenu li
{
    display: inline;
}
.ewAdmin #adminHeader #subAdminMenu a
{
    padding: 3px 12px 3px 21px;
    position: relative;
    font-size:.9em;
}
.ewAdmin #adminHeader #subAdminMenu a .adminSubMenu2TL
{
    width: 14px;
    height: 21px;
    position: absolute;
    top: 0;
    left: 0;
}

/* ============================= / SUB ADMIN MENU ========================= */

.ewAdmin #adminHeader .bar
{
    padding-bottom: 4px;
    clear: both;
    min-height: 35px;
}

.ewAdmin #adminHeader .bar #mainMenuButton
{
    display: block;
    width: 144px;
    height: 30px;
    float: left;
}

.ewAdmin #adminHeader .bar #logoff
{
    display: block;
    float: right;
    width: 112px;
    height: 30px;
}
/* ============================= ADMIN MODE OPTIONS ========================= */
.ewModal
{
    margin: 5px; /*margin-top: -100px;*/
    padding: 50px;
    text-align: center;

}

#simplemodal-overlay
{
    background: #333 !important;
}

.ewAdmin #adminFooter
{
    margin-top: 30px;
    padding: 0px;
    padding-bottom: 370px;
}
.ewAdmin #adminFooter #footerCopyright
{
    padding: 12px 0 10px 10px;
}