
ALTER TABLE dbo.tblDirectory ADD
	cDirSalt nvarchar(50) NULL

-- Ensure cDirPassword can hold 128 characters
ALTER TABLE tblDirectory ALTER COLUMN cDirPassword NVARCHAR(128);



ALTER TABLE dbo.tblDirectory SET (LOCK_ESCALATION = TABLE)

