.Site table > thead > tr > th, .Site table > tbody > tr > th, .Site table > tfoot > tr > th, .Site table > thead > tr > td, .Site table > tbody > tr > td, .Site table > tfoot > tr > td {
    padding: 0px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.Mail table, table.Mail{
    background-color:initial;
}
.alert-info {
    background-color: #ffffff;
}
.Email, .Mail {
    margin-top:75px;
}

.ContentList tbody tr td div table tbody tr td font table {
    width: 17%;
}

.entryFooter table {
    width: 17%;
}

.ewAdmin .addHere {
    color: #5cbaf1;
}

.ewAdmin .addHere {
    font-size: 11px;
    font-weight: 400;
    padding: 3px;
    letter-spacing: normal;
}
