ALTER TABLE dbo.tblCodes ADD CONSTRAINT
	PK_tblCodes PRIMARY KEY CLUSTERED 
	(
	nCodeKey
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


ALTER TABLE dbo.tblCodes SET (LOCK_ESCALATION = TABLE)

