
ALTER TABLE dbo.tblDirectory ADD
	cDirSalt nvarchar(50) NULL
GO
-- Ensure cDirPassword can hold 128 characters
ALTER TABLE tblDirectory ALTER COLUMN cDirPassword NVARCHAR(128);

GO

ALTER TABLE dbo.tblDirectory SET (LOCK_ESCALATION = TABLE)
GO
