@charset "utf-8";

/* ImageFlow Settings - CSS 2.1
==================================== */
@media screen, projection {
	.imageflow {
		overflow:hidden;
		position:relative; 
		text-align:left;
		visibility:hidden;
		width:100%;
	}
	.imageflow img {
		border:none;
		position:absolute;
		top:0px;
		visibility:hidden;
		-ms-interpolation-mode:bicubic; /* Enables bicubic image resampling for the IE7 */
		cursor:pointer !important;
	}
	.imageflow p {
		margin:0 auto;
		text-align:center;
	}
	.imageflow .loading {
		border:1px solid white;
		height:15px;
		left:50%;
		margin-left:-106px;
		padding:5px;
		position:relative;
		visibility:visible;
		width:200px;
	}
	.imageflow .loading_bar {
		background:#fff;
		height:15px;
		visibility:visible;
		width:1%;
	}
	.imageflow .navigation{
		z-index:10000;
	}
	.imageflow .caption {
		font-weight:bold;
		position:relative; 
		text-align:center;
		z-index:10001;
		margin-top: 20px
	}
	/*.imageflow .scrollbar {
		border-bottom:1px solid #b3b3b3;
		position:relative; 
		visibility:hidden;
		z-index:10002;
		height:1px;
	}*/
	.imageflow .scrollbar {
		position:relative; 
		visibility:hidden;
		z-index:10002;
		height:30px;
		background:transparent url(/ewcommon/images/layout/scroller_bg.gif) no-repeat right 6px;
		padding-top:8px;
	}	
	.imageflow .slider {
		background-image:url(/ewcommon/images/layout/slider.gif);
		background-repeat:no-repeat;
		height:21px;
		margin:-9px 0 0 -9px;
		position:absolute;
		width:21px;
		z-index:10003;
	}
	.imageflow .images {
		overflow:hidden;
		white-space:nowrap;
	}
	.imageflow .button {
		cursor:pointer;
		height:17px;
		position:relative;
		width:17px;
	}
	.imageflow .previous {
		background: url(/ewcommon/images/layout/carosel_left_arrow.gif) top left no-repeat !important;
		float:left;
		margin: -7px 0 0 -30px;
	}
	.imageflow .next {
		background: url(/ewcommon/images/layout/carosel_right_arrow.gif) top left no-repeat !important	;
		float:right;	
		margin:-7px -30px 0 30px;
	}
	#coverflow
    {
        background-color:#fff;
    }
    #coverflow_navigation
    {
        height:80px !important;
    }
    #coverflow_images
    {   
        height:100px !important;
    }
    #coverflow_scrollbar
    {
        width:300px !important;
    }
    #coverflow_caption
    {
        color:#000;
    }
}

