USE [ptn_dev_intotheblue_co_uk]
GO
/****** Object:  StoredProcedure [dbo].[spGetValidShippingOptions]    Script Date: 28-Mar-23 10:03:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-------------------------------------------------------------------------------------------------------------
	Created By			:	Nita Dubal
	Created On			:	21 MARCH, 2023
	Last Modified By	:	Nita Dubal
	Last Modified On	:	30 March 2023
	Input Variables		:										
	Output Parameters	:	None
	Resultsets			:	-
	Sample Execution	:	EXECUTE [dbo].[spGetValidShippingOptions] 0,40,0,0,'GBP',0,4,5,'(''United Kingdom'',''Local'',''Global'')','21-Mar-2023'	-- For normal condition
	                        EXECUTE [dbo].[spGetValidShippingOptions] 0,40,0,0,'GBP',3324,4,5,'(''United Kingdom'',''Local'',''Global'')','21-Mar-2023' 	-- User specific
							EXECUTE [dbo].[spGetValidShippingOptions] 499573,40,0,0,'GBP',0,4,5,'(''United Kingdom'',''Local'',''Global'')','21-Mar-2023' -- Dropship shipping group
							EXECUTE [dbo].[spGetValidShippingOptions] 499574,129,0,0,'GBP',0,4,5,'(''United Kingdom'',''Local'',''Global'')','30-Mar-2023'   --x50 shipping group
	
	Purpose				:	
	Revision			:	None
----------------------------------------------------------------------------------------------------------------*/



ALTER PROCEDURE [dbo].[spGetValidShippingOptions]
	-- Add the parameters for the stored procedure here
	@CartOrderId BIGINT ,   
	@Amount FLOAT,
	@Quantity BIGINT,
	@Weight FLOAT,
	@Currency NVARCHAR(3),
	@userId BIGINT,
	@AuthUsers BIGINT,
	@NonAuthUsers BIGINT,
	@CountryList NVARCHAR(1000),
	@dValidDate Date = GetDate,	
	@GroupType NVARCHAR(100) ='Shipping'

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	    Declare @ExistShippingGroupCount INT =0		
	    Declare @strMainQuery NVARCHAR(MAX) =''
	    Declare @strFirstQuery NVARCHAR(MAX) =''
		Declare @strSecondQuery NVARCHAR(MAX) =''
		Declare @strEndConditionQuery NVARCHAR(MAX) =''
		Declare @strCountryConditionQuery NVARCHAR(MAX) =''
		Declare @shippingGroupCondition NVARCHAR(MAX) =''
		Declare @shippingGroupRuleTypeCondition NVARCHAR(MAX) =''
		Declare @MainWhereCondition NVARCHAR(MAX) =''
		Declare @OrderByCondition NVARCHAR(MAX) =''

		IF @CartOrderId > 0
		BEGIN
			CREATE TABLE #ShippingGroupList (id BIGINT, nCatKey BIGINT,  cCatName NVARCHAR(250), cCatSchemaName NVARCHAR(250)) 
			InSERT INTO #ShippingGroupList
			select i.nItemId as contentId, cpc.nCatKey, cpc.cCatName, cpc.cCatSchemaName
			from tblCartItem i left join tblContent p on i.nItemId = p.nContentKey
			left join tblAudit A ON p.nAuditId= A.nAuditKey 
			left join tblCartCatProductRelations cpr on p.nContentKey = cpr.nContentId left join tblCartProductCategories CPC ON cpr.nCatId= cpc.nCatKey
			where nCartOrderId=@CartOrderId and i.nItemId <> 0
			--select * from #CartDetails 

			SET @ExistShippingGroupCount = (select COUNT(*) AS ExistShippingGroupCount from #ShippingGroupList where cCatSchemaName = @GroupType)
		END

		SET @strFirstQuery= 'select opt.*, dbo.fxn_shippingTotal(opt.nShipOptKey,'+convert(NVARCHAR(10), @Amount)+','+convert(NVARCHAR(10), @Quantity)+','+convert(NVARCHAR(10), @Weight)+') as nShippingTotal  from tblCartShippingLocations Loc 
			Inner Join tblCartShippingRelations rel ON Loc.nLocationKey = rel.nShpLocId 
			Inner Join tblCartShippingMethods opt ON rel.nShpOptId = opt.nShipOptKey 
			INNER JOIN tblAudit ON opt.nAuditId = tblAudit.nAuditKey '

		SET @shippingGroupCondition ='INNER JOIN tblCartShippingProductCategoryRelations CSPC ON opt.nShipOptKey= CSPC.nShipOptId
			INNER JOIN tblCartCatProductRelations cpr on CSPC.nCatId= cpr.nCatId and cpr.nContentId in (select distinct id from #ShippingGroupList)'


		SET @strSecondQuery ='WHERE (nShipOptQuantMin <= 0 or nShipOptQuantMin <= '+convert(NVARCHAR(10), @Quantity)+') and (nShipOptQuantMax <= 0 or nShipOptQuantMax >= '+convert(NVARCHAR(10), @Quantity)+') 
			and (nShipOptPriceMin <= 0 or nShipOptPriceMin <= '+convert(NVARCHAR(10), @Amount)+') and (nShipOptPriceMax <= 0 or nShipOptPriceMax >= '+convert(NVARCHAR(10), @Amount)+') 
			and (nShipOptWeightMin <= 0 or nShipOptWeightMin <= '+convert(NVARCHAR(10), @Weight)+') and (nShipOptWeightMax <= 0 or nShipOptWeightMax >= '+convert(NVARCHAR(10), @Weight)+')  
			and ((opt.cCurrency Is Null) or (opt.cCurrency = '''') or (opt.cCurrency = '''+@Currency+''')) and
			opt.nShipOptKey = 
			CASE WHEN '+convert(NVARCHAR(10), @userId)+'= 0 THEN (CASE WHEN (SELECT COUNT(perm.nCartShippingPermissionKey) from tblCartShippingPermission perm  where perm.nShippingMethodId = opt.nShipOptKey 
										 and perm.nDirId = '+convert(NVARCHAR(10), @NonAuthUsers)+'  and perm.nPermLevel = 1) > 0 
										 or (SELECT COUNT(*) from tblCartShippingPermission perm where opt.nShipOptKey = perm.nShippingMethodId and perm.nPermLevel = 1) = 0
								      THEN opt.nShipOptKey 			   
				  
									  END )  
			 
			 WHEN '+convert(NVARCHAR(10), @userId)+' >0 THEN (CASE WHEN ((SELECT COUNT(perm.nCartShippingPermissionKey) from tblCartShippingPermission perm Inner join
										tblDirectoryRelation PermGroup ON perm.nDirId = PermGroup.nDirParentId  
										where perm.nShippingMethodId = opt.nShipOptKey and PermGroup.nDirChildId = '+convert(NVARCHAR(10), @userId)+' and perm.nPermLevel = 1) > 0

										and not((SELECT COUNT(perm.nCartShippingPermissionKey) from tblCartShippingPermission perm 
										Inner join tblDirectoryRelation PermGroup ON perm.nDirId = PermGroup.nDirParentId  
										where perm.nShippingMethodId = opt.nShipOptKey and PermGroup.nDirChildId = '+convert(NVARCHAR(10), @userId)+' and perm.nPermLevel = 0) > 0)

										Or (SELECT COUNT(perm.nCartShippingPermissionKey) from tblCartShippingPermission perm 
										where perm.nShippingMethodId = opt.nShipOptKey And perm.nDirId = '+convert(NVARCHAR(10), @AuthUsers)+' And perm.nPermLevel = 1) > 0 

										or (SELECT COUNT(*) from tblCartShippingPermission perm where opt.nShipOptKey = perm.nShippingMethodId and perm.nPermLevel = 1) = 0)

										And opt.nShipOptKey not in ( select nShippingMethodId from tblCartShippingPermission perm 
										Inner join tblDirectoryRelation PermGroup ON perm.nDirId = PermGroup.nDirParentId  
										 and  nPermLevel = 0  and PermGroup.nDirChildId = '+convert(NVARCHAR(10), @userId)+')

									THEN opt.nShipOptKey END
			 )
			 END '

		
	    SET @shippingGroupRuleTypeCondition =' AND CSPC.nRuleType = 1'

		IF @CountryList <> ''
			 BEGIN
				SET @strCountryConditionQuery = 'AND ((loc.cLocationNameShort IN '+@CountryList+') or (loc.cLocationNameFull IN '+@CountryList+')) '
			 END
			 			 
		SET @strEndConditionQuery= 'AND (tblAudit.nStatus >0) AND ((tblAudit.dPublishDate = 0) or (tblAudit.dPublishDate Is Null) or (tblAudit.dPublishDate <= '''+convert(NVARCHAR(50), @dValidDate)+'''))
             AND ((tblAudit.dExpireDate = 0) or (tblAudit.dExpireDate Is Null) or (tblAudit.dExpireDate >= '''+convert(NVARCHAR(50), @dValidDate)+'''))'
			
        SET @OrderByCondition=' order by opt.nDisplayPriority, nShippingTotal'

		IF @ExistShippingGroupCount>0
		BEGIN

			 SET @strMainQuery = CONCAT (@strFirstQuery,@shippingGroupCondition,@strSecondQuery, @strCountryConditionQuery ,@strEndConditionQuery, @shippingGroupRuleTypeCondition, @OrderByCondition)  
			 EXEC (@strMainQuery)

			 DROP TABLE #ShippingGroupList
		END
		ELSE
		BEGIN		

			 SET @strMainQuery = CONCAT (@strFirstQuery,@strSecondQuery, @strCountryConditionQuery ,@strEndConditionQuery,@OrderByCondition)   

			 EXEC (@strMainQuery)
		END
        
END
