
<payment>
  <currencies>
    <!--Currency ref="GBP" code="GBP" symbol="£">
      <name lang="en">Pounds Sterling</name>
      <description lang="en">Payment in Pounds Sterling</description>
      <description lang="pt">
      </description>
    </Currency-->
    <!--Currency ref="EUR" code="EUR" symbol="€">
      <name lang="en">Euros</name>
      <description lang="en">Payment in Euros</description>
    </Currency-->
  </currencies>
  <provider name="PayOnAccount" validGroups="all" validCurrencies="GBP">
    <description value="Place order, you will be contacted to arrange payment and delivery." />
    <AccountXform value="/ptn/features/cart/paymentprovider/payonaccount.xml" />
  </provider>
</payment>
