<?xml version="1.0"?>
<cart>
  <add key="SiteURL" value=""/>
  <add key="SecureURL" value=""/>
  <add key="TaxRate" value="0"/>
  <add key="MerchantName" value=""/>
  <add key="MerchantEmail" value="support@eonic.digital" />
  <add key="MerchantEmailBcc" value="" />  
  <add key="OrderEmailSubject" value="ProteanCMS Online Order" />
  <add key="TermsAndConditions" value="t's and c's"/>
  <add key="OrderNoPrefix" value="PTN-V6-"/>
  <add key="CurrencySymbol" value="£"/>
  <add key="StockControl" value="off"/>
  <add key="Deposit" value="0"/>
  <add key="DepositAmount" value="0"/>
  <add key="NotesXForm" value=""/>
  <add key="BillingAddressXForm" value="/ptn/features/cart/both-addresses.xml"/>
  <add key="DeliveryAddressXForm" value="/ptn/features/cart/delivery-address.xml"/>
  <add key="NoDeliveryAddress" value="off"/>
  <add key="MerchantEmailTemplatePath" value="" />
  <add key="CustomerEmailTemplatePath" value="" />
  <add key="CustomerEmailShippedTemplatePath" value="" />
  <add key="PriorityCountries" value="United Kingdom, Ireland" />
  <add key="GiftBoxDiscount" value=""/>
  <add key="SavePayments" value="on" />
  <add key="VatAtUnit" value="yes" />
  <add key="Discounts" value="on" />
  <add key="DefaultShippingMethodId" value=""/>
  <add key="eShippingMethodId" value=""/>
  <add key="PriceModOrder" value="Basic_Money,Break_Product_Money,Break_Group_Money,Basic_Percent,Break_Product_Percent,Break_Group_Percent" />
  <add key="UnitModOrder" value="BXGYF,CheapestFree" />
  <add key="PriceModOrder" value="" />
  <add key="AddBehaviour" value="Logon"/>
  <add key="ClearOnAdd" value="off" />
  <add key="PersistCart" value="on" />
  <add key="DefaultDeliveryCountry" value="United Kingdom" />
  <add key="DefaultCountry" value="United Kingdom" />
  <add key="currency" value="GBP" />
  <add key="DefaultCurrencyOveride" value="" />
  <add key="DontTaxShipping" value="" />
  <add key="PaymentTypeButtons" value="on" />
  <add key="OverrideCheapestPrice" value="on" />
  <add key="ProductCategoryTypes" value="Shipping" />	
</cart>