<rewriteMaps>
  <rewriteMap name="StaticRewrites" defaultValue="">
    <add key="/googlesitemap.xml" value="/ewcommon/feeds/google/sitemap.ashx" />
    <add key="/googlebaseproducts.xml" value="/ewcommon/feeds/google/base.ashx" />
  </rewriteMap>
  <rewriteMap name="301Redirect">
    <add key="/Home" value="/" />
     </rewriteMap>
  <rewriteMap name="302Redirect" defaultValue="">
     </rewriteMap>
</rewriteMaps>