body 
{
	background-color:white;
	text-align:center;
	font-family:@Arial Unicode MS;
	font-size:12;
	font-style:normal;
	font-weight:bold;
}
#tblProgress
{
	border-style:groove;
}
.ProgressRow
{
	height:10px;
}
.ProgressCellComplete, .ProgressCell
{
	width:10px;
	height:10px;
	border-style:groove;
}
.ProgressCell
{
	background-color:gray;
}
.ProgressCellComplete
{
	background-color:green;
}
.ExtraInfo
{
	font-weight:normal;
}