<?xml version="1.0"?>
<theme>
  <add key="CurrentTheme" value="BespokeBuildBase" />
  <add key="variablesPath" value="/css/variables.less" />
  <add key="Business.Layout" value="TopNavSideSub" />
  <add key="Business.Header" value="2" />
  <add key="Business.SideSubWidth" value="3" />
  <add key="Business.ThemePreset" value="Default" />
  <add key="Business.Breadcrumb" value="false" />
  <add key="Business.MainTitle" value="false" />
  <add key="Business.HomeNav" value="false" />
  <add key="Business.HomeInfo" value="true" />
  <add key="Business.NavFix" value="true" />
  <add key="Business.body-bg" value="#ffffff" />
  <add key="Business.header-bg" value="#ffffff" />
  <add key="Business.brand-primary" value="#26ace2" />
  <add key="Business.brand-action" value="#18bc9c" />
  <add key="Business.brand-info" value="#3498db" />
  <add key="Business.brand-success" value="#18bc9c" />
  <add key="Business.brand-warning" value="#f39c12" />
  <add key="Business.brand-danger" value="#e74c3c" />
  <add key="Business.link-color" value="#18bc9c" />
  <add key="Business.text-color" value="#333333" />
  <add key="Business.headings-font" value="" />
  <add key="Business.headings-font-family" value="'Lato', sans-serif" />
  <add key="Business.headings-font-import" value="Lato:300,400,700" />
  <add key="Business.base-font" value="" />
  <add key="Business.font-family-base" value="'Lato', sans-serif" />
  <add key="Business.font-import-base" value="Lato:300,400,700" />
  <add key="Business.navbar-default-bg" value="#2c3e50" />
  <add key="Business.nav-text-color" value="#ffffff" />
  <add key="Business.line-height-base" value="1.428571429" />
  <add key="Business.border-radius-base" value="10px" />
  <add key="Business.nav-gradient" value="false" />
  <add key="Business.btn-gradient" value="false" />
  <add key="Business.state-bg-lightness" value="normal" />
  <add key="Business.nav-active" value="#3498db" />
  <add key="Business.btn-default-color" value="#ffffff" />
  <add key="Business.btn-default-bg" value="#444444" />
  <add key="Business.headings-color" value="#333333" />
  <add key="Business.headings-font-weight" value="300" />
  <add key="Business.no-border" value="false" />
  <add key="Business.background-image" value="" />
  <add key="Business.background-repeat" value="repeat-x" />
  <add key="Business.background-position" value="left top" />
  <add key="Business.background-attachment" value="scroll" />
  <add key="Business.footer-color" value="#ffffff" />
  <add key="Business.footer-bg" value="#2c3e50" />
  <add key="Protocol.Layout" value="TopNav" />
  <add key="Protocol.Header" value="1" />
  <add key="Protocol.SideSubWidth" value="2" />
  <add key="Protocol.ThemePreset" value="Default" />
  <add key="Protocol.Breadcrumb" value="true" />
  <add key="Protocol.MainTitle" value="true" />
  <add key="Protocol.HomeNav" value="true" />
  <add key="Protocol.HomeInfo" value="true" />
  <add key="Protocol.NavFix" value="true" />
  <add key="Protocol.body-bg" value="#ffffff" />
  <add key="Protocol.brand-primary" value="#e07894" />
  <add key="Protocol.brand-action" value="#9d5468" />
  <add key="Protocol.brand-info" value="#a6a6a6" />
  <add key="Protocol.brand-success" value="#18bc9c" />
  <add key="Protocol.brand-warning" value="#f39c12" />
  <add key="Protocol.brand-danger" value="#e74c3c" />
  <add key="Protocol.link-color" value="#e07894" />
  <add key="Protocol.text-color" value="#323232" />
  <add key="Protocol.headings-font" value="" />
  <add key="Protocol.headings-font-family" value="'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif" />
  <add key="Protocol.headings-font-import" value="Raleway:300,400,700" />
  <add key="Protocol.base-font" value="" />
  <add key="Protocol.font-family-base" value="'Raleway', sans-serif" />
  <add key="Protocol.font-import-base" value="Raleway:300,400,700" />
  <add key="Protocol.navbar-default-bg" value="#e07894" />
  <add key="Protocol.nav-text-color" value="#ffffff" />
  <add key="Protocol.line-height-base" value="1.428571429" />
  <add key="Protocol.border-radius-base" value="4px" />
  <add key="Protocol.nav-gradient" value="false" />
  <add key="Protocol.btn-gradient" value="false" />
  <add key="Protocol.state-bg-lightness" value="normal" />
  <add key="Protocol.nav-active" value="#ffffff" />
  <add key="Protocol.btn-default-color" value="#ffffff" />
  <add key="Protocol.btn-default-bg" value="#e07894" />
  <add key="Protocol.headings-color" value="#333333" />
  <add key="Protocol.headings-font-weight" value="500" />
  <add key="Protocol.no-border" value="false" />
  <add key="Protocol.background-image" value="/ewthemes/protocol/images/bg1.jpg" />
  <add key="Protocol.background-repeat" value="repeat-x" />
  <add key="Protocol.background-position" value="left top" />
  <add key="Protocol.background-attachment" value="scroll" />
  <add key="Nameless.Layout" value="TopNavSideSub" />
  <add key="Nameless.Header" value="1" />
  <add key="Nameless.SideSubWidth" value="3" />
  <add key="Nameless.ThemePreset" value="Default" />
  <add key="Nameless.Breadcrumb" value="false" />
  <add key="Nameless.MainTitle" value="false" />
  <add key="Nameless.HomeNav" value="true" />
  <add key="Nameless.HomeInfo" value="false" />
  <add key="Nameless.NavFix" value="true" />
  <add key="Nameless.body-bg" value="#ffffff" />
  <add key="Nameless.brand-primary" value="#158115" />
  <add key="Nameless.brand-action" value="#9a782f" />
  <add key="Nameless.brand-info" value="#8dc37e" />
  <add key="Nameless.brand-success" value="#8dc37e" />
  <add key="Nameless.brand-warning" value="#9a782f" />
  <add key="Nameless.brand-danger" value="#6c0303" />
  <add key="Nameless.link-color" value="#158115" />
  <add key="Nameless.text-color" value="#666565" />
  <add key="Nameless.headings-font" value="" />
  <add key="Nameless.headings-font-family" value="'Quicksand', sans-serif" />
  <add key="Nameless.headings-font-import" value="Quicksand:300,400,700" />
  <add key="Nameless.base-font" value="" />
  <add key="Nameless.font-family-base" value="'Quicksand', sans-serif" />
  <add key="Nameless.font-import-base" value="Quicksand:300,400,700" />
  <add key="Nameless.navbar-default-bg" value="#158115" />
  <add key="Nameless.nav-text-color" value="#ffffff" />
  <add key="Nameless.line-height-base" value="1.4" />
  <add key="Nameless.border-radius-base" value="20px" />
  <add key="Nameless.nav-gradient" value="false" />
  <add key="Nameless.btn-gradient" value="false" />
  <add key="Nameless.state-bg-lightness" value="normal" />
  <add key="Nameless.nav-active" value="#bddfab" />
  <add key="Nameless.btn-default-color" value="#ffffff" />
  <add key="Nameless.btn-default-bg" value="#158115" />
  <add key="Nameless.headings-color" value="#232323" />
  <add key="Nameless.headings-font-weight" value="700" />
  <add key="Nameless.no-border" value="false" />
  <add key="Nameless.background-image" value="" />
  <add key="Nameless.background-repeat" value="repeat-x" />
  <add key="Nameless.background-position" value="left top" />
  <add key="Nameless.background-attachment" value="scroll" />
  <add key="BespokeBuildBase.Layout" value="TopNavSideSub" />
  <add key="BespokeBuildBase.ThemePreset" value="Winter" />
  <add key="BespokeBuildBase.Breadcrumb" value="true" />
  <add key="BespokeBuildBase.MainTitle" value="true" />
  <add key="BespokeBuildBase.HomeNav" value="true" />
  <add key="BespokeBuildBase.HomeInfo" value="false" />
  <add key="BespokeBuildBase.body-bg" value="#ffffff" />
  <add key="BespokeBuildBase.brand-primary" value="#8f1656" />
  <add key="BespokeBuildBase.brand-action" value="#383d43" />
  <add key="BespokeBuildBase.brand-info" value="#fa6677" />
  <add key="BespokeBuildBase.brand-success" value="#95bf83" />
  <add key="BespokeBuildBase.brand-warning" value="#f0864d" />
  <add key="BespokeBuildBase.brand-danger" value="#8f1656" />
  <add key="BespokeBuildBase.link-color" value="#fa6677" />
  <add key="BespokeBuildBase.text-color" value="#383d43" />
  <add key="BespokeBuildBase.headings-font" value="" />
  <add key="BespokeBuildBase.headings-font-family" value="'Lato', sans-serif" />
  <add key="BespokeBuildBase.headings-font-import" value="Lato:300,400,700" />
  <add key="BespokeBuildBase.base-font" value="" />
  <add key="BespokeBuildBase.font-family-base" value="'Lato', sans-serif" />
  <add key="BespokeBuildBase.font-import-base" value="Lato:300,400,700" />
  <add key="BespokeBuildBase.border-radius-base" value="0px" />
  <add key="BespokeBuildBase.btn-default-bg" value="#8f1656" />
  <add key="BespokeBuildBase.headings-color" value="#8f1656" />
  <add key="BespokeBuildBase.background-image" value="" />
  <add key="BespokeBuildBase.background-repeat" value="repeat-x" />
  <add key="BespokeBuildBase.background-position" value="left top" />
  <add key="BespokeBuildBase.background-attachment" value="scroll" />
  <add key="Baxter.Layout" value="TopNavSideSub" />
  <add key="Baxter.Header" value="1" />
  <add key="Baxter.SideSubWidth" value="3" />
  <add key="Baxter.ThemePreset" value="Default" />
  <add key="Baxter.Breadcrumb" value="false" />
  <add key="Baxter.MainTitle" value="false" />
  <add key="Baxter.HomeNav" value="true" />
  <add key="Baxter.HomeInfo" value="false" />
  <add key="Baxter.NavFix" value="true" />
  <add key="Baxter.body-bg" value="#ffffff" />
  <add key="Baxter.brand-primary" value="#158115" />
  <add key="Baxter.brand-action" value="#9a782f" />
  <add key="Baxter.brand-info" value="#8dc37e" />
  <add key="Baxter.brand-success" value="#8dc37e" />
  <add key="Baxter.brand-warning" value="#9a782f" />
  <add key="Baxter.brand-danger" value="#6c0303" />
  <add key="Baxter.link-color" value="#158115" />
  <add key="Baxter.text-color" value="#666565" />
  <add key="Baxter.headings-font" value="'Font Name Here', sans-serif|Font+Name+Here:300,400,700,300italic,400italic,700italic" />
  <add key="Baxter.headings-font-family" value="'Quicksand', sans-serif" />
  <add key="Baxter.headings-font-import" value="Quicksand:300,400,700,300italic,400italic,700italic" />
  <add key="Baxter.base-font" value="'Font Name Here', sans-serif|Font+Name+Here:300,400,700,300italic,400italic,700italic" />
  <add key="Baxter.font-family-base" value="'Quicksand', sans-serif" />
  <add key="Baxter.font-import-base" value="Quicksand:300,400,700,300italic,400italic,700italic" />
  <add key="Baxter.navbar-default-bg" value="#158115" />
  <add key="Baxter.nav-text-color" value="#ffffff" />
  <add key="Baxter.line-height-base" value="1.4" />
  <add key="Baxter.border-radius-base" value="20px" />
  <add key="Baxter.nav-gradient" value="false" />
  <add key="Baxter.btn-gradient" value="false" />
  <add key="Baxter.state-bg-lightness" value="normal" />
  <add key="Baxter.nav-active" value="#bddfab" />
  <add key="Baxter.btn-default-color" value="#ffffff" />
  <add key="Baxter.btn-default-bg" value="#158115" />
  <add key="Baxter.headings-color" value="#232323" />
  <add key="Baxter.headings-font-weight" value="700" />
  <add key="Baxter.no-border" value="false" />
  <add key="Baxter.background-image" value="" />
  <add key="Baxter.background-repeat" value="repeat-x" />
  <add key="Baxter.background-position" value="left top" />
  <add key="Baxter.background-attachment" value="scroll" />
  <add key="Designer.Layout" value="TopNav" />
  <add key="Designer.SideSubWidth" value="3" />
  <add key="Designer.ThemePreset" value="Default" />
  <add key="Designer.Breadcrumb" value="true" />
  <add key="Designer.MainTitle" value="true" />
  <add key="Designer.HomeNav" value="true" />
  <add key="Designer.HomeInfo" value="true" />
  <add key="Designer.NavFix" value="true" />
  <add key="Designer.body-bg" value="#ffffff" />
  <add key="Designer.brand-primary" value="#2c3e50" />
  <add key="Designer.brand-action" value="#18bc9c" />
  <add key="Designer.brand-info" value="#3498db" />
  <add key="Designer.brand-success" value="#18bc9c" />
  <add key="Designer.brand-warning" value="#f39c12" />
  <add key="Designer.brand-danger" value="#e74c3c" />
  <add key="Designer.link-color" value="#18bc9c" />
  <add key="Designer.text-color" value="#333333" />
  <add key="Designer.headings-font" value="" />
  <add key="Designer.headings-font-family" value="'Lato', sans-serif" />
  <add key="Designer.headings-font-import" value="Lato:300,400,700" />
  <add key="Designer.base-font" value="" />
  <add key="Designer.font-family-base" value="'Lato', sans-serif" />
  <add key="Designer.font-import-base" value="Lato:300,400,700" />
  <add key="Designer.navbar-default-bg" value="#2c3e50" />
  <add key="Designer.nav-text-color" value="#ffffff" />
  <add key="Designer.line-height-base" value="1.428571429" />
  <add key="Designer.border-radius-base" value="4px" />
  <add key="Designer.nav-gradient" value="false" />
  <add key="Designer.btn-gradient" value="false" />
  <add key="Designer.state-bg-lightness" value="normal" />
  <add key="Designer.nav-active" value="#3498db" />
  <add key="Designer.btn-default-color" value="#ffffff" />
  <add key="Designer.btn-default-bg" value="#444444" />
  <add key="Designer.headings-color" value="#333333" />
  <add key="Designer.headings-font-weight" value="300" />
  <add key="Designer.no-border" value="false" />
  <add key="Designer.background-image" value="" />
  <add key="Designer.background-repeat" value="repeat-x" />
  <add key="Designer.background-position" value="left top" />
  <add key="Designer.background-attachment" value="scroll" />
  <add key="Designer.nav-dropdown" value="true" />
  <add key="Business.nav-dropdown" value="true" />
  <add key="SiteXsl" value="/ewthemes/BespokeBuildBase/TopNavSideSub.xsl" />
  <add key="BespokeBuildBase.contrast-color" value="#000" />
  <add key="BespokeBuildBase.header-bg" value="#383D43" />
  <add key="BespokeBuildBase.NavFix" value="true" />
</theme> 
