
<payment>
  <currencies>
    <!--Currency ref="GBP" code="GBP" symbol="£">
      <name lang="en">Pounds Sterling</name>
      <description lang="en">Payment in Pounds Sterling</description>
      <description lang="pt">
      </description>
    </Currency-->
    <!--Currency ref="EUR" code="EUR" symbol="€">
      <name lang="en">Euros</name>
      <description lang="en">Payment in Euros</description>
    </Currency-->
  </currencies>
  <provider name="PayPalExpress" validGroups="all" validCurrencies="GBP">
    <description value="PayPal" />
    <currency value="GBP" />
    <accountId value="trevor_1261220502_biz_api1.eonic.co.uk" />
    <accountPassword value="1261220614" />
    <accountSignature value="AGNY9S4Rw7SA7PjFEWI5Ej7r.RQ5A.E5U4XH.nk1iYnRetE7OTzxn896" />
    <opperationMode value="true" />
    <PaymentAction value="Sale" />
    <LocaleCode value="GB" />
    <AddressOveride value="1" />
    <AllowNote value="0" />
    <ReqConfirmShipping value="0" />
    <NoShipping value="1" />
    <PageStyle value="" />
    <cpp-header-image value="" />
    <cpp-header-border-color value="#000000" />
    <cpp-header-back-color value="#FFCCFF" />
    <cpp-payflow-color value="#FFFFCC" />
  </provider>
  <provider name="PayOnAccount" validGroups="all" validCurrencies="GBP">
    <description value="Place order, you will be contacted to arrange payment and delivery." />
    <AccountXform value="/ewcommon/xforms/cart/payonaccount.xml" />
  </provider>
  <provider name="PayPalPro" validGroups="all" validCurrencies="GBP"
    class="PayPalPro">
    <description value="Pay by Credit Card (PayPal Pro)" />
    <currency value="GBP" />
    <cardsAccepted value="MasterCard:Master Card,VISA:Visa,Delta:Delta,Solo:Solo,Switch/Maestro:Switch" />
    <apiUsername value="trevor_1261070496_biz@eonic.co.uk" />
    <apiPassword value="1261070605" />
    <apiSignature value="A4m3KxoRe0qrA96SgRhyNzsfS.dQABUZcuZ6tM6z1aiNQKkgmEfCsVJe" />
    <opperationMode value="true" />
    <transactionType value="defer" />
    <validateAddress value="on" />
    <validateCV2 value="on" />
    <secure3d value="off" />
    <centinalProcessorId value="134-01" />
    <centinalCurrencyCode value="826" />
    <centinalMerchantId value="trevor@eonic.co.uk" />
    <centinalTransactionPwd value="soNIC14" />
    <centinalURL value="https://centineltest.cardinalcommerce.com/maps/txns.asp" />
    <centinalTimeout value="20000" />
  </provider>
  <provider name="SagePayV3" validGroups="all" class="SagePayV3">
    <description value="Pay by Credit Card (SagePayV3)" />
    <currency value="GBP" />
    <cardsAccepted value="MasterCard:MC,VISA:VISA,Delta:DELTA,Solo:SOLO,Switch/Maestro:MAESTRO" />
    <accountId value="eonicltdtest" />
    <opperationMode value="test" />
    <transactionType value="DEFERRED" />
    <validateAddress value="on" />
    <validateCV2 value="0" />
    <failOn value="ANY FAILED MATCHES" />
    <secure3d value="1" />
  </provider>
</payment>
