<?xml version="1.0"?>
<web>
  <add key="AdminAcct" value="" />
  <add key="AdminDomain" value="" />
  <add key="AdminPassword" value="" />
  <add key="AdminGroup" value="" />
  <add key="MailServer" value="" />
  <add key="SoapIPs" value="" />
  <add key="ServerName" value="" />
  <add key="CommonDirectoryPath" value="" />
  <add key="DatabaseType" value="SQL" />
  <add key="DatabaseServer" value="" />
  <add key="DatabaseName" value="" />
  <add key="DatabaseUsername" value="" />
  <add key="DatabasePassword" value="" />
  <add key="RootPageId" value="1" />
  <add key="BaseUrl" value="" />
  <!-- Theme -->
  <add key="SiteXsl" value="/ewthemes/BespokeBuildBase/TopNavSideSub.xsl" />
  <add key="AdminXsl" value="common" />
  <add key="cssFramework" value="bs3" />
  <!-- Email -->
  <add key="SiteAdminEmail" value="test@test.co.uk" />
  <add key="ContentSearch" value="on" />
  <add key="Debug" value="on" />
  <add key="CompiledTransform" value="off" />
  <add key="SiteAdminName" value="" />
  <!-- Library Directories-->
  <add key="ImageRootPath" value="/images/" />
  <add key="DocRootPath" value="/docs/" />
  <add key="MediaRootPath" value="/media/" />
  <!-- Membership -->
  <add key="Membership" value="off" />
  <add key="MailingList" value="on" />
  <add key="NonAuthenticatedUsersGroupId" value="23" />
  <add key="AuthenticatedUsersGroupId" value="22" />
  <add key="AuthenticatedRootPageId" value="" />
  <add key="LogonRedirectPath" value="/Products/" />
  <add key="RegisterBehaviour" value="Auto" />
  <add key="RegisterRedirectPageId" value="" />
  <add key="MembershipEncryption" value="plain" />
  <!-- plain - MD5 - SHA1 -->
  <!-- Options -->
  <add key="Cart" value="off" />
  <add key="Quote" value="off" />
  <add key="Report" value="off" />
  <add key="Subscriptions" value="on" />
  <add key="ActivityLogging" value="on" />
  <add key="IPLogging" value="on" />
  <add key="GoogleContentTypes" value="Product" />
  <add key="ShowRelatedBriefContentTypes" value="" />
  <add key="ShowRelatedBriefDepth" value="" />
  <add key="VersionControl" value="on" />
  <add key="PageVersions" value="on" />
  <!-- Search -->
  <add key="Search" value="on" />
  <add key="SearchXPath" value="" />
  <add key="SiteSearch" value="on" />
  <add key="SiteSearchPath" value="" />
  <add key="SearchXpath" value="" />
  <add key="SearchCatalog" value="" />
  <add key="pageExt" value="" />
  <add key="LegacyRedirect" value="off" />
  <add key="PageURLFormat" value="hyphens" />
  <add key="AllowContentDetailAccess" value="off" />
  <add key="DescriptiveContentURLs" value="true" />
  <add key="ControlPanelTypes" value="" />
  <add key="CookieDomain" value="" />
  <add key="UserIntegrations" value="off" />
  <add key="LogEmail" value="on" />
  <add key="LogEmailXml" value="on" />
  <add key="SingleLoginSessionPerUser" value="off" />
  <add key="SingleLoginSessionTimeout" value="900" />
  <add key="ShowStructForiegnRef" value="off" />
  <add key="StatsID" value="" />
  <add key="StatsUser" value="admin" />
  <add key="StatsPass" value="ghtrtfrfg" />
  <add key="SiteName" value="V5 Demo Test Website" />
  <add key="SiteLogo" value="" />
  <add key="CompanyName" value="Eonic Associates LLP." />
  <add key="CompanyAddress" value="11 Heskett Park" />
  <add key="CompanyTel" value="01892 534044" />
  <add key="CompanyEmail" value="support@eonic.co.uk" />
  <add key="VATnumber" value="1234124" />
  <add key="CompanyRegNo" value="59678457" />
  <add key="MenuContentCountTypes" value="" />
  <add key="StatsPassword" value="" />
  <add key="ServerSenderEmail" value="tester@eonic.co.uk" />
  <add key="ServerSenderEmailName" value="" />
  <add key="eonicwebProductName" value="" />
  <add key="eonicwebCMSName" value="" />
  <add key="eonicwebAdminSystemName" value="" />
  <add key="eonicwebCopyright" value="" />
  <add key="eonicwebSupportTelephone" value="" />
  <add key="eonicwebWebsite" value="" />
  <add key="eonicwebSupportEmail" value="" />
  <add key="eonicwebLogo" value="" />
  <add key="websitecreditText" value="" />
  <add key="websitecreditLogo" value="" />
  <add key="websitecreditURL" value="" />
  <add key="MailServer2" value="" />
  <add key="MailServerPort" value="" />
  <add key="MailServerUsername" value="" />
  <add key="MailServerPassword" value="" />
  <add key="MailServerSSL" value="" />
  <add key="ScriptAtBottom" value="off" />
  <add key="MenuContentBriefTypes" value="" />
  <add key="XslTimeout" value="" />
  <add key="Scheduler" value="off" />
  <add key="ExpireAtEndOfDay" value="off" />
  <add key="GoogleAnalyticsUniversalID" value="" />
  <add key="PageCache" value="off" />
  <add key="CheckDetailPath" value="on" />
</web>
