<?xml version="1.0"?>
<cart>
  <add key="SiteURL" value=""/>
  <add key="SecureURL" value=""/>
  <add key="TaxRate" value="0"/>
  <add key="MerchantEmail" value=""/>
  <add key="TermsAndConditions" value="t's and c's"/>
  <add key="OrderNoPrefix" value="V4-"/>
  <add key="CurrencySymbol" value="£"/>
  <add key="StockControl" value="off"/>
  <add key="Deposit" value="0"/>
  <add key="DepositAmount" value="0"/>
  <add key="NotesXForm" value=""/>
  <add key="BillingAddressXForm" value="/ewcommon/xforms/cart/billinganddeliveryaddress.xml"/>
  <add key="DeliveryAddressXForm" value=""/>
  <add key="NoDeliveryAddress" value="off"/>
  <add key="MerchantEmailTemplatePath" value=""/>
  <add key="PriorityCountries" value=""/>
</cart>