<?xml version="1.0"?>
<theme>
  <add key="CurrentTheme" value="ptn-base" />
  <add key="SiteXsl" value="/themes/ptn-base/layout-header-banner.xsl" />
  <add key="variablesPath" value="/css/variables.scss" />
  <add key="ptn-base.Layout" value="TopNavSideSub" />
  <add key="ptn-base.ThemePreset" value="Winter" />
  <add key="ptn-base.Breadcrumb" value="true" />
  <add key="ptn-base.MainTitle" value="true" />
  <add key="ptn-base.HomeNav" value="true" />
  <add key="ptn-base.HomeInfo" value="false" />
  <add key="ptn-base.body-bg" value="#ffffff" />
  <add key="ptn-base.brand-primary" value="#8f1656" />
  <add key="ptn-base.brand-action" value="#383d43" />
  <add key="ptn-base.brand-info" value="#fa6677" />
  <add key="ptn-base.brand-success" value="#95bf83" />
  <add key="ptn-base.brand-warning" value="#f0864d" />
  <add key="ptn-base.brand-danger" value="#8f1656" />
  <add key="ptn-base.link-color" value="#fa6677" />
  <add key="ptn-base.text-color" value="#383d43" />
  <add key="ptn-base.headings-font" value="" />
  <add key="ptn-base.headings-font-family" value="'Lato', sans-serif" />
  <add key="ptn-base.headings-font-import" value="Lato:300,400,700" />
  <add key="ptn-base.base-font" value="" />
  <add key="ptn-base.font-family-base" value="'Lato', sans-serif" />
  <add key="ptn-base.font-import-base" value="Lato:300,400,700" />
  <add key="ptn-base.border-radius-base" value="0px" />
  <add key="ptn-base.btn-default-bg" value="#8f1656" />
  <add key="ptn-base.headings-color" value="#8f1656" />
  <add key="ptn-base.background-image" value="" />
  <add key="ptn-base.background-repeat" value="repeat-x" />
  <add key="ptn-base.background-position" value="left top" />
  <add key="ptn-base.background-attachment" value="scroll" />
  <add key="ptn-base.contrast-color" value="#000" />
  <add key="ptn-base.header-bg" value="#383D43" />
  <add key="ptn-base.NavFix" value="true" />
</theme> 
