<?xml version="1.0"?>
<mailinglist>
  <add key="MessagingProvider" value="" />
  <add key="RootPageId" value="" />
  <add key="MailingXsl" value="" />
  <add key="SenderEmail" value="" />
  <add key="SenderName" value="" />
  <add key="BCCLimit" value="20" />
  <add key="PickupHost" value="127.0.0.1" />
  <add key="PickupLocation" value="C:\Inetpub\mailroot\Pickup" />
  <add key="Pop3Server" value="" />
  <add key="Pop3Acct" value="" />
  <add key="Pop3Pwd" value="" />
  <add key="ApiKey" value="" />
  <add key="ClientID" value="" />
  <add key="CMUsername" value="" />
  <add key="ReplyEmail" value="" />
  <add key="CMP" value="" />
</mailinglist>

    