<?xml version="1.0"?>
<web>
  <!--add key="AdminAcct" value="" />
  <add key="AdminDomain" value="" />
  <add key="AdminPassword" value="" />
  <add key="AdminGroup" value="" /-->
  <add key="MailServer" value="" />
  <add key="SoapIPs" value="" />
  <add key="ServerName" value="" />
  <add key="CommonDirectoryPath" value="" />
  <add key="DatabaseType" value="SQL" />
  <!--add key="DatabaseServer" value="localhost\SQLEXPRESS" />
  <add key="DatabaseName" value="" />
  <add key="DatabaseUsername" value="" />
  <add key="DatabasePassword" value="" /-->

  <add key="DatabaseServer" value="sql01.eonichost.co.uk" />
  <add key="DatabaseName" value="ew_demo_proteancms_com" />
  <add key="DatabaseUsername" value="demo_proteancms_com" />
  <add key="DatabasePassword" value="d1wyubpCtognlvqeim" />
  
  <add key="RootPageId" value="1" />
  <add key="BaseUrl" value="" />
  <!-- Theme -->
  <add key="SiteXsl" value="/ewthemes/ProteanMasterTheme/SubNavTopLevel1.xsl" />
  <add key="AdminXsl" value="/ewthemes/ProteanMasterTheme/admin.xsl" />
  <add key="cssFramework" value="bs5" />
  <!-- Email -->
  <add key="SiteAdminEmail" value="test@test.co.uk" />
  <add key="ContentSearch" value="on" />
  <add key="Debug" value="on" />
  <add key="CompiledTransform" value="off" />
  <add key="SiteAdminName" value="" />
  <!-- Library Directories-->
  <add key="ImageRootPath" value="/images/" />
  <add key="DocRootPath" value="/docs/" />
  <add key="MediaRootPath" value="/media/" />
  <!-- Membership -->
  <add key="Membership" value="off" />
  <add key="MailingList" value="off" />
  <add key="NonAuthenticatedUsersGroupId" value="" />
  <add key="AuthenticatedUsersGroupId" value="" />
  <add key="AuthenticatedRootPageId" value="" />
  <add key="LogonRedirectPath" value="" />
  <add key="RegisterBehaviour" value="Auto" />
  <add key="RegisterRedirectPageId" value="" />
  <add key="MembershipEncryption" value="SHA1" />
  <!-- plain - MD5 - SHA1 -->
  <!-- Options -->
  <add key="Cart" value="off" />
  <add key="Quote" value="off" />
  <add key="Report" value="off" />
  <add key="Subscriptions" value="on" />
  <add key="ActivityLogging" value="on" />
  <add key="IPLogging" value="on" />
  <add key="GoogleContentTypes" value="Product" />
  <add key="ShowRelatedBriefContentTypes" value="" />
  <add key="ShowRelatedBriefDepth" value="" />
  <add key="VersionControl" value="on" />
  <add key="PageVersions" value="on" />
  <!-- Search -->
  <add key="Search" value="on" />
  <add key="SearchXPath" value="" />
  <add key="SiteSearch" value="on" />
  <add key="SiteSearchPath" value="" />
  <add key="SearchXpath" value="" />
  <add key="SearchCatalog" value="" />
  <add key="pageExt" value="" />
  <add key="LegacyRedirect" value="off" />
  <add key="PageURLFormat" value="hyphens" />
  <add key="AllowContentDetailAccess" value="off" />
  <add key="DescriptiveContentURLs" value="true" />
  <add key="ControlPanelTypes" value="" />
  <add key="CookieDomain" value="" />
  <add key="UserIntegrations" value="off" />
  <add key="LogEmail" value="on" />
  <add key="LogEmailXml" value="on" />
  <add key="SingleLoginSessionPerUser" value="off" />
  <add key="SingleLoginSessionTimeout" value="900" />
  <add key="ShowStructForiegnRef" value="off" />
  <add key="StatsID" value="" />
  <add key="StatsUser" value="" />
  <add key="StatsPass" value="" />
  <add key="SiteName" value="Protean CMS Demo Website" />
  <add key="SiteLogo" value="" />
  <add key="CompanyName" value="" />
  <add key="CompanyAddress" value="" />
  <add key="CompanyTel" value="" />
  <add key="CompanyEmail" value="" />
  <add key="VATnumber" value="" />
  <add key="CompanyRegNo" value="" />
  <add key="MenuContentCountTypes" value="" />
  <add key="StatsPassword" value="" />
  <add key="ServerSenderEmail" value="" />
  <add key="ServerSenderEmailName" value="" />
  <add key="eonicwebProductName" value="" />
  <add key="eonicwebCMSName" value="" />
  <add key="eonicwebAdminSystemName" value="" />
  <add key="eonicwebCopyright" value="" />
  <add key="eonicwebSupportTelephone" value="" />
  <add key="eonicwebWebsite" value="" />
  <add key="eonicwebSupportEmail" value="" />
  <add key="eonicwebLogo" value="" />
  <add key="websitecreditText" value="A ProteanCMS Website" />
  <add key="websitecreditLogo" value="" />
  <add key="websitecreditURL" value="https://www.proteancms.com" />
  <add key="MailServer2" value="" />
  <add key="MailServerPort" value="" />
  <add key="MailServerUsername" value="" />
  <add key="MailServerPassword" value="" />
  <add key="MailServerSSL" value="" />
  <add key="ScriptAtBottom" value="off" />
  <add key="MenuContentBriefTypes" value="" />
  <add key="XslTimeout" value="" />
  <add key="Scheduler" value="off" />
  <add key="ExpireAtEndOfDay" value="off" />
  <add key="GoogleAnalyticsUniversalID" value="" />
  <add key="PageCache" value="off" />
  <add key="CheckDetailPath" value="on" />
</web>
