
<payment>
  <currencies>
    <!--Currency ref="GBP" code="GBP" symbol="£">
      <name lang="en">Pounds Sterling</name>
      <description lang="en">Payment in Pounds Sterling</description>
      <description lang="pt">
      </description>
    </Currency-->
    <!--Currency ref="EUR" code="EUR" symbol="€">
      <name lang="en">Euros</name>
      <description lang="en">Payment in Euros</description>
    </Currency-->
  </currencies>
	<provider name="PayPalExpress" validGroups="all" validCurrencies="GBP">
		<description value="Pay with PayPal" />
		<currency value="GBP" />
		<icon value="fa-paypal"/>
		<accountId value="trevor_1261220502_biz_api1.eonic.co.uk" />
		<accountPassword value="1261220614" />
		<accountSignature value="AGNY9S4Rw7SA7PjFEWI5Ej7r.RQ5A.E5U4XH.nk1iYnRetE7OTzxn896" />
		<opperationMode value="true" />
		<PaymentAction value="Sale" />
		<LocaleCode value="GB" />
		<AddressOveride value="1" />
		<AllowNote value="0" />
		<ReqConfirmShipping value="0" />
		<NoShipping value="1" />
		<PageStyle value="" />
		<cpp-header-image value="" />
		<cpp-header-border-color value="#000000" />
		<cpp-header-back-color value="#FFCCFF" />
		<cpp-payflow-color value="#FFFFCC" />
	</provider>
	<provider name="PayOnAccount" validGroups="all" validCurrencies="GBP">
		<description value="Place order, you will be contacted to arrange payment and delivery." />
		<AccountXform value="/ewcommon/xforms/cart/payonaccount.xml" />
	</provider>
</payment>


