<?xml version="1.0"?>
<theme>
  <add key="CurrentTheme" value="ProteanMasterTheme" />
  <add key="SiteXsl" value="/ewthemes/ProteanMasterTheme/SubNavTopLevel1.xsl" />
  <add key="variablesPath" value="/css/variables.less" />
  <add key="ProteanMasterTheme.Layout" value="TopNavSideSub" />
  <add key="ProteanMasterTheme.ThemePreset" value="Winter" />
  <add key="ProteanMasterTheme.Breadcrumb" value="true" />
  <add key="ProteanMasterTheme.MainTitle" value="true" />
  <add key="ProteanMasterTheme.HomeNav" value="true" />
  <add key="ProteanMasterTheme.HomeInfo" value="false" />
  <add key="ProteanMasterTheme.body-bg" value="#ffffff" />
  <add key="ProteanMasterTheme.brand-primary" value="#8f1656" />
  <add key="ProteanMasterTheme.brand-action" value="#383d43" />
  <add key="ProteanMasterTheme.brand-info" value="#fa6677" />
  <add key="ProteanMasterTheme.brand-success" value="#95bf83" />
  <add key="ProteanMasterTheme.brand-warning" value="#f0864d" />
  <add key="ProteanMasterTheme.brand-danger" value="#8f1656" />
  <add key="ProteanMasterTheme.link-color" value="#fa6677" />
  <add key="ProteanMasterTheme.text-color" value="#383d43" />
  <add key="ProteanMasterTheme.headings-font" value="" />
  <add key="ProteanMasterTheme.headings-font-family" value="'Lato', sans-serif" />
  <add key="ProteanMasterTheme.headings-font-import" value="Lato:300,400,700" />
  <add key="ProteanMasterTheme.base-font" value="" />
  <add key="ProteanMasterTheme.font-family-base" value="'Lato', sans-serif" />
  <add key="ProteanMasterTheme.font-import-base" value="Lato:300,400,700" />
  <add key="ProteanMasterTheme.border-radius-base" value="0px" />
  <add key="ProteanMasterTheme.btn-default-bg" value="#8f1656" />
  <add key="ProteanMasterTheme.headings-color" value="#8f1656" />
  <add key="ProteanMasterTheme.background-image" value="" />
  <add key="ProteanMasterTheme.background-repeat" value="repeat-x" />
  <add key="ProteanMasterTheme.background-position" value="left top" />
  <add key="ProteanMasterTheme.background-attachment" value="scroll" />
  <add key="ProteanMasterTheme.contrast-color" value="#000" />
  <add key="ProteanMasterTheme.header-bg" value="#383D43" />
  <add key="ProteanMasterTheme.NavFix" value="true" />
</theme> 
