BODY
{
    FONT-SIZE: 70%;
    line-height:140%;
    MARGIN: 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #FFF;
    color:#000;
}
A
{
    color:#1760A9;
    FONT-WEIGHT: 700;
    TEXT-DECORATION: none;
}
A:hover
{
    TEXT-DECORATION: none;
    color:#4994DE;
}
H1
{
    line-height:140%;
	 font-size:220%;
    font-weight:400;
}
H2
{
    FONT-SIZE: 180%;
    font-weight:400;
}
H3
{
FONT-SIZE: 145%;
}
H4
{
    FONT-SIZE: 130%
}
H5
{
    FONT-SIZE: 120%
}
H6
{
    FONT-SIZE: 110%
}
IMG
{
    BORDER: none;
}
TABLE
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    WIDTH: 100%;
    BORDER-BOTTOM: medium none
}
TABLE TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 0px
}
TABLE TH
{
    TEXT-ALIGN: left
}

TABLE TD, TABLE TH
{
    FONT-SIZE: 70%;
    line-height:140%;
    MARGIN: 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
FORM
{
margin:0;
}

/* ################################## Shopping cart specific ################################## */



#cartFull H2
{
color:#fff;
padding:7px;
background-color:#3667CF;
}


/* ====================*/

#cartListing TH.heading
{
line-height:1.4em;
color:#FFF;
background:#9DB6D5;
border-top:1px solid #666;
border-right:1px solid #666;
border-bottom:1px solid #666;
}
#cartListing TH.lineTotal
{
color:#000 !important;
background:#CDD9E9 !important;
}

#cartListing TD.cell
{
border-right:1px solid #666666;
border-bottom:1px solid #666666;
}
#cartListing .delete
{
text-align:center;
border-left:1px solid #666666;
}
#cartListing TD.amount
{
border-top:1px solid #fff;
background:#CDD9E9;
}
#cartListing .total
{
font-weight:700;

}

.cartAddress
{
padding:5px;
border:1px #CCCCCC solid;
}
.cartAddress P
{
margin:2px 0;
}
.addressTitle
{
font-weight:700;
font-size:120%;
}

