.icon-tab {
    &:before {
        content:url(/ptn/core/icons/custom/tab-icon.png);
    }
}
.icon-accordion {
    &:before {
        content: url(/ptn/core/icons/custom/icon-accordion.png);
    }
}
.icon-1-col {
    &:before {
        content: url(/ptn/core/icons/custom/icon-1-col.png);
    }
}
.icon-2-col {
    &:before {
        content: url(/ptn/core/icons/custom/icon-2-col.png);
    }
}
.icon-3-col {
    &:before {
        content: url(/ptn/core/icons/custom/icon-3-col.png);
    }
}
.icon-4-col {
    &:before {
        content: url(/ptn/core/icons/custom/icon-4-col.png);
    }
}
.icon-5-col {
    &:before {
        content: url(/ptn/core/icons/custom/icon-5-col.png);
    }
}
.icon-6-col {
    &:before {
        content: url(/ptn/core/icons/custom/icon-6-col.png);
    }
}