.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip:focus {
    left: 10px;
    top: 10px;
    z-index: 20;
    width: auto;
    height: auto;
    overflow: visible;

}
a {
    outline-offset: 5px;
    outline-color: $link-color;
}
