/*------------------
SWIPER
-------------------*/

.content-carousel {
    .swiper {
        padding: $grid-gutter-height $grid-gutter-width 0;
        margin: (-$grid-gutter-height) (-$grid-gutter-width) 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $primary;

        &:focus-visible {
            box-shadow: 0 0 0 0.25rem rgba($primary, 0.4);
        }

        &:after {
            text-shadow: none;
        }
    }
}

.swiper-pagination-bullet-active {
    background-color: $primary;
}

/*############### SLIDE CAROUSEL #################*/
.module-SwiperCarousel {

    [class*="bg-"] {
        border-radius: $border-radius;
    }

    .bg-light-o {
        button.btn-outline-light {
            color: color-contrast($light);
            border-color: $dark;

            &:hover {
                background: $dark;
                color: color-contrast($dark);
            }
        }
    }

    .swiper img {
        zoom: 2;
    }

    .swiper-slide {
        background-size: cover;
    }

    .btn-custom {
        @extend .#{$btn-list-style};
    }

    .swiper-caption {
        max-width: 55rem;

        h1 {
            padding-bottom: 0.5rem;
        }

        .btn {
            margin:0.5rem;
        }
    }
}

/*############### CONTENT CAROUSEL #################*/
/*@media only screen and (min-width: 769px) {
    .swiper-slide:first-child {
        transition: transform 100ms;
    }

    .swiper-slide:first-child img {
        transition: box-shadow 500ms;
    }

    .swiper-slide.swiper-slide-active:first-child {
        transform: translateX(50%);
        z-index: 2;
    }

    .swiper-slide.swiper-slide-active:first-child img {
        box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
    }

    .swiper-slide:nth-child(2) {
        transition: transform 100ms;
    }

    .swiper-slide.swiper-slide-next:nth-child(2) {
        transform: translateX(55%);
        z-index: 1;
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
        transform: translateX(-50%);
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
        transform: translateX(-55%);
    }
}*/

