/*############### LAYOUT #################*/
html {
    height: 100%;
    //for sticky headers
    /* scroll-padding-top: calc($fixed-height-xs + 10px);

    @include media-breakpoint-up($nav-breakpoint) {
        scroll-padding-top: calc($fixed-height-lg + 100px);
    }*/
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #f4f6f7;

    p, li {
        word-break: break-word;
    }
}

.container {
    @extend .container-fluid;
}

#mainTable {
    flex-shrink: 0;
    flex-grow: 2;
    background: $body-bg;
    //padding-bottom: 2rem;

    @media(min-width:2000px) {
        max-width: 2000px;
        margin: 0 auto;
    }

    .navbar-fixed-top {
        max-width: 2000px;
    }
}

.container-wrapper.home-class {
    margin-top: 0;
}

.flex-cols > div[class^='column'] {
    display: flex;
}

.v-align-center {
    align-self: center;
}

//BREAKOUT BOXES
.FormattedText .alignleft {
    //margin-right: 1rem;
    margin-bottom: 1rem;

    @include media-breakpoint-down(sm) {
        max-width: 50%;
    }
}

.FormattedText .alignright {
    //margin-left: 1rem;
    margin-bottom: 1rem;

    @include media-breakpoint-down(sm) {
        max-width: 50%;
    }
}

.FormattedText {
    .align-left,
    .alignleft,
    .alignright {
        margin-bottom: 1.5rem;
        max-width: 100%;
        width: 500px;

        @include media-breakpoint-down(lg) {
            margin-left: auto;
            margin-right: auto;
            float: none !important;
        }

        .listItem:last-child, .module:last-child {
            margin-bottom: 0;
        }
    }

    .align-left,
    .alignleft {
        @include media-breakpoint-up(lg) {
            float: left;
            position: relative;
            left: -70px;
            margin-right: -50px;

            @include media-breakpoint-up(xl) {
                margin-right: -170px;
                left: -190px;
            }

            .module {
                margin-right: 0.5rem;
            }
        }
    }

    .alignright {
        @include media-breakpoint-up(lg) {
            position: relative;
            right: -47px;
            margin-left: -50px;



            .module {
                //  margin-left: 0.5rem;
            }
        }

        @include media-breakpoint-up(xl) {
            position: relative;
            right: -70px;
            margin-left: -50px;



            .module {
                // margin-left: 0.5rem;
            }
        }

        @include media-breakpoint-up(xxl) {
            margin-left: -170px;
            right: -190px;
        }
    }
}

img.alignright {
    margin: 1rem 0 1rem 1rem;
}

img.alignleft {
    margin: 1rem 1rem 1rem 0;
}
//FLUID CONTAINER
.container-fluid {
    padding: 0 ($grid-gutter-width/2);
    /* @include media-breakpoint-up(md) {
        padding: 0 2vw;
    }

    #main-footer > div > .row {
        margin: 0 -2vw;
    }*/

    .nobox.module-FormattedText,
    .accordion-body .FormattedText,
    .module-FAQList,
    .char80-center,
    .module-Video,
    .narrow-container,
    .heading-only {
        max-width: 55rem;
        margin-left: auto;
        margin-right: auto;
    }

    .card.module-FormattedText {
        max-width: 55rem + ($card-spacer-x * 2);
        margin-left: auto;
        margin-right: auto;
    }

    .char80-left {
        margin-left: 0 !important;

        .alignleft {
            position: static !important;
            float: none !important;
        }
    }

    .char80-right {
        margin-right: 0 !important;

        .alignright {
            position: static !important;
            float: none !important;
        }
    }

    .char80-wide {
        max-width: none !important;

        .alignleft,
        .alignright {
            position: static !important;
            float: none !important;
        }
    }
}

/*############### TEXT AND LINKS #################*/
a {
    //text-decoration: none;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 0px;
    text-decoration-color: rgba($link-color,0.4)
}

strong, b {
    font-weight: 700;
}

.sitemap a {
    text-decoration-thickness: 0px;

    &:visited {
        color: $visited;
    }
}

h1, h2, h3, h4 {
    a {
        text-underline-offset: 0.4rem;
    }
}

.title a {
    text-decoration: none;
    color: $headings-color;
}

.center-block,
.center-block-footer {
    text-align: center;
}

.module.justify-content-center {
    height: 100%
}

.module-centred > .clearfix {
    width: 100%;
}

.FormattedText {
    .table-responsive {
        margin-bottom: 1rem;
    }

    a:not(.btn):visited {
        color: $visited;
    }

    *:last-child:not(button) {
        margin-bottom: 0;
    }
}

.banner-caption-inner {
    > *:last-child:not(button) {
        margin-bottom: 0;
    }
}

.nobox.module-FormattedText .entryFooter {
    padding-top: 1rem;
}

#mainLayout {
    p, ul, ol {
        a {
            word-wrap: break-word;
        }
    }
}

.btn-outline-light,
.btn-custom {
    text-transform: uppercase;
    padding: 0.6rem 1.6rem;
    font-size: 1.1rem;
    transition: all ease 0.3s;

    &:hover {
        transform: scale(1.04);
    }
}

.nobox > .entryFooter,
.nobox > .FormattedText,
.nobox form {
    .btn-custom {
        @extend .#{$btn-style};
        border-color: $btn-color;

        &:hover {
            border-color: darken($btn-color,10%);
        }
    }
}

.module-left.module-containing-icon {
    .space {
        display: none;
    }

    i {
        padding-right: 0.6rem;
    }
}

.heading-only {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
        font-size: $font-size-base;
        font-family: $font-family-base;
        font-weight: $font-weight-base;

        i {
            padding-right: 3px;
        }
    }
}
/*############### IMAGES #################*/
img, svg {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.img-module-flex {
    display: flex;
    flex-direction: column;
    //height: 100%;
}

.img-flex-100 {
    height: 100%;
}

img {
    @extend .img-fluid;
}


.bannerless-page #mainLayout {
    padding-top: $top-padding;
}

.layout-title {
    text-align: center;
}

@mixin faux-card {
    display: flex;
    flex-direction: column;

    .FormattedText {
        flex: 1 1 auto;
    }
}

.layoutModule .align-items-stretch .col {
    margin-bottom: $grid-gutter-height;

    .module-FormattedText {
        @include faux-card;
    }


    > div {
        height: 100%;
        margin-bottom: 0;
    }
}

.matchHeight.nobox.module-FormattedText {
    @include faux-card;
}

figure {
    margin: 0;

    figcaption {
        padding-top: 5px;
    }
}

/*############### BACKGROUNDS #################*/
section {
    background-size: cover;
}

.section-spacing {
    padding-top: $section-padding;
    padding-bottom: $section-padding - $grid-gutter-height;
    margin-bottom: $grid-gutter-height;
}

.section-center {
    padding: 0;

    > .fullwidthContainer,
    .bg-content-center {
        height: 100%;
    }

    > .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    > .row {
        height: 100%;

        > div[class^="column"] {
            justify-content: center;
            display: flex;
            flex-direction: column;

            > .module {
                height: auto;
            }
        }
    }

    .fullwidthContainer .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.bg-content-center {
    @extend .section-center;
}

section.bg-light,
section.bg-dark,
section.bg-primary,
section.bg-secondary {
    @extend .section-spacing;
}

section:not(.bg-light) .bg-light {
    padding: 3rem;
}

@mixin section-contrast($color: $dark) {
    color: color-contrast($color);

    h1, h2, h3, h4, h5, h6 {
        color: color-contrast($color);

        a {
            color: color-contrast($color);
        }
    }

    .listItem .lIinner .btn-custom {
        @extend .#{$btn-list-style};
    }

    .nobox > .entryFooter,
    .nobox > .FormattedText {
        a:not(.btn) {
            //@extend .link-light;
            color: color-contrast($color);
        }

        .btn-custom {
            &:not(:hover):not(:focus-visible) {
                background: transparent;
            }
            //@extend .btn-outline-white;
            border-color: color-contrast($color);
        }
    }


    .swiper-button-prev, .swiper-button-next {
        color: color-contrast($color);
    }
}

section.bg-dark,
.layoutModule.bg-dark {
    @include section-contrast();
}

section.bg-primary,
.layoutModule.bg-primary {
    @include section-contrast($primary);
}

section.bg-secondary,
.layoutModule.bg-secondary {
    @include section-contrast($secondary);
}

section.bg-info,
.layoutModule.bg-info {
    @include section-contrast($info);
}

section.whiteBG {
    @extend .section-spacing;
}

section.bg-video-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;

    video.bg-video {
        height: 100%;
        object-fit: cover;
    }

    > .container {
        //   padding-top: $section-padding;
        justify-content: center;
    }
}

section.stretchBG {
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    > .fullwidthContainer {
        width: 100%;

        > * > .row {
            height: 100%;

            .col {
                height: 100%;

                .layoutModule {
                    background-size: cover;
                }
            }

            > div[class^=column] .module {
                height: 100%;
                background-size: cover;
            }
        }
    }

    .row {
        margin: 0;
    }

    .row > * {
        margin: 0;
        padding: 0;
    }

    .module {
        height: 100%;
        margin-bottom: 0;
        border-radius: 0 !important
    }

    .layoutModule .layoutModule {
        padding: $card-cap-padding-y $card-cap-padding-x;
    }

    .card {
        justify-content: center;

        .card-body {
            flex-grow: 0;
        }
    }
}

#header-banner .container {
    display: flex;
    min-height: 140px;
    align-items: center;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.fullwidthContainer:not(.fullwidth-w-padding) {
    > .layoutModule > .row {
        margin: 0;

        > div {
            padding: 0
        }
    }
}

.fullwidthContainer.fullwidth-w-padding {
    @extend .container-fluid;


    > .layoutModule > .row {

        > div {
        }
    }
}

.breadcrumb {
    font-size: 0.8rem;

    .breadcrumb-item {
        a {
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }
    }
}
/*############### BANNERS #################*/
.image-banner {
    padding: 0.3rem 0 $section-padding 0;
    margin-bottom: 0;
    position: relative;
    @include card-contrast($banner-bg);

    @if $banner-flush == true {
        padding-top: 0;

        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        object-fit: cover;
    }

    .breadcrumb {
        color: color-contrast($banner-bg);
        justify-content: left;

        .breadcrumb-item.active {
            color: color-contrast($banner-bg);
        }

        .breadcrumb-item + .breadcrumb-item::before {
            color: color-contrast($banner-bg);
        }
    }

    .image-banner-inner {
        border-radius: $border-radius;
        background: $light;
        position: relative;
        overflow: hidden;
        min-height: 300px;

        h1 {
            margin-bottom: 0;
        }
    }


    @include media-breakpoint-down($nav-breakpoint) {
        .banner-caption {
            background: $banner-bg;
            padding: 3vw;
            border-radius: 0;
        }

        .image-banner-inner {
            background-size: contain;
            background-position: center;
            background-position: bottom center;
            //padding-bottom: 40%;
            background-repeat: no-repeat;
        }
    }

    @include media-breakpoint-up($nav-breakpoint) {
        .image-banner-inner {
            background-size: cover;
            background-position: center;
        }

        .banner-caption {
            position: absolute;
            padding: 4vw 6.1% 10% 4vw;
            background-size: 100%;
            max-width: 42%;
            top: 0;

            .banner-caption-inner {
                background: $banner-bg;
                padding: 1.5rem;
                border-radius: $border-radius;
            }

            .breadcrumb li, #mainTitle, p {
                background: $banner-bg;
            }

            p {
                display: inline;
            }
        }
    }
}

.intro-banner {
    margin-bottom: $spacer;
    color: color-contrast($basic-banner-bg);
    background: $basic-banner-bg;
    padding: $basic-banner-padding;

    @if $banner-flush != true {
        margin-top: $spacer;
    }

    @if $banner-flush == true {
        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .intro-banner-inner {
        // padding: $card-spacer-y $card-spacer-x;
        text-align: center;
        //  border-radius: $border-radius;
        // background: $basic-banner-bg;
    }

    .breadcrumb {
        justify-content: center;

        .breadcrumb-item {
            color: color-contrast($basic-banner-bg);

            a {
                color: color-contrast($basic-banner-bg);
                text-decoration: underline;
                text-underline-offset: 4px;
                text-decoration-color: rgba(color-contrast($basic-banner-bg),0.5)
            }
        }

        .breadcrumb-item.active {
            color: color-contrast($basic-banner-bg);
        }

        .breadcrumb-item + .breadcrumb-item::before {
            color: color-contrast($basic-banner-bg);
        }
    }

    a {
        //   color: color-contrast($basic-banner-bg);
    }

    h1 {
        //   color: color-contrast($basic-banner-bg);
    }

    .intro-banner-info {
        max-width: 45rem;
        margin: 0 auto;
    }
}

.no-banner-layout {
    padding-top: 3rem;
}
/*############### LIST ITEMS #################*/
.date,
.dtstamp {
    font-size: 0.75rem;
    padding-bottom: 1rem;
    font-weight: 600;
    /*&:before {
        content: '\f073';
        font-family: $font-awesome-version;
        color: $primary;
        padding-right: 5px;
    }*/
}

.dtstamp {
    &:before {
        content: '\f073';
        font-family: $font-awesome-version;
        color: $primary;
        padding-right: 5px;
    }
}

.top-date {
    text-align: center;
    margin-top: -2.6rem;
}

.entryFooter .tags {
    margin-bottom: $spacer;
}

@mixin boxed-listItem {
    padding: $listItem-padding;
    //border: 1px solid $grey;
    border-radius: $border-radius;
    // height: 100%;
    display: flex;
    flex-direction: column;
    background: $light;
    color: $body-color;

    .btn-custom {
        @extend .#{$btn-list-style};
    }

    h1, h2, h3, h4, h5, h6 {
        color: $headings-color;

        a {
            color: $headings-color;
        }
    }

    *:nth-last-child(2) {
        flex-grow: 2;
    }

    .list-image-link,
    .list-image-span {
        margin-top: -$listItem-padding;
        margin-left: -$listItem-padding;
        margin-right: -$listItem-padding;
        margin-bottom: $listItem-padding;

        img.thumbnail {
            margin-bottom: 0;
        }
    }
}

@mixin unboxed-listItem {
    padding: 0;
    border: 0;
    border-radius: 0;
    display: block;

    *:nth-last-child(2) {
        flex-grow: 2;
    }

    .list-image-link,
    .list-image-span {

        img.thumbnail {
            margin-bottom: 0;
        }
    }
}

@mixin listItem-spacing($spacing-v: $grid-gutter-height,$spacing-h: $grid-gutter-width) {
    .row {
        margin-right: calc(-.5 * $spacing-h);
        margin-left: calc(-.5 * $spacing-h);

        .listItem {
            padding-left: ($spacing-h/2);
            padding-right: ($spacing-h/2);
            margin-bottom: $spacing-v;
        }
    }
}

div[class$="List"] {
    //@include listItem-spacing;
    .list-image-link {
        overflow: hidden;
    }

    .btn-custom {
        margin-top: 1rem;
    }
    /*.btn-custom {
        border-color: $primary;
        color: $primary;
        margin-top: 1rem;
        padding: 0.5rem 1rem;

        &:hover {
            transform: scale(1);
            background: $primary;
            color: #fff;
        }

        &:focus-visible {
            outline: auto;
        }
    }*/
}
.ContactList {
    .lIinner {
        max-width: 496px;
        margin: 0 auto;
    }

    .list-image-link,
    .list-image-span {
        overflow: visible !important;
        height: 1px;
        padding-bottom: 120%;
    }

    .media-inner {
        padding-top: 1rem;

        h3, h4 {
            font-family: $font-family-base;
        }

        .title {
            margin-bottom: 1.4rem;
            line-height: 1;
        }
    }
}

@mixin testimonial1 {
    @include unboxed-listItem;
    position: relative;

    &.quote-with-image {
        padding-left: 120px;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
    }

    .btn-custom {
        @extend .btn-link;
    }

    .entryFooter {
        line-height: 1;
    }

    .summary {
        font-size: 1.2rem;
        position: relative;
        padding-left: 1rem;
        margin-bottom: 1rem;

        p:last-of-type {
            margin-bottom: 0;
        }

        &:before {
            content: '“';
            color: $primary;
            float: left;
            font-size: 2.5rem;
            line-height: 1;
            vertical-align: top;
            position: absolute;
            top: -5px;
            left: 0;
        }

        &:after {
            //   content: '”';
        }
    }

    .quote-credit {
        padding-left: 1rem;

        .quote-name {
            font-weight: 600;
        }

        .quote-company {
            font-size: 0.8rem;
        }
    }
}

.nobox .listItem .lIinner,
.relatedcontent .listItem .lIinner {
    // @include boxed-listItem;
}

.TestimonialList .listItem .lIinner {
    @include testimonial1;
}

.TestimonialList .linked-listItem:hover .lIinner {
    transform: none !important;
}

.linked-listItem {
    .lIinner img {
        transition: all ease 0.4s;
    }

    &:hover {
        .lIinner {
            cursor: pointer;
            //z-index: 2;
            img {
                transform: scale(1.04);
            }
        }
    }
}

.grid-item {
    margin-bottom: $grid-gutter-height;
}

.listItem {
    margin-bottom: $grid-gutter-height;

    .lIinner {
        position: relative;
        transition: transform .2s;
        overflow: hidden;

        *:last-child {
            margin-bottom: 0;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        a {
            text-decoration: none;
            color: $body-color;
        }
    }

    h3 {
        font-size: 1.5rem;
    }

    h4.job-title {
        font-size: 1.2rem;
        margin-top: -0.9rem;
    }

    @if $content-btn-align==true {
        @extend .align-btn-footer;
    }

    .list-image-link {
        margin-bottom: 1rem;
        display: block;

        img {
            transition: all ease 0.4s;
        }

        img:hover {
            transform: scale(1.04);
        }
    }

    img.thumbnail {
        margin-bottom: $image-spacer;
    }

    a .summary,
    a .description {
        color: $body-color;
    }

    .summary, .description {
        a:visited {
            color: $visited;
        }
    }

    .docLink {
        &:before {
            font-family: $font-awesome-version;
            padding-right: 5px;
            font-weight: 900;
        }
    }

    .pdficon:before {
        content: '\f1c1';
    }

    .pngicon:before {
        content: '\f1c5';
    }

    .pptxicon:before {
        content: '\f1c4';
    }

    .docxicon:before {
        content: '\f1c2';
    }
}

.ProductList {
    p {
        margin: 0;
    }
}

.price {
    font-weight: 700;
    color: $primary;
    display: block;
    margin-bottom: 0.5rem;
}

.item-label {
    font-weight: 600;
}

.linked-listItem {
    position: relative;
}

.NewsList .listItem .lIinner {
    padding: 0;

    .list-image-link,
    .list-image-span {
        margin: 0;
        flex-grow: 0;
    }

    .date {
        margin-bottom: 0;
        margin-top: -1.3rem;
    }

    .media-inner {
        padding: 1.5rem 0;

        .entryFooter {
            padding-top: 1rem;
        }
    }
}

.NewsList .listItem.wide-item .lIinner {
    flex-direction: row;

    .list-image-link,
    .list-image-span {
        width: 25%;
        flex-shrink: 0;
    }

    .media-inner {
        flex-grow: 100;
    }
}

.faqList {
    #pageMenu ul {
        padding: 0;
        margin-bottom: 1.5rem;

        li {
            list-style: none;
        }
    }

    .listItem.faq {
        margin-bottom: 0.5rem;
    }
}

.LinkListSimple {
    margin-left: -1rem;
    margin-right: -1rem;
}

.SubPageListSimple {
    .nav-module {
        margin-left: -($nav-link-padding-y*2);
        margin-right: -($nav-link-padding-y*2);
    }
}

.SubPages {
    .listItem .lIinner {
        //background: $dark;
        //color: color-contrast($dark);
        //border: 0;

        .title {
            //    margin-bottom: 0;
        }
    }
}
// GRIDS
.Grid {
    .grid-item a.grid-link {
        // @extend .bg-light;
        display: block;
        margin-bottom: $grid-gutter-height;

        .caption {
            padding: 10px;
            text-align: center;

            h4 {
                margin: 0;
                font-size: 1.1rem;
                color: $dark;
            }
        }
    }
}

.GalleryImageList {
    > .cols {
        display: flex;
    }

    .inline-gallery {
        display: flex;
        flex-wrap: wrap;

        .grid-item {
            width: auto;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .grid-item {
        margin-bottom: $grid-gutter-height;

        .thumbnail-wrapper {
            height: 100%;

            .thumbnail {
                height: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;

                .gallery-img-wrapper {
                    height: 100%;
                    align-self: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .caption {
                    padding-top: 15px;
                    font-size: 0.8rem;

                    h4 {
                        margin: 0 0 3px;
                        font-weight: $font-weight-base;
                        font-size: 1.1rem;
                    }

                    *:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.pagination-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .pagination a {
        color: $primary;
        border: 0;

        &.disabled {
            color: #666;
        }
    }

    .page-link {
        margin: 0 3px;

        &.active {
            background: transparent;
            border-bottom-width: 2px;
            border-style: solid;
        }
    }

    i {
        font-size: 0.8rem;
    }

    .previous,
    .next {
        a, span {
            border: 0;
            background: transparent;
        }
    }

    .pager-caption {
        display: none;
    }
}

/*############### DETAIL PAGES #################*/

.imageEnlarge {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;

    i {
        content: '\f00e';
        font-family: $font-awesome-version;
        font-weight: 900;
        padding: 5px;
        background: rgba(#fff,0.5);
        //border: 1px solid fade($body-color,50%);
        border-radius: 100px;
        padding: 6px;
        display: block;
        color: $body-color;
    }

    span {
        @extend .visually-hidden;
    }
}

dl {
    margin-bottom: 0.5rem;
}

dt {
    font-weight: 600;
    //width: 100px;
    float: left;
    //text-align: right;
    line-height: 1.1;
    clear: left;
    padding-bottom: 7px;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
    line-height: 1.1;
    margin-left: 5px;
    float: left;
    clear: right;
}

.detail-container > .detail {
    @extend .container;
    padding-top: 4rem;

    .contact-text {
        max-width:55rem;
    }

    .detail-title {
        text-align: center;
        margin-bottom: 3rem;
    }

    .description {
        a:visited {
            color: $visited;
        }
    }

    .detail-img {
        position: relative;
        display: block;
        cursor: pointer;
        margin-bottom: 2rem;

        img {
            border-radius: $img-border-radius;
        }
    }

    .picture {
        float: none;
        position: relative;
        margin-bottom: $spacer;
        display: block;

        @include media-breakpoint-up(sm) {
            margin-left: $spacer;
            max-width: 50%;
            float: right;
        }
    }

    h2 {
        font-size: 1.3rem;
    }

    .card {
        p {
            margin-bottom: 0.6rem;
        }

        .card-body {
            *:last-child:not(button) {
                margin-bottom: 0;
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .detail-text {
        max-width: 45rem;
        //margin-left: auto;
        //margin-right: auto;
    }

    .author {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 0.8rem;

        @include media-breakpoint-up(sm) {
            //  float: right;
        }

        img {
            float: left;
            width: 34px;
            margin-right: 15px;
        }

        p {
            margin-bottom: 0;
            display: inline;
        }

        .author-role {
            &:before {
                content: ', ';
            }
        }
    }

    .socialLinks {
        $social-spacing-detail: 0.5rem;
        //margin-left: -$social-spacing-detail;
        //margin-right: -$social-spacing-detail;
        display: flex;

        a {
            padding-left: $social-spacing-detail;
            padding-right: $social-spacing-detail;
            padding-bottom: $social-spacing-detail;
            display: block;
            float: left;

            &:first-child {
                padding-left: 0;
            }
        }
    }

    .relatedcontent {
        //padding-top: 3rem;
        //padding: 2.5rem;
        > h2 {
            text-align: center;
        }

        .listItem {
            margin-bottom: 2rem;
            transition: all ease 0.2s;

            &:hover .media-inner .title {
                background: darken($light,3%)
            }

            &:hover {
                .lIinner {
                    cursor: pointer;
                    //z-index: 2;
                    img {
                        transform: scale(1.04);
                    }
                }
            }
        }

        .media-inner {
            padding: 0;

            .summary,
            .entryFooter,
            .date {
                display: none;
            }

            .title {
                font-size: 1.2rem;
                margin-bottom: 0rem;
                padding: 1rem;
                background: $light;
            }
        }

        h2 {
            margin-bottom: 1rem;
        }
    }

    &.Video {
        .embed-responsive {
            height: 0;
            padding-bottom: 56%;
            position: relative;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    .job-card {
        background: $light;
        border: 0;
    }
}

.newsarticle {
    .relatedcontent {
        padding-top: 0rem;
    }
}

.extract {
    font-size: 1.2rem;
    position: relative;
    padding-left: 1rem;
    margin-bottom: 2rem;
    background: $light;
    padding: 2rem 1rem 1rem 3rem;

    p:last-of-type {
        margin-bottom: 0;
    }

    &:before {
        content: '\f10d';
        font-weight: 600;
        font-family: $font-awesome-version;
        color: $primary;
        float: left;
        font-size: 2rem;
        line-height: 1;
        vertical-align: top;
        position: absolute;
        top: 5px;
        left: 12px;
    }
}

.Contact-detail-container .detail {
    .detail-title {
        text-align: left;
        margin-bottom: 0;
    }

    .contact-text > h2 {
        margin-bottom: 1.5rem;
    }

    .contact-card {
        background: $light;
        border: 0;
    }

    .detail-img {
        margin-bottom: 0;
    }
}

.Contact-detail-container,
.contact {
    /* dt.tel {
        text-indent: -1000px;
    }

    dt.tel:after {
        content: '\f095';
        font-family: $font-awesome-version;
        text-indent: 0;
    }*/
}

//product
.col-product-info {
    @include media-breakpoint-up(lg) {
        order: 2;
    }
}

.col-product-img {
    @include media-breakpoint-up(lg) {
        order: 1;
    }
}

.product-facts {
    font-size: 0.8rem;
}

.cartButtons {
    margin-bottom: 1rem;
}

.qty-product {
    border: 1px solid $grey;
    border-radius: $btn-border-radius;

    input {
        border: 0;
    }

    button {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.socialBookmarks {
    @include clearfix;
    @extend .container;

    span.bookmark {
        display: block;
        float: left;
        padding-right: 25px;
        min-height: 40px;
        line-height: 1;

        &:last-child {
            padding-right: 0;
        }
    }
    //span.google-bookmark{padding-right:0;}
}

.bottom-left .socialBookmarks,
.bottom-right .socialBookmarks {
    margin-top: $grid-gutter-height;
}

.top-left .socialBookmarks,
.top-right .socialBookmarks {
    margin-bottom: $grid-gutter-height;
}

.align-Right .socialLinks {
    text-align: right;
}

.bottom-right .socialBookmarks,
.top-right .socialBookmarks {
    float: right;
}

.backlink {
    margin-bottom: 4.5rem;
    margin-top: 2rem;

    a {
        text-decoration: none;

        &:before {
            content: '\f053';
            font-family: $font-awesome-version;
            padding-right: 5px;
            font-weight: 700;
            font-size: 0.7rem;
        }
    }
}

.searchListing {
    margin-top: 2rem;

    .input-group {
        background: $light;
        padding: 20px;
        margin-bottom: 2rem;
    }

    .btn-primary {
        width: auto;
        margin-top: 0;
    }

    h1 {
        font-size: 2rem;
    }

    .search-count {
        margin-bottom: 2rem;
        font-size: 0.9rem;
        display: block;
    }

    .search-result {
        margin-bottom: 2rem;
        padding-top: 0;
    }

    .list-group-item {
        padding-left: 0;
        padding-right: 0;
    }

    .result-text {
        margin-bottom: 1rem;

        a {
            font-weight: bold;
            padding-bottom: 0.2rem;
            display: block;
        }

        p {
            margin-bottom: 0;
            font-size: 1rem;
        }
    }
}

.module.nobox {
    margin-bottom: $grid-gutter-height;
}

#Login {
    form .principle {
        float: right;
    }

    .morelink a {
        @extend .btn-clean;
    }
}

.modal-body #Login legend {
    display: none;
}

.modal {
    .modal-header {
        border-bottom: 0;
        background: $primary;
        color: #fff;
        padding: 1rem 1.5rem;

        .modal-title {
            color: #fff;
            font-size: 1.3rem;
        }

        .btn-close {
            background: none;
            padding: 0.8rem;

            &:after {
                font-family: $font-awesome-version;
                content: '\f00d';
                color: #fff;
                font-weight: 900;
            }
        }
    }

    .modal-body .btn-close {
        position: absolute;
        top: 7px;
        right: 7px;
    }
}

.MembershipUserContacts .add {
    margin-bottom: 1rem;
}

@media (prefers-reduced-motion: reduce) {
    .moduleAnimate-animated {
        animation: none !important;
        animation-delay: 0 !important;
    }
}

.normalMode,
.previewMode {
    header {
        position: static;
    }
}

.normalMode {
    section.stretchBG .module-FormattedText .FormattedText {
        flex-grow: 0;
    }
}

.modal {
    .modal-header {
        background: $primary;
        padding-bottom: 1rem;
        color: color-contrast($primary);

        h1, h2, h3, h4, h5, h6 {
            color: color-contrast($primary);
        }

        .btn-close {
            background: none;

            &:after {
                content: '\f00d';
                font-family: $font-awesome-version;
                color: #fff;
                font-weight: 600;
            }
        }
    }

    .modal-body {
        color: $body-color;
        border-bottom: 0;
    }

    .modal-footer {
        border-top: 0;
    }
}
