/*############### LAYOUT #################*/
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    @extend .container-fluid;
}

#mainTable {
    flex-shrink: 0;
    flex-grow: 2;
}

//FLUID CONTAINER
.container-fluid {
    padding: 0 ($grid-gutter-width/2);

    @include media-breakpoint-up(md) {
        padding: 0 2vw;
    }

    #main-footer > div > .row {
        margin: 0 -2vw;
    }

    .nobox.module-FormattedText,
    .accordion-body .FormattedText,
    .module-FAQList,
    .char80-center,
    .module-Video {
        max-width: 55rem;
        margin-left: auto;
        margin-right: auto;
    }

    .card.module-FormattedText {
        max-width: 55rem + ($card-spacer-x * 2);
        margin-left: auto;
        margin-right: auto;
    }

    .char80-left {
        margin-left: 0 !important;

        .alignleft {
            position: static !important;
            float: none !important;
        }
    }

    .char80-right {
        margin-right: 0 !important;

        .alignright {
            position: static !important;
            float: none !important;
        }
    }

    .char80-wide {
        max-width: none !important;

        .alignleft,
        .alignright {
            position: static !important;
            float: none !important;
        }
    }
}

/*############### TEXT AND LINKS #################*/
a {
    //text-decoration: none;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 0px;
}

.sitemap a {
    text-decoration-thickness: 0px;

    &:visited {
        color: $visited;
    }
}

h1, h2, h3 {
    a {
        text-underline-offset: 0.4rem;
    }
}

.center-block {
    text-align: center;
}

.FormattedText {
    .table-responsive {
        margin-bottom: 1rem;
    }

    a:not(.btn):visited {
        color: $visited;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.nobox.module-FormattedText .entryFooter {
    padding-top: 1rem;
}

#mainLayout {
    p, ul, ol {
        a {
            word-wrap: break-word;
        }
    }
}

/*############### IMAGES #################*/
img, svg {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.img-module-flex {
    display: flex;
    flex-direction: column;
}

img {
    @extend .img-fluid;
}

.btn-custom {
    @extend .btn-primary;
}

.bannerless-page {
    padding-top: $top-padding;
}

.container-wrapper {
    margin-top: $top-padding;
}

.layout-title {
    text-align: center;
}

@mixin faux-card {
    display: flex;
    flex-direction: column;

    .FormattedText {
        flex: 1 1 auto;
    }
}

.layoutModule .align-items-stretch .col {
    margin-bottom: $grid-gutter-height;

    .module-FormattedText {
        @include faux-card;
    }


    > div {
        height: 100%;
        margin-bottom: 0;
    }
}

.matchHeight.nobox.module-FormattedText {
    @include faux-card;
}

/*############### BACKGROUNDS #################*/
.section-spacing {
    padding-top: $section-padding;
    padding-bottom: $section-padding - $grid-gutter-height;
    margin-bottom: $grid-gutter-height;
}

section.bg-light,
section.bg-dark,
section.bg-primary {
    @extend .section-spacing;
}

section.bg-dark,
section.bg-primary {
    @extend .text-white;

    .swiper-button-prev, .swiper-button-next {
        color: #fff;
    }
}

section.bg-primary {
    .btn-primary {
        @extend .btn-dark;
    }

    a {
        @extend .link-light;
    }
}

section.whiteBG {
    @extend .section-spacing;
}

section.bg-video-wrapper {
    padding-top: 0;
    padding-bottom: 0;

    > .container {
        //   padding-top: $section-padding;
    }
}

#header-banner .container {
    display: flex;
    min-height: 140px;
    align-items: center;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.fullwidthContainer {
    @extend .container-fluid;
    padding: 0;

    > .layoutModule > .row {
        margin: 0;

        > div {
            padding: 0
        }
    }
}
.intro-banner {
    margin-bottom: $spacer;

    .intro-banner-inner {
        background: $mid-gray !important;
        padding: $card-spacer-y $card-spacer-x;
        text-align: center;
    }

    .breadcrumb {
        justify-content: center;
    }
}
// CONTENT LISTS



.date,
.dtstamp {
    font-size: 0.75rem;

    &:before {
        content: '\f073';
        font-family: 'Font Awesome 5 Free';
        color: $primary;
        padding-right: 5px;
    }
}

.entryFooter .tags {
    margin-bottom: $spacer;
}

/*############### LIST ITEMS #################*/
@mixin boxed-listItem {
    $listItem-padding: 1rem;
    padding: $listItem-padding;
    border: 1px solid $grey;
    border-radius: $border-radius;
    height: 100%;
    display: flex;
    flex-direction: column;

    *:nth-last-child(2) {
        flex-grow: 2;
    }

    .list-image-link {
        margin-top: -$listItem-padding;
        margin-left: -$listItem-padding;
        margin-right: -$listItem-padding;

        img.thumbnail {
            margin-bottom: 0;
        }
    }
}

@mixin unboxed-listItem {
    padding: 0;
    border: 0;
    border-radius: 0;
    display: block;

    *:nth-last-child(2) {
        flex-grow: 2;
    }

    .list-image-link {

        img.thumbnail {
            margin-bottom: 0;
        }
    }
}

@mixin listItem-spacing($spacing-v: $grid-gutter-height,$spacing-h: $grid-gutter-width) {
    .row {
        margin-right: calc(-.5 * $spacing-h);
        margin-left: calc(-.5 * $spacing-h);

        .listItem {
            padding-left: ($spacing-h/2);
            padding-right: ($spacing-h/2);
            margin-bottom: $spacing-v;
        }
    }
}

div[class$="List"].module {
    @include listItem-spacing;
}

@mixin testimonial1 {
    @include unboxed-listItem;
    position: relative;

    &.quote-with-image {
        padding-left: 120px;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
    }

    .btn-custom {
        @extend .btn-link;
    }

    .entryFooter {
        line-height: 1;
    }

    .summary {
        font-size: 1.2rem;
        position: relative;
        padding-left: 1rem;
        margin-bottom: 1rem;

        p:last-of-type {
            margin-bottom: 0;
        }

        &:before {
            content: '“';
            color: $primary;
            float: left;
            font-size: 2.5rem;
            line-height: 1;
            vertical-align: top;
            position: absolute;
            top: -5px;
            left: 0;
        }

        &:after {
            //   content: '”';
        }
    }

    .quote-credit {
        padding-left: 1rem;

        .quote-name {
            font-weight: 600;
        }

        .quote-company {
            font-size: 0.8rem;
        }
    }
}

.nobox .listItem .lIinner,
.relatedcontent .listItem .lIinner {
    @include boxed-listItem;
}

.TestimonialList .listItem .lIinner {
    @include testimonial1;
}

.TestimonialList .linked-listItem:hover .lIinner {
    transform: none !important;
}

.linked-listItem {
    &:hover {
        .lIinner {
            transform: scale(1.04);
            cursor: pointer;
            //z-index: 2;
        }
    }
}


.grid-item {
    margin-bottom: $grid-gutter-height;
}

.listItem {
    margin-bottom: $grid-gutter-height;

    .lIinner {
        position: relative;
        transition: transform .2s;
        overflow: hidden;
    }

    h1, h2, h3, h4, h5, h6 {
        a {
            text-decoration: none;
            color: $body-color;
        }
    }

    h3 {
        font-size: 1.5rem;
    }

    h4.job-title {
        font-size: 1.2rem;
        margin-top: -0.9rem;
    }

    @if $content-btn-align==true {
        @extend .align-btn-footer;
    }

    .list-image-link {
        margin-bottom: 1rem;
        display: block;
    }

    img.thumbnail {
        margin-bottom: $image-spacer;
    }

    a .summary,
    a .description {
        color: $body-color;
    }

    .summary, .description {
        a:visited {
            color: $visited;
        }
    }
}

.ProductList {
    p {
        margin: 0;
    }
}


.price {
    font-weight: 700;
    color: $primary;
    display: block;
    margin-bottom: 0.5rem;
}

.item-label {
    font-weight: 600;
}

.linked-listItem {
    position: relative;
}
.NewsList .listItem .lIinner {
    padding: 0;

    .list-image-link {
        margin: 0;
        flex-grow: 0;
    }

    .media-inner {
        padding: 1rem;
    }

}
.NewsList .listItem.wide-item .lIinner {
    flex-direction: row;

    .list-image-link {
        width: 25%;
    }
}

.faqList {
    #pageMenu ul {
        padding: 0;
        margin-bottom: 1.5rem;

        li {
            list-style: none;
        }
    }

    .listItem.faq {
        margin-bottom: 0.5rem;
    }
}
.LinkListSimple {
    margin-left: -1rem;
    margin-right: -1rem;
}

.SubPageListSimple {
    .nav-module {
        margin-left: -($nav-link-padding-y*2);
        margin-right: -($nav-link-padding-y*2);
    }
}
// GRIDS
.Grid {
    .grid-item a.grid-link {
        // @extend .bg-light;
        display: block;
        margin-bottom: $grid-gutter-height;

        .caption {
            padding: 10px;
            text-align: center;

            h4 {
                margin: 0;
                font-size: 1.1rem;
                color: $dark;
            }
        }
    }
}

.GalleryImageList {
    > .cols {
        display: flex;
    }

    .inline-gallery {
        display: flex;
        flex-wrap: wrap;

        .grid-item {
            width: auto;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .grid-item {
        margin-bottom: $grid-gutter-height;

        .thumbnail-wrapper {
            height: 100%;

            .thumbnail {
                height: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;

                .gallery-img-wrapper {
                    height: 100%;
                    align-self: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .caption {
                    padding-top: 15px;
                    font-size: 0.8rem;

                    h4 {
                        margin: 0 0 3px;
                        font-weight: $font-weight-base;
                        font-size: 1.1rem;
                    }

                    *:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

/*############### DETAIL PAGES #################*/

.imageEnlarge {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;

    i {
        content: '\f00e';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        padding: 5px;
        background: $body-bg;
        border: 1px solid fade($body-color,50%);
        border-radius: 100px;
        padding: 6px;
        display: block;
        color: $body-color;
    }

    span {
        @extend .visually-hidden;
    }
}

dl {
    margin-bottom: 0.5rem;
}

dt {
    font-weight: 600;
    //width: 100px;
    float: left;
    //text-align: right;
    line-height: 1.1;
    clear: left;
    padding-bottom: 7px;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
    line-height: 1.1;
    margin-left: 5px;
    float: left;
    clear: right;
}

.detail-container > .detail {
    @extend .container;

    .description {
        a:visited {
            color: $visited;
        }
    }

    .detail-img {
        position: relative;
        display: block;
        cursor: pointer;
        margin-bottom: 1rem;

        img {
            border-radius: $img-border-radius;
        }
    }

    .picture {
        float: none;
        position: relative;
        margin-bottom: $spacer;
        display: block;

        @include media-breakpoint-up(sm) {
            margin-left: $spacer;
            max-width: 50%;
            float: right;
        }
    }

    h2 {
        font-size: 1.3rem;
    }

    .card {
        p {
            margin-bottom: 0.6rem;
        }

        .card-body {
            *:last-child {
                margin-bottom: 0;
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .detail-text {
        max-width: 45rem;
        //margin-left: auto;
        //margin-right: auto;
    }

    .author {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 0.8rem;

        @include media-breakpoint-up(sm) {
            //  float: right;
        }

        img {
            float: left;
            width: 34px;
            margin-right: 15px;
        }

        p {
            margin-bottom: 0;
            display: inline;
        }

        .author-role {
            &:before {
                content: ', ';
            }
        }
    }

    .socialLinks {
        $social-spacing-detail: 0.5rem;
        //margin-left: -$social-spacing-detail;
        //margin-right: -$social-spacing-detail;
        display: flex;

        a {
            padding-left: $social-spacing-detail;
            padding-right: $social-spacing-detail;
            padding-bottom: $social-spacing-detail;
            display: block;
            float: left;

            &:first-child {
                padding-left: 0;
            }
        }
    }

    .relatedcontent {
        padding-top: 3rem;

        h2 {
            margin-bottom: 1rem;
        }
    }
}

.newsarticle {
    .relatedcontent {
        padding-top: 0rem;
    }
}

.extract {
    font-size: 1.2rem;
    position: relative;
    padding-left: 1rem;
    margin-bottom: 1rem;

    p:last-of-type {
        margin-bottom: 0;
    }

    &:before {
        content: '“';
        color: $primary;
        float: left;
        font-size: 2.5rem;
        line-height: 1;
        vertical-align: top;
        position: absolute;
        top: -5px;
        left: 0;
    }
}

//product
.col-product-info {
    @include media-breakpoint-up(lg) {
        order: 2;
    }
}

.col-product-img {
    @include media-breakpoint-up(lg) {
        order: 1;
    }
}

.product-facts {
    font-size: 0.8rem;
}

.cartButtons {
    margin-bottom: 1rem;
}

.qty-product {
    border: 1px solid $grey;
    border-radius: $btn-border-radius;

    input {
        border: 0;
    }

    button {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.socialBookmarks {
    @include clearfix;
    @extend .container;

    span.bookmark {
        display: block;
        float: left;
        padding-right: 25px;
        min-height: 40px;
        line-height: 1;

        &:last-child {
            padding-right: 0;
        }
    }
    //span.google-bookmark{padding-right:0;}
}

.bottom-left .socialBookmarks,
.bottom-right .socialBookmarks {
    margin-top: $grid-gutter-height;
}

.top-left .socialBookmarks,
.top-right .socialBookmarks {
    margin-bottom: $grid-gutter-height;
}

.align-Right .socialLinks {
    text-align: right;
}

.bottom-right .socialBookmarks,
.top-right .socialBookmarks {
    float: right;
}

.backlink {
    margin-bottom: 0.5rem;

    a {
        text-decoration: none;

        &:before {
            content: '\f053';
            font-family: 'Font Awesome 5 Free';
            padding-right: 5px;
            font-weight: 700;
            font-size: 0.7rem;
        }
    }
}


/*############### FOOTER #################*/
#pagefooter {
    margin-top: auto;
    background: $footer-bg;
    padding-top: $grid-gutter-height;
    padding-bottom: $grid-gutter-height;
    color: rgba(color-contrast($footer-bg),0.7);

    h1, h2, h3, h4, h5, h6 {
        color: rgba(color-contrast($footer-bg),0.9);
    }

    .footer-nav {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .dev-credit {
        background: #4e4d4d;
        padding: 0.5rem;
        font-size: 0.85rem;
        margin-top: 2rem;
        text-align: center;
        margin-bottom: -2rem;

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 300;

            span {
                vertical-align: middle;
                line-height: 1;
            }
        }
    }
}

.module.nobox {
    margin-bottom: $grid-gutter-height;
}

#Login {
    form .principle {
        float: right;
    }

    .morelink a {
        @extend .btn-clean;
    }
}

.modal-body #Login legend {
    display: none;
}

.modal {
    .modal-header {
        padding-bottom: 0;
        border-bottom: 0;
    }

    .modal-body .btn-close {
        position: absolute;
        top: 7px;
        right: 7px;
    }
}

.MembershipUserContacts .add {
    margin-bottom: 1rem;
}

.FormattedText .alignleft {
    margin-right: 1rem;
    margin-bottom: 1rem;

    @include media-breakpoint-down(sm) {
        max-width: 50%;
    }
}

.FormattedText .alignright {
    margin-left: 1rem;
    margin-bottom: 1rem;

    @include media-breakpoint-down(sm) {
        max-width: 50%;
    }
}

@media (prefers-reduced-motion: reduce) {
    .moduleAnimate-animated {
        animation: none !important;
        animation-delay: 0 !important;
    }
}
