/*############### FOOTER #################*/
#pagefooter {
    margin-top: auto;
    color: rgba(color-contrast($footer-bg),0.7);
    background: #f4f6f7;

    .footer-inner {
        background: $footer-bg;
        padding-top: 3rem;
        padding-bottom: 3rem;

        @media(min-width:2000px) {
            max-width: 2000px;
            margin: 0 auto;
        }
    }

    .module-containing-icon {
        position: relative;
        font-size: 1rem;
        padding-left: 1.5rem;
        top: 5px;
        margin-bottom: 1.1rem;


        .title {
            font-size: 1rem;
            margin-bottom: 0.2rem;


            i {
                width: 1rem;
                height: auto;
                border: 0;
                background: transparent;
                float: left;
                position: absolute;
                left: 0;
                top: 0;
                color: #fff !important;
                font-size: 1rem;
            }
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: rgba(color-contrast($footer-bg),1);
        font-size: 1.3rem;

        a {
            text-decoration: none;
        }
    }

    a {
        color: rgba(color-contrast($footer-bg),1);

        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }

    .footer-nav {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .socialLinks.iconset-plain, .socialLinks.iconset-default {
        a {
            font-size: 1.6rem;
            padding: 0 10px 10px;
        }
    }

    .moduleSocialLinks {
        &.align-right {
            text-align: right;
        }

        &.align-left {
            text-align: left;
        }

        &.align-center {
            text-align: center;
        }
    }

    .dev-credit {
        background: #4e4d4d;
        padding: 0.5rem;
        font-size: 0.85rem;
        text-align: center;

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 300;

            span {
                vertical-align: middle;
                line-height: 1;
            }
        }
    }
}
