form.xform,
form.ewXform {
    .form-margin {
        margin-bottom: 1rem;
    }

    .form-label {
        margin-bottom: 0.3rem;
    }

    .principle {
        float: right;
    }

    input, textarea {
        padding: 0.8rem;

        &::placeholder {
            font-weight: 600;
        }
    }
}
.card.bg-dark {
    input, textarea {
        background: lighten($dark,10%);
        color: #fff;

        &::placeholder {
            color: darken(#fff,10%);
        }
    }
}
#Login {
    form .principle {
        float: right;
    }

    .morelink a {
        @extend .btn-clean;
    }
}

.EmailForm {
    p.buttons {
        float: right;

        label.required {
            @extend .visually-hidden;
        }
    }
}

#Login {
    form .principle {
        float: right;
    }

    .morelink a {
        @extend .btn-clean;
    }
}

.forgotten-password-link {
    display: block;
    margin-bottom: 1rem;
    margin-top: -1rem;
}
//date picker
.ui-datepicker {
    background: #fff;
    padding: 1rem;
    border: 1px solid $grey;

    .ui-datepicker-next {
        float: right;
    }

    .ui-datepicker-title {
        text-align: center;
    }

    .ui-datepicker-current {
        @extend .btn;
        @extend .btn-link;
    }

    .ui-datepicker-close {
        float: right;
        background: none;
        border: 0;
    }
    th,
    td {
        width: calc(100% / 7);
        text-align: center;

        a {
            color: $body-color;
            text-decoration: none;
            width: 100%;
            display: block;
        }
    }

    .ui-state-active {
        background: $primary;
        color: #fff;
    }
}
.searchListing {
    > .list-group {
        border-top: 1px solid #dee2e6;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 0;
        margin-top: 30px;
    }

    form {
        background: $light;
        padding: 2rem;

        button {
            border-radius: 0;

            i {
                display:none;
            }
        }
    }
}

.search-result.list-group-item {
    padding-left: 0;
    padding-right: 0;

    > a.float-start {
        line-height: 1;

        i {
            font-size: 1.5rem;
        }
    }
}