@media(min-width:2000px) {
    header {
        max-width: 2000px;
        margin: 0 auto;
    }
}
/*############### HEADER LAYOUT #################*/
//Specific Layout Settings
.header-menu-below {
    display: block !important;

    .main-nav ul.navbar-nav {
        @include media-breakpoint-up($nav-breakpoint) {
            margin-left: -$nav-padding-x;
            margin-right: -$nav-padding-x;
        }
    }
}

header.header-menu-right {
    .main-nav ul.navbar-nav {
        justify-content: flex-end;
    }

    .navbar-content {
        flex-direction: column;
        align-items: flex-end;
    }

    .header-tier1 {
        display: flex;
        align-items: center;

        > nav {
            margin: 0;
        }
    }

    .header-tier2 {
        @include media-breakpoint-down($nav-breakpoint) {
            display: flex;
            align-items: center;
        }
    }
}

.header-info-above {
    display: block;

    .header-above {
        background: $info;

        .container-fluid,
        .container {
            display: flex;
            justify-content: flex-end;
        }
    }
}

//General Header Settings
header {
    background-color: $header-bg;
    color: $header-color;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.3);

    a {
        color: $header-color;
        text-decoration: none;
    }

    &.header-one-line {
        flex-wrap: nowrap;
        border-bottom: 0;

        i {
            font-size: 1.3rem;
        }

        .navbar-content {
            flex-wrap: nowrap;
        }

        .main-nav ul.navbar-nav {
            justify-content: center;
        }
    }

    &.navbar {
        padding: 0;
        font-family: $navbar-font;
    }

    .header-inner {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .module.nobox {
        margin-bottom: 0;
    }

    .navbar-brand {
        max-width: 50%;
    }

    .navbar-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: right;
        /*@include media-breakpoint-up($nav-breakpoint) {
            margin-top: -0.5rem;
        }*/
    }

    &.cart-class {
        .navbar-content {
            flex-grow: 2;
        }
    }

    .navbar-toggler {
        border: 0;
        padding: 1rem 0 1rem 1rem;
        margin: -0.1rem -0.2rem;
        color: $header-color;
    }
}

.nav-close-btn {
    background: none;
    border: 0;
    box-shadow: none;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    color: color-contrast($mobile-dd-background) !important;
    z-index: 20;

    &:after {
        content: '\f00d';
        font-weight: 900;
        font-family: 'Font Awesome 6 Free';
    }
}

#mainTable .navbar-fixed-top {
    position: fixed;
    background: $header-bg;
    width: 100%;
    z-index: 101;
    height: $fixed-height-xs !important;

    @include media-breakpoint-up($nav-breakpoint) {
        height: $fixed-height-lg !important;
    }
}

.fixed-nav-content {
    padding-top: $fixed-height-xs !important;

    @include media-breakpoint-up($nav-breakpoint) {
        padding-top: $fixed-height-lg !important;
    }

    &.mt-0 {
        padding-top: $fixed-height-xs !important;

        @include media-breakpoint-up($nav-breakpoint) {
            padding-top: $fixed-height-lg !important;
        }
    }
}
/*############### NAVIGATION #################*/
.main-nav {
    padding: 0;
    //DESKTOP MENU
    @include media-breakpoint-up($nav-breakpoint) {
        font-size: $main-nav-size;
        padding: 0;

        .offcanvas-end {
            width: auto;
        }

        ul.navbar-nav {
            flex-wrap: wrap;

            .nav-link {
                padding: $nav-padding-y $nav-padding-x;

                &.active,
                &.on,
                &.show {
                    color: $nav-link-hover-color;
                }

                &:focus-visible {
                    border-radius: 3px;
                }
            }
        }
    }
    //DROPDOWN MENU
    .dropdown-menu {
        margin-top: 0;
        border-radius: 0;
        border: 0;
        @extend .animate__animated;
        @extend .animate__fadeInDownSmall;
        animation-duration: 0.3s;

        .dropdown-item {
            color: color-contrast($dropdown-bg);

            &:hover,
            &:active,
            &.active {
                background: none;
                opacity: 0.8;
            }

            &.active,
            &.on,
            &:focus {
                //color: $dropdown-link-active-color;
                opacity: 0.8;
            }

            &:first-child {
                color: color-contrast($dropdown-bg);

                &.on {
                    color: color-contrast($dropdown-bg);
                }
            }
        }

        ul {
            // display: none;
        }
    }

    .dropdown-toggle {
        &:after {
            content: '\f078';
            border: none;
            font-family: $font-awesome-version;
            font-weight: 900;
            font-size: 0.8rem;
            vertical-align: middle;
            margin-left: 0.4em;

            @include media-breakpoint-up($nav-breakpoint) {
                display: none;
            }
        }
    }

    .dropdown .dropdown-menu {
        @include media-breakpoint-down($nav-breakpoint) {
            animation: none;
        }
    }

    .dropdown.level2 {
        .dropdown-menu {
            ul.nav {
                display: none;
            }

            a.active,
            a.on,
            a:hover,
            a:focus {
                color: $dropdown-link-active-color;
            }

            @include media-breakpoint-up($nav-breakpoint) {
                ul.nav {
                    display: block;
                }

                a.active,
                a.on,
                a:hover,
                a:focus {
                    color: $dropdown-link-active-color;
                }

                a.on {
                    color: $dropdown-link-color;
                }
            }
        }

        @include media-breakpoint-down($nav-breakpoint) {
            ul.nav {
                padding-left: 1rem;
            }
        }

        @include media-breakpoint-up($nav-breakpoint) {
            .dropdown-menu > li > a {
                font-weight: 300;
            }

            position: static;

            .dropdown-menu {
                left: -100px;
                right: -100px;
                margin-top: 15px;

                > li {
                    float: left
                }
            }

            .dropdown-menu > li:nth-child(2) {
                float: none;
                clear: both;

                > a {
                    color: color-contrast($dropdown-bg);
                    border-bottom: 2px solid color-contrast($dropdown-bg);
                    margin-bottom: 0.6rem;
                    padding-bottom: 0.5rem;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: $dropdown-item-padding-x;
                    margin-right: $dropdown-item-padding-x;
                    width: calc(100% - 3rem);
                    font-weight: 600;
                }
            }
        }
    }
    //MOBILE MENU
    @include media-breakpoint-down($nav-breakpoint) {
        .offcanvas {
            overflow: scroll;
        }

        .navbar-nav .nav-link {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .btn-close {
            position: absolute;
            right: 5px;
            top: 5px;
        }

        .show::after {
            transform: rotate( 180deg );
        }

        .search-wrapper {
            padding: 1rem 1.5rem 0.5rem 0.3rem;
        }

        .socialLinks.iconset-plain {
            margin-left: 0.4rem;
        }
        //FULL SCREEN MOBILE NAV
        #navbarSupportedContent {
            position: fixed;
            background: $mobile-dd-background;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: block;
            overflow: scroll;
            display: none;
            z-index: 110;
            padding: 2rem 1rem 0;
            overflow-x: hidden;

            .navbar-nav {
                max-width: 22rem;
                margin: 0 auto;
                top: 0;
            }

            .menu-no-scroll {
                //   overflow: hidden !important;
            }

            .dropdown-menu > li:not(.menu-back),
            .nav-pills > li:not(.menu-back) {
                max-width: 23rem;
                margin: 0 auto;
            }

            .dropdown-menu li:nth-child(2) a {
                font-size: 1.3rem;
                width: 100%;

                &.active,
                &.on {
                    color: $mobile-dd-color;
                }
            }

            .nav-link {
                color: $mobile-dd-color;
                width: 100%;
                text-align: left;

                &.active,
                &.on {
                    color: $mobile-dd-active;
                }
            }

            a {
                &.active,
                &.on {
                    color: $mobile-dd-active;
                }
            }

            .dropdown-toggle:after {
                content: '\f061';
                color: $mobile-dd-color;
                border: 1px solid $mobile-dd-color;
                border-radius: 2px;
                padding: 2px 5px;
                float: right;
                font-family: $font-awesome-version;
                font-weight: 900;
                font-size: 0.8rem;
            }

            .dropdown-menu {
                position: fixed;
                background: $mobile-dd-background;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                transform: translateX(100%);
                display: block !important;
                overflow-x: hidden;
                transition: all ease 0.2s;
                padding-top: 0;
            }

            .dropdown-item {
                font-size: 1rem;
                padding-bottom: 0.6rem;
                color: $mobile-dd-color;
                white-space: normal;
                padding-right: 2rem;
            }

            .btn-sm.btn-outline-primary {
                width: 100%;
                background: $mobile-dd-background;
                color: $mobile-dd-color;
            }

            .search-wrapper {
                position: relative;
                margin: 5px auto 10px;
                max-width: 20rem;
                padding: 0;

                .btn-outline-primary {
                    position: absolute;
                    top: 5px;
                }

                .CTAsearch {
                    border: 2px solid #8d8d8d;
                    padding: 0.7rem 1rem;
                    border-radius: 100px !important;
                    background: #fff;
                }

                .btn {
                    color: #595959 !important;
                }
            }

            .nav-close-btn {
                right: 0px;
                top: 0px;
                z-index: 1010;

                &:after {
                    display: none;
                }
            }

            .emergency-xs-link {
                color: $mobile-dd-background;
                font-weight: 600;
            }

            .dropdown-mobile-next {
                @include clearfix;

                .dropdown-item {
                    width: calc(100% - 40px);
                    float: left;
                }
            }

            .dropdown-mobile-btn {
                padding: 0.3rem;
                line-height: 1;
                font-size: 0.8rem;
                margin-top: 0.4rem;
                border-color: $mobile-dd-color;
                color: $mobile-dd-color;

                i {
                    font-size: 0.8rem;
                }
            }

            .menu-back {
                .nav-link {
                    font-size: 1rem;
                    //  padding-top:0;
                    span {
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .nav-pills {
                transform: translateX(100%);
                position: absolute;
                display: block;
                width: 100%;
                top: 0;
                bottom: 0;
                transition: all ease 0.3s;
                padding: 0;
                height: 600px;
                background: $mobile-dd-background;
            }

            .dropdown-active {
                transform: translateX(0%);

                .dropdown-active {
                    //    transform: translateX(100%);
                    top: 0;
                    left: 0;

                    .nav-pills {
                        display: block !important;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}
/*############### INFO NAV #################*/
.info-nav {
    
    margin: 0 ($header-spacing/2) - $info-nav-spacing;

    ul {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .nav-link {
        padding: 0.5rem $info-nav-spacing;
    }
}

/*############### SIGN IN #################*/
.login-btn {
    white-space: nowrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &:hover {
        color: $nav-link-hover-color;
    }

    &:focus-visible {
        border-radius: 3px;
    }
}
.logged-in-icon {
    //color: $secondary;

    &:after {
        background: $secondary;
        height: 2px;
        width: 1.2rem;
        display: block;
        content: '';
        position: relative;
        bottom: -1px;
    }
}
#Login {
    form .principle {
        float: right;
        width: auto;
    }

    .buttons {
        padding-top: 13px;
    }

    .morelink a {
        @extend .btn-clean;
        float: left;
        width: auto;
        margin-top: -25px;
        font-weight: 300;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: lighten($link-color,30%);
    }
}

/*############### SOCIAL LINKS #################*/
.socialLinks.iconset-plain {
    $social-spacing-header: 0.5rem;
    margin: 0 ($header-spacing/2) - $social-spacing-header;

    a {
        padding-left: $social-spacing-header;
        padding-right: $social-spacing-header;
        font-size: $header-icon-size;
    }
}

/*############### CART BRIEF #################*/
#cartBrief {
    margin: 0 ($header-spacing/2);

    a {
        width: 2.2rem;
        display: block;
        padding: 0.3rem;
        position: relative;

        .cart-icon {
            font-size: $header-icon-size;

            #itemCount {
                position: absolute;
                top: 0.2rem;
                right: 0.2rem;
                font-size: 0.65rem;
            }
        }
    }
}

.cart-brief-wrapper-xs {
    display: flex;
    align-items: center;

    @include media-breakpoint-up($nav-breakpoint) {
        display: none;
    }
}

/*############### SEARCH #################*/
@mixin search-simple {
    position: relative;

    .input-group {
        display: block;

        input {
            border-radius: 100px !important;
            overflow: hidden;
            border: #808080 2px solid;
            padding-left: 0.8rem;
            padding-right: 2rem;
            width: 100%;
        }

        button {
            border: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 20;
            padding: 0.5rem 0.8rem;

            &:focus,
            &:active {
                box-shadow: none;
            }
        }


        button:hover,
        button:focus,
        button:active,
        button.btn-outline-primary:hover,
        button.btn-outline-primary:focus,
        button.btn-outline-primary:active {
            background: transparent;
            color: rgba($body-color,0.8);
        }

        button,
        button.btn-outline-primary {
            color: $body-color;
        }
    }
}

.search-wrapper {
    margin: 0 ($header-spacing/2);
    @include search-simple;
}

.search-btn {
    color: $navbar-light-color;
    padding-left: $header-spacing;
    padding-right: $header-spacing;

    &:focus-visible {
        border-radius: 3px;
        box-shadow: 0 0 0 0.25rem rgba(23, 43, 84, 0.25);
        outline:none;
    }

    &:hover,
    &:focus {
        padding-left: $header-spacing;
        padding-right: $header-spacing;
        color: $nav-link-hover-color;
    }
}

/*############### FEATURED BUTTON #################*/
.header-featured-btn {
    @include media-breakpoint-down($nav-breakpoint) {
        flex-grow: 2;
        display: flex;
        justify-content: flex-end;
    }

    @include media-breakpoint-up($nav-breakpoint) {
        padding-left: 0.5rem;
    }

    a {
        @extend .btn;
        @extend .#{$header-btn-style};
        transition: all .2s;
        line-height: 1;
        display: flex;
        align-items: center;
        margin: 1px;
        font-weight:600;
    }
}

/*############### TABBED MODULE #################*/
.tabbed-module {
    margin-bottom: $grid-gutter-height;

    .nav {
        margin-bottom: 1rem;

        a.active {
            background: $light;
        }
    }
}

.nav-tabs {
    border-bottom: 0;
    background: $primary;

    li.nav-item button {
        margin: 0;
        border: 0;
        font-weight: 600;
        background: $primary;
        color: #fff;
        padding: 10px 22px 6px;

        i {
            font-size: 0.95rem;
            padding-right: 4px;
            position: relative;
            top: -1px;
        }

        &.active {
            background: $light;
            border: 0;
            color: $body-color;
            font-weight: 7500;
        }
    }
}

@include media-breakpoint-down(lg) {
    .tab-content > .tab-pane {
        display: block;
        opacity: 1;
    }
}
.tab-pane {
    @include media-breakpoint-up(lg) {
        background: $light;
        padding: $card-spacer-y $card-spacer-x;
    }

    button.accordion-button {
        background: $primary;
        color: #fff;
        border: 0;
        margin-top: 3px;

        &:after {
            font-family: 'Font Awesome 6 Free';
            color: #fff;
            content: '\f107';
            font-weight: 900;
        }

        &.show {
            &:after {
                //     transform: rotate(0deg);
            }
        }

        i {
            padding-right: 0.5rem;
        }
    }

    .accordion-body {
        background-color: $light;
    }

    legend {
        display: none;
    }

    .module,
    .module.nobox {
        margin-bottom: 0;
    }
}

/*############### ACCORDION #################*/
.accordion-module {
    margin-bottom: $spacer;

    .entryFooter {
        margin-top: 1rem;
    }

    .accordion-button {
        &:after {
            background-image: none;
            mask-image: var(--bs-accordion-btn-icon);
            background-color: #fff;
        }
    }
}

/*############### SUB MENUS #################*/
#topMenu {
    margin-bottom: $spacer;


    @include media-breakpoint-down($nav-breakpoint) {
        border: 2px solid $primary;
        border-radius: $border-radius;
        padding: 0.3rem;

        ul {
            flex-direction: column;
        }
    }
}

#subMenu {
    background: $light;
    margin-bottom: $spacer;
    text-align: left;

    ul {
        flex-direction: column;
    }

    h4 a {
        text-decoration: none;
        font-weight: 300;
        padding: 1rem 1rem 0;
        display: block;
        font-size: 1.5rem;
        color: $body-color;
    }

    .nav-pills .nav-link,
    .nav-pills .show > .nav-link {
        background: transparent;
        //color: $body-color;
        //font-size: 1.2rem;
    }

    .nav-pills .nav-link.active {
        background: transparent;
        color: $link-color;
    }

    ul ul {
        padding-left: 1rem;

        li a.nav-link {
            font-size: 1rem;
        }
    }
}

#leftCol {
    @include media-breakpoint-down($nav-breakpoint) {
        text-align: center;
    }
}

button.xs-menu-btn {
    float: none;
    margin-bottom: 10px;

    i {
        font-size: 9px;
        padding-left: 4px;
        margin-right: -5px;
    }
}

.collapse.dont-collapse-md {
    @include media-breakpoint-up($nav-breakpoint) {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}
