$nav-breakpoint: lg;

.not-xs {
    @include media-breakpoint-down($nav-breakpoint) {
        display: none;
    }
}

.xs-only {
    @include media-breakpoint-up($nav-breakpoint) {
        display: none;
    }
}

// Header Layout Options
.header-menu-below {
    display: block !important;


    .main-nav ul.navbar-nav {
        @include media-breakpoint-up($nav-breakpoint) {
            margin-left: -$nav-padding-x;
            margin-right: -$nav-padding-x;
        }
    }
}

.header-menu-right {
    .main-nav ul.navbar-nav {
        justify-content: flex-end;
    }
}
//General Header Settings
header {
    &.navbar {
        padding: 0;
    }

    .header-inner {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .module.nobox {
        margin-bottom: 0;
    }

    .navbar-brand {
        max-width: 50%;
    }

    .navbar-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: right;

        @include media-breakpoint-up($nav-breakpoint) {
            margin-top: -0.5rem;
        }
    }

    .navbar-toggler {
        border: 0;
        padding: 0.1rem 0.2rem;
        margin: -0.1rem -0.2rem;
    }
}

//Navigation
.main-nav {
    padding: 0;

    @include media-breakpoint-up(lg) {
        font-size: $main-nav-size;
        padding: 0;

        .offcanvas-end {
            width: auto;
        }

        ul.navbar-nav {
            flex-wrap: wrap;

            .nav-link {
                padding: $nav-padding-y $nav-padding-x;
            }
        }
    }

    .dropdown-menu {
        margin-top: 0;
        border-radius: 0;
        border: 0;

        .dropdown-item {
            &:hover,
            &:active,
            &.active {
                background: none;
            }

            &.active,
            &.on,
            &:focus {
                color: $primary;
            }

            &:first-child {
                &.on {
                    color: $navbar-light-color;
                }
            }
        }

        ul {
            display: none;
        }
    }

    @include media-breakpoint-down(lg) {
        .offcanvas {
            overflow: scroll;
        }

        .navbar-nav .nav-link {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .btn-close {
            position: absolute;
            right: 5px;
            top: 5px;
        }

        .show::after {
            transform: rotate( 180deg );
        }

        .search-wrapper {
            padding: 1rem 1.5rem 0.5rem 0.3rem;
        }

        .socialLinks.iconset-plain {
            margin-left: 0.4rem;
        }
    }
}

.info-nav {
    $info-nav-spacing: 0.7rem;
    margin: 0 ($header-spacing/2) - $info-nav-spacing;

    ul {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .nav-link {
        padding: 0.5rem $info-nav-spacing;
    }
}

.login-btn {
    white-space: nowrap;
}

.socialLinks.iconset-plain {
    $social-spacing-header: 0.5rem;
    margin: 0 ($header-spacing/2) - $social-spacing-header;

    a {
        padding-left: $social-spacing-header;
        padding-right: $social-spacing-header;
        font-size: $header-icon-size;
    }
}

#cartBrief {
    margin: 0 ($header-spacing/2);

    a {
        width: 2.2rem;
        display: block;
        padding: 0.3rem;
        position: relative;

        .cart-icon {
            font-size: $header-icon-size;

            #itemCount {
                position: absolute;
                top: 0.2rem;
                right: 0.2rem;
                font-size: 0.65rem;
            }
        }
    }
}

.cart-brief-wrapper-xs {
    display: flex;
    align-items: center;

    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.search-wrapper {
    margin: 0 ($header-spacing/2);
}

.tabbed-module {
    .nav {
        margin-bottom: 1rem;
    }
}

.accordion-module {
    margin-bottom: $spacer;
}

.LinkListSimple {
    margin-left: -1rem;
    margin-right: -1rem;
}
