header {
    border-bottom: 1px solid $grey;
}

footer#pagefooter {

    .module-Image svg {
        filter: drop-shadow(100vw 0 0 #fff);
        transform: translateX(-100vw);
    }
}
.module-centred.nobox h2.title,
h2.layout-title,
.intro-banner-inner {
    &:after {
        content: '';
        height: 2px;
        width: 80px;
        display: block;
        background: $primary;
        margin: 0.9rem auto 0.9rem;
    }
}
.intro-banner-inner:after {
    margin-top: 1.7rem;
}

.author {
    border-bottom: 1px solid $grey;
}

.detail-container > .detail {
    h2 {
        font-size: 1.5rem;
        margin-bottom: 0.1rem;
    }
}
/*dl {
    border-bottom: 1px solid $grey;
    padding-bottom:1rem;
    margin-bottom:1rem;
}*/

.back-link {
    @extend .btn;
    @extend .btn-outline-primary;
}
.card-title .center-block i,
.module-with-icon .center-block i {
    @include circle-icon-border($border:3px solid $info,$color:$info);
    //color:$info;
}
.circle-stat {
    @include circle-icon-border($border:3px solid $primary,$color:$info,$size:100px);
    margin: 0 auto;
}
