header {
    border-bottom: 1px solid $grey;
}

footer#pagefooter {

    .module-Image svg {
        filter: drop-shadow(100vw 0 0 #fff);
        transform: translateX(-100vw);
    }
}
.module-centred.nobox h2.title,
h2.layout-title,
.intro-banner-inner {
    &:after {
        content: '';
        height: 2px;
        width: 80px;
        display: block;
        background: $primary;
        margin: 0.9rem auto 0.9rem;
    }
}
.intro-banner-inner:after {
    margin-top: 1.7rem;
}
.main-nav {
    @include media-breakpoint-up($nav-breakpoint) {
        .nav-link {
            padding: $nav-padding-y 0 !important;
            margin: 0 $nav-padding-x;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $nav-link-hover-color;
                transform: scaleX(0);
                transition: transform 0.3s ease;
            }

            &:hover::before {
                transform: scaleX(1);
            }

            &.active, &.on {
                border-bottom: 2px solid $nav-link-hover-color;
                padding-bottom: $nav-padding-y - 2px !important;

                &:hover::before {
                    transform: scaleX(0);
                }
            }
        }
    }
}

.header-menu-below .main-nav {
    @include media-breakpoint-up($nav-breakpoint) {
        border-top: 1px solid $grey;
        //border-bottom: 1px solid $grey;
    }
}

.author {
    border-bottom: 1px solid $grey;
}

.detail-container > .detail {
    h2 {
        font-size: 1.5rem;
        margin-bottom: 0.1rem;
    }
}
/*dl {
    border-bottom: 1px solid $grey;
    padding-bottom:1rem;
    margin-bottom:1rem;
}*/

.back-link {
    @extend .btn;
    @extend .btn-outline-primary;
}
.card-title .center-block i,
.module-with-icon .center-block i {
    @include circle-icon-border($border:3px solid $info,$color:$info);
    //color:$info;
}
.circle-stat {
    @include circle-icon-border($border:3px solid $primary,$color:$info,$size:100px);
    margin: 0 auto;
}
