.link-underline {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: $secondary;

    &:hover {
        color: $secondary;
    }

    &:visited {
        color: $visited;
        text-decoration-color: #c2a5c9;
    }
}
@mixin btn-clean($color: $link-color, $hover: $link-hover-color) {
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
    color: $color;

    &:hover,
    &:focus {
        color: $hover;
        background: none;
        border: none;
        outline: none;
    }
}

.light-flex {
    display: flex;
}
//bgs
@mixin bg-contrast($background, $dark-contrast: $color-contrast-dark, $light-contrast: $color-contrast-light,$opacity: $slide-opacity ) {
    color: color-contrast($background, $dark-contrast, $light-contrast);

    @if $opacity < 1 {
        background: rgba($background, $opacity);
    }
    @else {
        background: $background;
        //color:color-yiq($background);
    }
}

.bg-dark-o {
    @include bg-contrast($dark);
}

.bg-light-o {
    @include bg-contrast($light);
}

.bg-primary-o {
    @include bg-contrast($primary);
}

.bg-secondary-o {
    @include bg-contrast($secondary);
}

.bg-info-o {
    @include bg-contrast($info);
}

.bg-success-o {
    @include bg-contrast($success);
}

.bg-warning-o {
    @include bg-contrast($warning);
}

.bg-danger-o {
    @include bg-contrast($danger);
}
