.hidden {
    display: none;
}

.not-xs {
    @include media-breakpoint-down($nav-breakpoint) {
        display: none !important;
    }
}

.xs-only {
    @include media-breakpoint-up($nav-breakpoint) {
        display: none !important;
    }
}

@mixin sr-only {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}

@mixin clear-shadow() {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}

@mixin remove-gradient() {
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}

@mixin circle-icon($background: $primary,$color: color-contrast($background),$size: 5rem,$font: 2rem) {
    width: $size;
    height: $size;
    background: $background;
    color: $color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    font-size: $font;
}

@mixin circle-icon-border($border: 2px solid $primary,$color: $primary,$size: 5rem,$font: 2rem) {
    width: $size;
    height: $size;
    background: transparent;
    border: $border;
    color: $color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    font-size: $font;
}
.module-centred {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.module-with-icon div.center-block {
    display: flex;
    flex-direction: column;
    align-items: center;


    i {
        margin-bottom: 1rem;
    }
}

.align-btn-footer {
    .lIinner .media-inner {
        height: 100%;
        display: flex;
        flex-direction: column;

        .entryFooter {
            margin-top: auto;
        }
    }
}
@include media-breakpoint-up(md) {
    .two-col-text {
        column-count: 2;
    }

    .three-col-text {
        column-count: 3;
    }
}
.match-content-height {
    > div > div:not(.ptn-edit) {
        height: calc(100% - $grid-gutter-height);
    }
}
/*############### BUTTONS AND LINKS #################*/
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    @extend .btn;
    @extend .btn-primary;
    border-radius: 0 0 4px 4px;
    padding: 1rem;
}

.skip:focus {
    left: 10px;
    top: 0px;
    z-index: 20;
    width: auto;
    height: auto;
    overflow: visible;
}

a {
    outline-offset: 5px;
    outline-color: $link-color;
}

.link-underline {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: $secondary;

    &:hover {
        color: $secondary;
    }

    &:visited {
        color: $visited;
        text-decoration-color: #c2a5c9;
    }
}

.btn-link {
    padding: 0;
    text-underline-offset: 4px;

    &:hover,
    &:focus {
        background: none;
        color: $link-hover-color;
    }
}

.btn-clean {
    padding: 0;
    background: none;
    border: 0;
    box-shadow: none;
    color: $link-color;

    &:hover,
    &:focus {
        padding: 0;
        background: none;
        border: 0;
        box-shadow: none;
        color: $link-color;
    }
}

@mixin btn-clean($color: $link-color, $hover: $link-hover-color) {
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
    color: $color;

    &:hover,
    &:focus {
        color: $hover;
        background: none;
        border: none;
        outline: none;
    }
}

.light-flex {
    display: flex;
}


/*############### BACKGROUNDS #################*/
@mixin bg-contrast($background, $dark-contrast: $color-contrast-dark, $light-contrast: $color-contrast-light,$opacity: $slide-opacity ) {
    color: color-contrast($background, $dark-contrast, $light-contrast);

    @if $opacity < 1 {
        background: rgba($background, $opacity);
    }
    @else {
        background: $background;
        //color:color-yiq($background);
    }
}

.bg-dark-o {
    @include bg-contrast($dark);
}

.bg-light-o {
    @include bg-contrast($light);
}

.bg-primary-o {
    @include bg-contrast($primary);
}

.bg-secondary-o {
    @include bg-contrast($secondary);
}

.bg-info-o {
    @include bg-contrast($info);
}

.bg-success-o {
    @include bg-contrast($success);
}

.bg-warning-o {
    @include bg-contrast($warning);
}

.bg-danger-o {
    @include bg-contrast($danger);
}

@-webkit-keyframes fadeInDownSmall {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDownSmall {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInDownSmall {
    -webkit-animation-name: fadeInDownSmall;
    animation-name: fadeInDownSmall;
}

/*############### LIST ITEMS #################*/
@mixin box-content($background: $body-bg, $color: contrast($background,#fff,$text-color), $link: $link-color, $hover: darken($link-color,$link-hover-percentage) ) {
    background: $background;
    padding: $box-padding-vertical $box-padding-horizontal;
    border-radius: $border-radius-base;
    color: $color;
}

@mixin list-box-content($background: $body-bg, $color: contrast($background,#fff,$text-color), $link: $link-color, $hover: darken($link-color,$link-hover-percentage), $heading: $headings-color, $padding-vertical: $box-padding-vertical, $padding-horizontal: $box-padding-horizontal, $btn-height: 30px, $btn-align: $btn-align ) {
    .listItem .lIinner {
        background: $background;
        padding: $padding-vertical $padding-horizontal ($padding-vertical + $btn-height);
        border-radius: $border-radius-base;
        color: $color;
        height: 100%;
        position: relative;

        h1, h2, h3, h4, h5, h6 {
            color: $color
        }

        .entryFooter .morelink {
            position: absolute;
            bottom: ($padding-vertical/2);
            left: $padding-horizontal;
            right: $padding-horizontal;
            text-align: $btn-align;
        }

        h3.title,
        h4.media-heading {
            @include heading-color($color:$heading, $link: $heading );
        }
    }
}

@mixin list-btn-align($btn-height: 30px, $padding: 20px) {
    height: 100%;
    position: relative;
    padding-bottom: ($btn-height + $padding);

    .entryFooter .morelink {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: $btn-align;
    }
}

@mixin grid-spacing($space: ($grid-gutter-width*2), $vertical-space: $space ) {
    .row {
        margin-left: -($space/2);
        margin-right: -($space/2);

        > div {
            padding-left: ($space/2);
            padding-right: ($space/2);

            .module {
                margin-bottom: $vertical-space
            }
        }
    }
}

@mixin list-grid-spacing($space: ($grid-gutter-width*2), $vertical-space: $space ) {
    .cols {
        margin-left: -($space/2) !important;
        margin-right: -($space/2) !important;

        .listItem {
            padding: 0 ($space/2) !important;
            margin-bottom: $vertical-space;
        }
    }
}
// TESTIMONIALS
@mixin quote-clean {
    blockquote {
        padding: 0;
        margin: 0;
        border: 0;
        font-size: $font-size-base;

        footer {
            &:before {
                content: ''
            }

            cite {
                font-size: $font-size-base;
                color: $text-color;
                line-height: $line-height-base;
                font-style: normal;
            }
        }
    }
}

@mixin quote-bubble($background: $brand-primary,$color: #fff,$radius: $border-radius-base,$size: 1.3em,$paddingv: $box-padding-vertical,$paddingh: $box-padding-horizontal,$triangle: 35px) {
    margin-bottom: ($triangle + 10px) !important;

    .lIinner {
        padding: $paddingv $paddingh;
        background: $background;
        color: $color;
        border-radius: $radius;
        position: relative;

        &:after {
            content: ' ';
            width: $triangle;
            height: $triangle;
            position: absolute;
            bottom: -$triangle;
            left: $paddingh;
            border-left: $triangle solid $background;
            border-bottom: $triangle solid transparent;
        }

        a {
            color: $color;

            &:hover,
            &:focus {
                color: fade($color,70%);
            }
        }

        blockquote {
            font-size: $size;

            footer {
                color: $color;
                padding-top: 15px;
                font-weight: 700;
                font-size: 0.7em;
                line-height: 1;

                cite {
                    color: $color;
                    font-size: 1.2em;
                }
            }
        }

        .entryFooter .morelink {
            position: static;

            a {
                @include btn-clean;
                color: $color;

                &:hover,
                &:focus {
                    color: fade($color,70%);
                }
            }
        }
    }
}

@mixin quote-border($background: $brand-primary,$color: #fff,$radius: $border-radius-base,$size: 1.3em,$paddingv: $box-padding-vertical,$paddingh: $box-padding-horizontal,$triangle: 35px) {
    margin-bottom: ($triangle + 10px) !important;

    .lIinner {
        padding: $paddingv $paddingh;
        border: 3px solid $background;
        border-radius: $radius;
        position: relative;

        &:before {
            content: ' ';
            width: $triangle;
            height: $triangle;
            position: absolute;
            bottom: -$triangle;
            right: $paddingh;
            border-right: $triangle solid $background;
            border-bottom: $triangle solid transparent;
        }

        &:after {
            content: ' ';
            width: ($triangle - 6px);
            height: ($triangle - 6px);
            position: absolute;
            bottom: -($triangle - 8px);
            right: ($paddingh + 3px);
            border-right: $triangle solid #fff;
            border-bottom: $triangle solid transparent;
        }

        a {
            color: $color;

            &:hover,
            &:focus {
                color: fade($color,70%);
            }
        }

        .entryFooter .morelink {
            position: static;

            a {
                @include btn-clean;
                color: $color;

                &:hover,
                &:focus {
                    color: fade($color,70%);
                }
            }
        }
    }
}
