$primary: #029fc1;
$secondary: #07856d;
$info: #3498db;
$action: #d309c2;
$warning: #f39c12;
$success: #191ebe;
$danger: #e74c3c;

$light: #d6d6d6;
$dark: #1c1c1c;
$white: #ffffff;
$spacer: 1.5rem;
$grid-gutter-width:3rem;
$grid-gutter-y:3rem;
$min-contrast-ratio: 3;
$body-color:#666;

//$font-family-base: 'Lato', sans-serif;
//$font-weight-base: 300;
//$font-size-base: 1.1rem !default;
//$border-radius: 15px;
//$btn-border-radius: 100px;
//$btn-padding-x: 1.5rem;
//$link-color: #fa6677;
//$line-height-base: 1.4;