//$primary: #10a186;
$primary: #07856d;
$secondary: #07856d;
//$info: #07856d;
//$success: ;
//$warning: ;
//$danger: ;
$light: #f5f5f5;
$dark: #1c1c1c;
$spacer: 1.5rem;
$grid-gutter-width:3rem;
$grid-gutter-y:3rem;
$min-contrast-ratio: 3;
$body-color:#666;

//$font-family-base: museo-sans-rounded, sans-serif;
//$font-weight-base: 300;
//$font-size-base: 1.1rem !default;
//$border-radius: 15px;
//$btn-border-radius: 100px;
//$btn-padding-x: 1.5rem;
//$link-color: #006075;
//$line-height-base: 1.4;