.qty-product {
    float: left;
    margin-right: 10px;

    .qty-label {
        @extend .visually-hidden;
    }

    .input-group {
        max-width: 120px;
    }
}
@mixin cart-style1 {
    .cart-headings,
    .cart-btns-top {
        display: none;
    }

    .cart-thumbnail {
        float: left;
        margin-right: 1rem;
    }

    .ref {
        display: none;
    }

    .continue {
        @include btn-clean;
        float: left;
    }

    .principle {
        float: right;
    }

    .lineTotal {
      //  display: none;
    }
}
#cartFull {
    @include cart-style1;
}

