//------------------------------------------------
//HEADER
//------------------------------------------------
.Site {
    //padding below menu
    .container-wrapper #mainLayout {
        padding-top: $box-margin;
    }

    &.nav-no-padding .container-wrapper #mainLayout {
        padding-top: 0;

        .detail-container {
            padding-top: $box-margin;
        }
    }

    .fixed-nav-content {
        padding-top: $fixed-header-height;

        @media(min-width:$screen-sm-min) {
            padding-top: $fixed-header-height-sm;
        }

        @media(min-width:$screen-md-min) {
            padding-top: $fixed-header-height-md;
        }

        @media(min-width:$screen-lg-min) {
            padding-top: $fixed-header-height-lg;
        }

        .faq-link,
        .pageTop {
            padding-top: $fixed-header-height + 15;
            margin-top: -$fixed-header-height;

            @media(min-width:$screen-sm-min) {
                padding-top: $fixed-header-height-sm + 15;
                margin-top: -$fixed-header-height-sm;
            }

            @media(min-width:$screen-md-min) {
                padding-top: $fixed-header-height-md + 15;
                margin-top: -$fixed-header-height-md;
            }

            @media(min-width:$screen-lg-min) {
                padding-top: $fixed-header-height-lg + 15;
                margin-top: -$fixed-header-height-lg;
            }
        }
    }
    //header
    .header {
        //@include header-flex1;
        background: $header-bg;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;

        .principle {
            @include btn-mixin($brand-action)
        }

        .navbar-header {
            float: none;

            .navbar-brand {
                height: auto;
                // @media(max-width:$screen-md-max){max-width:170px;}
                // @media(max-width:$screen-sm-max) {
                //     max-width: 130px;
                //  }
                //@media(max-width:$screen-xs-max){max-width:150px;}
                @media(max-width:$grid-float-breakpoint-max) {

                    img {
                        height: 50px;
                        object-fit: contain;
                        width: auto;
                    }
                }

                svg {
                    @media(max-width:$grid-float-breakpoint-max) {
                        height: 50px;
                        width: auto;
                    }

                    image {
                        width: 100%;
                    }
                }
            }

            button.navbar-toggle {
                margin: 0 0 0 ($header-item-spacing/2);
                border: 0;
                border-radius: 0;
                //@include btn-mixin($header-icon;);
                span.icon-bar {
                    background-color: $header-icon;
                }

                &:hover,
                &:focus {
                    background: transparent;
                }
            }

            .module {
                margin-bottom: 0;
            }

            .header-tier1-inner {
                margin-left: -($header-item-spacing/2);
                margin-right: -($header-item-spacing/2);
                flex-wrap: wrap;
                justify-content: flex-end;
            }

            .header-tier2 {
                @media(min-width:$grid-float-breakpoint) {
                    float: right;
                }
            }
        }
        //@media(max-width:$grid-float-breakpoint-max){border-bottom:4px solid $navbar-default-bg}
    }
}
//------------------------------------------------
//NAV MIXINS
//------------------------------------------------
//navbars spacing
@mixin main-navbar-spacing($vertical: $navbar-padding-vertical, $horizontal: $navbar-padding-horizontal ) {
    a {
        padding: $vertical $horizontal;
    }
}

@mixin main-navbar-spacing($vertical: $navbar-padding-vertical, $horizontal: $navbar-padding-horizontal ) {
    @if $navbar-default-bg == transparent and $nav-hover-bg == transparent and $nav-active-bg == transparent {
        margin: 0;

        @media(min-width:$grid-float-breakpoint) {
            margin: 0 -$horizontal;
        }

        a {
            padding: $vertical $horizontal;
        }
    }
}

@mixin navbar-spacing($vertical: $navbar-padding-vertical, $horizontal: $navbar-padding-horizontal ) {
    a {
        padding: $vertical $horizontal;
    }
}

@mixin navbar-spacing-clean($vertical: $navbar-padding-vertical, $horizontal: $navbar-padding-horizontal ) {
    margin: 0 -$horizontal;

    a {
        padding: $vertical $horizontal;
    }
}
//navbar colours
@mixin navbar-color-basic($color: $nav-text-color, $hover: $nav-hover-color, $hover-bg: $nav-hover-bg, $active: $nav-active-color, $active-bg: $nav-active-bg ) {
    li a {
        color: $color;

        &:hover,
        &:focus {
            color: $hover;
            background: $hover-bg;
        }

        &.on,
        &.active {
            color: $active;
            background: $active-bg;
        }
    }
}
//navbars without backgrounds
@mixin navbar-color-clean($color: $nav-text-color, $hover: $nav-hover-color, $active: $nav-active-color ) {
    li a {
        color: $color;

        &:hover,
        &:focus {
            color: $hover;
            background: transparent;
        }

        &.on,
        &.active {
            color: $active;
            background: transparent;
        }
    }
}


//------------------------------------------------
//MAIN NAV DESKTOP
//------------------------------------------------
.Site {
    @media(min-width:$grid-float-breakpoint) {
        nav.navbar-collapse {
            background-color: $navbar-default-bg;
            padding: 0;
            border: 0;
            font-size: $nav-font-size-md;
            line-height: $line-height-base;
            max-height: none;

            ul.navbar-nav {
                @include flex-display;
                @include justify-content(flex-end);
                @include main-navbar-spacing($navbar-padding-vertical-md,$navbar-padding-horizontal-md);
                @include navbar-color-basic;
                font-weight: $nav-weight;

                @media(max-width:$grid-float-breakpoint-max) {
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
        }

        @media(min-width:$screen-lg-min) {
            nav.navbar-collapse {
                font-size: $nav-font-size;

                ul.navbar-nav {
                    @include main-navbar-spacing;
                }
            }
        }

        nav.navbar-collapse {
            @if $flex-nav == true {
                @include flex-grow(3);

                ul.navbar-nav {
                    @include flex-display;
                    @include justify-content(flex-end);
                }
            }
        }
    }
    //DROPDOWNS
    nav.navbar-collapse ul.navbar-nav .dropdown {
        @media(min-width:$grid-float-breakpoint) {
            > a::after {
                @include angle-down;
                padding-left: 5px;
            }

            .mobile-dd-control {
                display: none
            }

            &.open > a {
                background: $nav-hover-bg;
            }

            @media(min-width:$grid-float-breakpoint) {
                /*> a::after {
                @include angle-down;
                padding-left: 5px;
            }*/
                .mobile-dd-control {
                    display: none
                }

                &.open > a {
                    background: $nav-hover-bg;
                }

                &:hover {
                    .dropdown-menu {
                        visibility: visible;
                        @include animated;
                        animation-duration: 0.2s;
                        @include fadeInDown;
                    }
                }
            }
        }

        .dropdown-menu {
            //background-color:lighten($navbar-default-bg,10%);
            background-color: $dd-default-bg;
            border: none;
            display: block;
            visibility: hidden;


            li {
                float: none;

                a {
                    color: $dd-text-color;
                    padding-left: 15px;
                    padding-right: 15px;
                    font-weight: $font-weight-base;

                    &.on,
                    &.active {
                        color: $dd-active-color;
                        font-weight: 700;
                    }

                    &:hover,
                    &:focus {
                        color: $dd-hover-color;
                    }

                    .caret,
                    a:focus .caret,
                    .open > a .caret,
                    .open > a:focus .caret {
                        border-top-color: $dd-text-color;
                        border-bottom-color: $dd-text-color;
                    }

                    .open > a:hover .caret,
                    a:hover .caret {
                        border-top-color: $dd-hover-color;
                        border-bottom-color: $dd-hover-color;
                    }
                }
            }

            ul {
                display: none;
            }
        }
        //.dropdown-menu when ($navbar-default-bg = transparent){background:#fff}
    }

    nav.navbar-collapse ul.navbar-nav .dropdown {
        @media(max-width:$grid-float-breakpoint-max) {
            &.open, &.on {
                > a {
                    color: fade($nav-color-xs,60%);
                }

                .dropdown-menu {
                    position: static;
                    float: none;
                    width: auto;
                    margin-top: 0;
                    visibility: visible;
                    box-shadow: none;
                    background: lighten($nav-bg-xs,15%);
                    padding: 5px 0;

                    li a {
                        padding: $navbar-padding-vertical-xs $navbar-padding-horizontal-xs $navbar-padding-vertical-xs ($navbar-padding-horizontal-xs + 15px);
                        font-size: 0.9em;
                        line-height: 18px;

                        &.active,
                        &.on {
                            color: $nav-active-color-xs;
                            background: transparent;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    //Hide hover dropdown from mobile menu
    nav.navbar-collapse ul.navbar-nav .dropdown-hover-menu {
        @media(max-width:$grid-float-breakpoint-max) {
            /*> a:after{
                @include chevron-down;
                float:right;
            }*/
            @include clearfix;

            .mobile-dd-control {
                color: $nav-color-xs;
                position: absolute;
                float: none;
                right: 0;
                top: 0;
                z-index: 2;
                text-align: center;
                padding: $navbar-padding-vertical-xs $navbar-padding-horizontal-xs;

                .fa-angle-up {
                    display: none;
                }
            }

            .dropdown-menu {
                position: static;
                width: 100%;
                border-radius: 0;
                @include clear-shadow;
                //display:none!important;
                li a {
                    padding: $navbar-padding-vertical-xs $navbar-padding-horizontal-xs;
                }
            }
        }
    }
}
//------------------------------------------------
//MOBILE NAV
//------------------------------------------------
//OFF CANVAS ANIMATION
@media(max-width:$grid-float-breakpoint-max) {
    body.canvas-sliding, body.canvas-slid {
        left: auto !important;
    }

    .offcanvas {
        display: none;

        &.in {
            display: block;
        }
    }

    .offcanvas-xs,
    .offcanvas-sm,
    .offcanvas-md {
        @include offcanvas;
    }

    .canvas-sliding {
        -webkit-transition: top 0.35s, left 0.35s, bottom 0.35s, right 0.35s;
        transition: top 0.35s, left 0.35s, bottom 0.35s, right 0.35s;
    }

    .offcanvas-clone {
        height: 0px !important;
        width: 0px !important;
        overflow: hidden !important;
        border: none !important;
        margin: 0px !important;
        padding: 0px !important;
        position: absolute !important;
        top: auto !important;
        left: auto !important;
        bottom: 0px !important;
        right: 0px !important;
        opacity: 0 !important;
    }
}
//MOBILE NAV BAR
.Site {
    @media(max-width:$grid-float-breakpoint-max) {
        nav.navbar-collapse {
            background-color: $nav-bg-xs;
            padding: 0;
            border: 0;
            font-size: $nav-font-size-xs;
            line-height: $line-height-base;
            max-height: none;

            .container {
                padding: 0;
                width: auto;
            }

            ul.navbar-nav {
                margin: 0;
                @include navbar-spacing($navbar-padding-vertical-xs,$navbar-padding-horizontal-xs);
                @include navbar-color-basic($nav-color-xs,$nav-hover-color-xs,$nav-hover-bg-xs,$nav-active-color-xs,$nav-active-bg-xs);

                @media(max-width:$grid-float-breakpoint-max) {
                    margin-bottom: 0;
                    margin-top: 0;
                }

                li a.active,
                li a.on {
                    font-weight: 700;
                }
            }
        }

        .navbar-offcanvas {
            width: $xs-navmenu-width;
            height: auto;
            border-width: 1px;
            border-style: solid;
            border-radius: $border-radius-base;
            position: fixed;
            z-index: $zindex-navmenu-fixed;
            top: 0;
            bottom: 0;
            overflow-y: auto;
            border-radius: 0;
            left: auto !important;
            right: 0;
            border-width: 0 0 0 1px;

            .container {
                width: auto
            }
        }
    }
}
//------------------------------------------------
//INFO MENU
//------------------------------------------------
.Site {
    .info-nav {
        @media(min-width:$grid-float-breakpoint) {
            li a {
                @include pill-clean;
                font-size: $info-link-size;
            }

            @include navbar-color-clean($info-link-color,$info-link-hover,$info-link-active);
            @include navbar-spacing(5px,15px);
        }
    }
}
//------------------------------------------------
//LOGIN
//------------------------------------------------
.Site {
    //LOGIN BRIEF
    #signinxs {
        float: left;
        margin-right: 10px;
        @include icon-center;

        i {
            @include icon-circles($background:$header-icon, $width: 35px, $height: 35px, $size: 1em )
        }
    }

    .login-btn {
        //@include btn-mixin($brand-action);
        display: block;
        font-weight: 700;
        margin-left: ($header-item-spacing/2);
        margin-right: ($header-item-spacing/2);

        &:before {
            font-family: 'Font Awesome 5 Free';
            content: '\f007';
            padding-right: 5px;
        }
    }

    .xs-login {
        float: left;
        margin-right: 10px;
    }

    #loginBriefxs {
        border-top: 1px solid fade($nav-color-xs,50%);
        border-bottom: 1px solid fade($nav-color-xs,50%);
    }

    #LoginModal {
        .module {
            margin-bottom: 0;
        }

        .entryFooter {
            a.btn {
                @include btn-clean;
                float: none;
                position: absolute;
                bottom: 50px;
            }
        }
    }
}

#LoginModal.canvas-slid {
    left: 0 !important;
    right: 0 !important;
}
//------------------------------------------------
//CART BRIEF
//------------------------------------------------
.Site {
    @mixin cart-circle($background: $header-icon, $padding: 10px, $radius: 50px, $percentage: $btn-hover-percentage ) {
        padding-top: 0;
        margin-left: ($header-item-spacing/2);
        margin-right: ($header-item-spacing/2);

        .cartinfo > a {
            @include flex-display;
            color: $text-color;

            &:hover {
                .cart-icon i {
                    background: darken($background,$percentage)
                }

                .text-link-cart {
                    color: darken($link-color,$percentage)
                }
            }
        }

        .cart-icon {
            position: relative;
            display: inline-block;
            float: left;

            i {
                background: $background;
                color: contrast($background,$contrast-color,#fff);
                padding: $padding;
                border-radius: $radius;
            }
        }

        .cart-text {
            display: none;
            line-height: 1.1;

            #itemTotal {
                font-size: 1.25em;
            }

            .text-link-cart {
                color: $link-color;
            }
        }

        #itemCount {
            background: $brand-info;
            border-radius: $radius;
            color: contrast($brand-info,#fff,$contrast-color);
            font-weight: 700;
            width: 17px;
            font-size: 10px;
            display: block;
            padding: 0px;
            text-align: center;
            height: 17px;
            position: absolute;
            top: -4px;
            right: -4px;
            z-index: 5;
            border: 2px solid $header-bg;
            line-height: 1.3;
        }
    }

    @mixin cart-clean($color: $brand-primary,$highlight: $brand-action) {
        float: right;
        margin: 0 0 0 20px;
        //@media(min-width:$grid-float-breakpoint) {margin-top:12px;}
        .cart-icon {
            position: relative;
            padding: 0px 5px;
            font-size: 22px;
            color: $color;
        }

        .cart-text {
            display: none;
        }

        #itemCount {
            background: $highlight;
            border-radius: 100px;
            color: #fff;
            font-weight: 700;
            width: 14px;
            font-size: 9px;
            display: block;
            padding: 1px 0 0px;
            text-align: center;
            height: 14px;
            position: absolute;
            top: -4px;
            right: -4px;
            z-index: 5;
            line-height: 1.3;
        }
    }

    #cartBrief {
        float: left;
        @include cart-circle;
    }
}
//------------------------------------------------
//SEARCH
//------------------------------------------------
.Site {
    @mixin search-grouped($height: 35px, $border: 1px, $radius: $btn-radius-base, $btn-width: 40px, $btn-color: $brand-action, $border-color: #ccc) {
        .CTAsearch {
            height: $height;
            border-width: $border;
            border-right: 0;
            border-radius: $radius 0 0 $radius !important;
            padding-left: 10px;
            border-color: $border-color;
        }

        .CTAsearch_button {
            height: $height;
            border: 0;
            width: $btn-width;
            @include btn-mixin($btn-color);
            padding: 8px;
            border-radius: 0 $radius $radius 0;
        }
    }

    .search-wrapper {
        float: left;

        .searchBrief {
            @include search-grouped;
        }
    }

    .search-oc {
        padding-left: $navbar-padding-horizontal;
        @include clearfix;

        .searchBrief {
            float: left;
            margin-top: 20px;
            margin-bottom: 30px;
            @include search-grouped($border:0px );

            input.CTAsearch {
                width: ($xs-navmenu-width - ($grid-gutter-width + 35px));
            }
        }
    }
}
//------------------------------------------------
//OTHER HEADER ELEMENTS
//------------------------------------------------
.Site {
    //STRAPLINE
    .strapline {
        float: left;
        margin-left: ($header-item-spacing/2);
        margin-right: ($header-item-spacing/2);

        @media(max-width:$grid-float-breakpoint-max) {
            display: none;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }

        a {
            @include link-color($info-link-color);
        }
    }
    //SOCIAL LINKS
    .socialLinksHeader {
        margin-left: ($header-item-spacing/2);
        margin-right: ($header-item-spacing/2);
        $social-link-spacing: 5px;

        .socialLinks {
            margin-left: -$social-link-spacing;
            margin-right: -$social-link-spacing;

            a {
                font-size: 18px;
                padding: $social-link-spacing;
                display: inline-block;
            }
        }

        @media(max-width:$grid-float-breakpoint-max) {
            margin: 10px 0 0 0;
            padding-left: $navbar-padding-horizontal-xs;
            padding-right: $navbar-padding-horizontal-xs;

            a {
                @include link-color($nav-color-xs);
            }

            .align-right {
                text-align: left;
            }
        }

        .socialLinks {
            margin-bottom: 0;
        }
    }
    //HEADER WITH DARK BACKGROUND
    .header {
        @if luma($header-bg) < 50% {
            .navbar-header {
                #cartBrief .cartinfo > a,
                .strapline {
                    color: #fff
                }
            }
        }
    }

    nav.offcanvas-xs {
        .socialLinksHeader {
            margin-bottom: 0;
        }

        .socialLinks a {
            //font-size: 20px;
            // padding-right: 15px;
            // padding-bottom: 15px;
        }
    }
}
//------------------------------------------------
//SUB NAV
//------------------------------------------------
.Site {
    //sub menu colours from variables
    @mixin sub-menu-colors($color: $sub-nav-color, $hover: $sub-nav-hover, $hover-bg: $sub-nav-hover-bg, $active: $sub-nav-active, $active-bg: $sub-nav-active-bg ) {
        li a {
            color: $color;

            &:hover,
            &:focus {
                color: $hover;
                background: $hover-bg;
            }

            &.on,
            &.active {
                color: $active;
                background: $active-bg;
            }
        }
    }
    //TOP SUB MENU
    //top sub menu styling
    .top-sub-menu {
        background: $sub-nav-background;
        padding: 0;
        margin: 0;
        border-bottom-width: 0;

        ul {
            padding: 0;
            margin: 0;
            @include navbar-spacing-clean($sub-nav-padding-vertical,$sub-nav-padding-horizontal);
            @include navbar-color-basic($color:$sub-nav-color, $hover: $sub-nav-hover, $hover-bg: $sub-nav-hover-bg, $active: $sub-nav-active, $active-bg: $sub-nav-active-bg );
            @include clearfix;

            li {
                list-style: none;
                margin-left: 0;
                float: left;

                a {
                    display: block;
                }
            }
        }
    }

    .top-sub-menu {
        @if $flex-sub-nav == true {
            @include flex-grow(3);

            ul {
                @include flex-display;
                @include justify-content(flex-end);
            }
        }
    }

    .top-sub-menu {
        @if $sub-nav-background == transparent {
            ul {
                margin-left: -$sub-nav-padding-horizontal;
                margin-right: -$sub-nav-padding-horizontal;
            }
        }
    }
    //SIDE SUB NAV AND MOBILE SUB MENU
    #subMenu,
    .xs-sub-menu .xs-sub-menu-inner {
        @include sub-menu-colors();
        background: $sub-nav-background;
        margin-bottom: $box-margin;

        h4 {
            font-size: 21px;
            padding: $sub-nav-padding-vertical $sub-nav-padding-horizontal;
        }

        li {
            margin-top: 0;
            float: none;

            a {
                padding: $sub-nav-padding-vertical $sub-nav-padding-horizontal;
                border-radius: 0;
            }
        }

        ul ul {
            padding: 0 0 0 $sub-nav-padding-horizontal;

            li a {
                font-size: 0.9em;
            }
        }

        span.menu-link-with-icon {
            position: relative;
            padding-left: 1.5em;
            display: block;

            .space {
                display: none;
            }

            i,
            .nav-icon {
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -0.5em;
            }
        }

        > ul {
            @if $sub-nav-background == transparent {
                margin-left: -$sub-nav-padding-horizontal;
                margin-right: -$sub-nav-padding-horizontal;
            }
        }

        h4 {
            @if $sub-nav-background == transparent {
                padding: 0;
            }
        }
    }

    button.xs-menu-btn {
        float: none;
        margin-bottom: 10px;
    }

    @media (min-width: $screen-md-min) {
        .collapse.dont-collapse-md {
            display: block;
            height: auto !important;
            visibility: visible;
        }
    }

    #subMenuCollapse {
        h4 {
            margin-top: 0;

            @media(max-width:$screen-sm-max) {
                display: none;
            }
        }
    }
}
//------------------------------------------------
//BREADCRUMB
//------------------------------------------------
.Site {
    .breadcrumb {
        background: none;
        font-size: 0.85em;
        margin-top: -$box-margin;

        @media(max-width:$xs-grid-max) {
            margin-top: -$xs-box-margin;
        }

        padding: 10px 0 0 0;
        float: right;
        @include link-color;

        li + li:before {
            color: $text-color;
        }

        li.active {
            color: $text-color;

            a {
                color: $text-color;
            }
        }
    }

    .detail-breadcrumb {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .detail-breadcrumb-wrapper {
        margin-bottom: -$box-margin;
    }
}
//------------------------------------------------
//NAVIGATION MODULES
//------------------------------------------------
.Site {
    .SubPageMenu ul {
        padding-left: 0;

        li {
            list-style-type: none;

            a {
                display: block;
                padding: 15px ($grid-gutter-width/2);
            }
        }
    }

    .panel .SubPageMenu .cols1 {
        a {
            padding: 15px $box-padding-horizontal
        }
    }

    .SubPages .thumbnail {
        background: none;

        .caption {
            padding: 0;
        }
    }

    .SiteMapList ul {
        padding-left: 0;

        li {
            list-style-type: none;
        }

        ul {
            margin-bottom: 10px;
            padding-left: 20px;
        }
    }
}
//------------------------------------------------
//ACCORDION AND TABS
//------------------------------------------------
.Site {
    .ui-accordion h3 i {
        padding-right: 5px;
    }

    .accordion-module,
    .tabbed-module {
        margin-bottom: $box-margin;
    }

    .tabbed-module .nav-tabs {
        margin-bottom: 15px;
    }

    .accordion-module {
        h3 span.caret {
            margin-right: 5px;
        }

        .panel-heading {
            padding-bottom: $box-padding-vertical;
        }

        a {
            i,
            &.open i {
                @include rotate(0deg);
            }

            &.accordion-load i,
            &.collapsed i {
                @include rotate(-90deg);
            }
        }

        .panel {
            padding: 20px 0px;
            margin-bottom: 5px;
        }

        .panel-heading {
            padding-top: 0;
            padding-bottom: 0;
        }

        .panel-body,
        .list-group {
            padding-top: $box-padding-vertical;
        }

        .panel-group .panel-heading + .panel-collapse > .panel-body,
        .panel-group .panel-heading + .panel-collapse > .list-group {
            border-top: 0;
        }

        .cols1, .cols2, .cols3 .cols4, .cols5, .cols6 {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .nav-tabs {
        border-color: $tint-border;

        li {
            a:hover {
                //	background:$stronger-tint;
                //	border-color:$tint-border;
            }

            &.active a {
                border-color: $tint-border;
                border-bottom-color: transparent;

                &:hover {
                    //		background:$body-bg;
                    border-bottom-color: transparent;
                }
            }
        }
    }

    .nav-pills li a:hover {
        background: $stronger-tint;
    }
}

@mixin link-list-clean($color: $link-color, $size: $font-size-base, $padding: 10px ) {
    padding-top: 0;
    padding-bottom: $padding;

    h3.title {
        font-size: $size;
        font-weight: $font-weight-base;
        font-family: $font-family-base;
        margin: 0;

        a {
            color: $color;
        }
    }

    .entryFooter {
        display: none;
    }
}
