//utilities
.hidden {
    display:none;
}
.module-centred {
    display: flex;
    flex-direction: column;
    align-items: center;
}
//end utilities
.layout-title {
    text-align:center;
}
.listItem {
    margin-bottom:$grid-gutter-width;
}
//section.
#pagefooter {
    background:$footer-bg;
    padding-top:$spacer;
}
