html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#mainTable {
    flex-shrink: 0;
}

a {
    text-decoration: none;
}
//images
img {
    max-width: 100%;
    height: auto;
}
//utilities
.hidden {
    display: none;
}

.module-centred {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.module-with-icon > .center-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-btn-footer {
    .lIinner {
        height: 100%;
        display: flex;
        flex-direction: column;

        .entryFooter {
            margin-top: auto;
        }
    }
}
//end utilities
.bannerless-page {
    padding-top: $top-padding;
}

.container-wrapper {
    margin-top: $top-padding;
}

.layout-title {
    text-align: center;
}

// BACKGROUNDS
.section-spacing {
    padding-top: $section-padding;
    padding-bottom: $section-padding - $grid-gutter-y;
    margin-bottom: $grid-gutter-y;
}

section.bg-light,
section.bg-dark,
section.bg-primary {
    @extend .section-spacing;
}

section.bg-dark,
section.bg-primary {
    @extend .text-white;
}

section.bg-primary {
    .btn-primary {
        @extend .btn-dark;
    }

    a {
        @extend .link-light;
    }
}
#header-banner .container {
    display: flex;
    min-height: 140px;
    align-items: center;
    color: #fff;
    text-shadow: 1px 1px #000;
}
// CONTENT LISTS
.date,
.dtstamp {
    font-size: 0.75rem;

    &:before {
        content: '\f073';
        font-family: 'Font Awesome 5 Free';
        color: $primary;
        padding-right: 5px;
    }
}
.entryFooter .tags {
    margin-bottom:$spacer;
}
// LIST ITEMS
.listItem {
    margin-bottom: $grid-gutter-width;

    @if $content-btn-align==true {
        @extend .align-btn-footer;
    }

    img.thumbnail {
        margin-bottom: $image-spacer;
    }
}
// DETAIL PAGES
.imageEnlarge {
    i {
        position: absolute;
        bottom: 0;
        right: 0;
        content: '\f00e';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        padding: 5px;
    }

    span {
        @extend .visually-hidden;
    }
}

.detail-container > .detail {
    @extend .container;

    .picture {
        float: none;
        position: relative;
        margin-bottom: $spacer;
        display: block;

        @include media-breakpoint-up(sm) {
            margin-left: $spacer;
            max-width: 50%;
            float: right;
        }
    }

    .author {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 0.8rem;

        img {
            float: left;
            width: 55px;
            margin-right: 15px;
        }

        p {
            margin-bottom: 0;
        }

        .author-role {
        }
    }

    .socialLinks {
        $social-spacing-detail: 0.5rem;
        //margin-left: -$social-spacing-detail;
        //margin-right: -$social-spacing-detail;
        display:flex;

        a {
            padding-left: $social-spacing-detail;
            padding-right: $social-spacing-detail;
            padding-bottom: $social-spacing-detail;
            display: block;
            float: left;

            &:first-child {
                padding-left:0;
            }
        }
    }
}

.socialBookmarks {
    @include clearfix;
    @extend .container;

    span.bookmark {
        display: block;
        float: left;
        padding-right: 25px;
        min-height: 40px;
        line-height: 1;

        &:last-child {
            padding-right: 0;
        }
    }
    //span.google-bookmark{padding-right:0;}
}

.bottom-left .socialBookmarks,
.bottom-right .socialBookmarks {
    margin-top: $grid-gutter-y;
}

.top-left .socialBookmarks,
.top-right .socialBookmarks {
    margin-bottom: $grid-gutter-y;
}

.align-Right .socialLinks {
    text-align: right;
}

.bottom-right .socialBookmarks,
.top-right .socialBookmarks {
    float: right;
}

.backlink {
    margin-bottom: 0.5rem;

    a {
        &:before {
            content: '\f053';
            font-family: 'Font Awesome 5 Free';
            padding-right: 5px;
            font-weight: 700;
            font-size: 0.7rem;
        }
    }
}
// FOOTER
#pagefooter {
    margin-top: auto;
    background: $footer-bg;
    padding-top: $spacer;

    .footer-nav {
        margin-left: -1rem;
        margin-right: -1rem;
    }
}
