
$header-icon-size:1.3rem;
$footer-bg: $light;
$grid-gutter-y: $grid-gutter-width;
$top-padding: $grid-gutter-y;
$section-padding: $grid-gutter-y * 1.3;
$content-btn-align:false;
$header-spacing:1.4rem;
$image-spacer:1rem;
